.container::after,
.row::after {
  display: block;
  clear: both;
  content: "";
}

.user__name {
  display: inline-block;
}

.user__avatar {
  display: inline-block;
}

.form-search::after {
  display: block;
  clear: both;
  content: "";
}

.form-search__input {
  display: block;
  width: 91% !important;
  float: left;
}

.form-search__label {
  display: block;
}

.header {
  padding-top: 10px;
}

.header::after {
  display: block;
  clear: both;
  content: "";
}

.header-box::after {
  display: block;
  clear: both;
  content: "";
}

.header-box > div {
  float: left;
}

.header-box__logo::after {
  display: block;
  clear: both;
  content: "";
}

.header-user {
  display: inline-block;
  margin-left: 10px;
  vertical-align: top;
}

.header-logo {
  margin-bottom: 0;
}

.header-visit {
  margin-top: 7px;
}

.header-info {
  display: inline-block;
  vertical-align: top;
  padding-top: 0;
}

.header-logowrap {
  float: left;
}

.header-nav-button-inn {
  display: inline-block;
  line-height: 45px;
  vertical-align: middle;
  float: left;
}

.header-nav-button-inn::after {
  display: block;
  clear: both;
  content: "";
}

.header-nav__link span {
  word-break: break-all;
}

.nav-more {
  position: relative;
}

.dropdown-menu {
  top: 100% !important;
}

.setting-form-wrap {
  width: 100%;
  padding-left: 13px;
}

.setting-form-wrap::after {
  display: block;
  clear: both;
  content: "";
}

.setting-form-checkbox {
  margin-bottom: 10px;
  width: 100%;
  max-width: 33.33333333%;
  text-align: left;
  float: left;
}

.menu-left-control.active:before {
  content: '\e906';
  color: #5e6167;
}

.menu-horizontal__list::after {
  display: block;
  clear: both;
  content: "";
}

.menu-horizontal__box {
  float: left;
  display: table;
}

.menu-horizontal__item {
  display: table-cell;
  vertical-align: middle;
}

.header.scroll .header-info::after {
  display: block;
  clear: both;
  content: "";
}

.header.scroll .header-info__time {
  float: left;
  margin-right: 10px;
}