.cards {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	@include clearfix;
}
.card {
	display: block;
  border: none;
	// padding: 0 15px;
	width: 100%;
	height: 100%;
	margin-bottom: 30px;
	background-color: transparent;
  @include clearfix;
	&-color {
		&-light {
			color: $light-color;
		}
	}
	&-wrap {
		display: flex;
		flex-direction: column;
		height: 100%;
		overflow: hidden;
		border-radius: 5px;
		background: #eeefef center no-repeat;
		background-size: cover;
		&-head {
			background-color: transparent;
			padding: 0;
			margin-bottom: 5px;
		}
	}
	&_slim {
		margin-bottom: 15px;
	}
	&_advant-news {
		border-bottom: 3px solid $dark-color;
	}
	&__videobox{
		position: relative;
		cursor: pointer;
		@include before {
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: #000000;
			opacity: 0.3;
			transition: opacity 0.4s;
		}
		@include after {
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: url('../img/icon/play-btn.svg') center no-repeat;
			background-size: auto 20%;
			transition: opacity 0.4s;
			opacity: 0.6;
			
		}
		@include hover {
			&:before {
				opacity: 0.1;
			}
			&:after {
				opacity: 1;
			}
		}
	}
	&__imgwrap {
		margin-bottom: 30px;
		@include clearfix;
		&_slim {
			margin-bottom: 15px;
		}
		&.margin-bottom-15 {
			margin-bottom: 15px;
		}
		&:last-child {
			margin-bottom: 0;
		}
	}
	&__imgbox {
		position: relative;
		min-height: 210px;
		overflow: hidden;

		border-radius: 5px;		
		background: $light-color center no-repeat;
		background-size: cover;
		&[data-toggle="modal"] {
			cursor: pointer;
		}
		img {
			display: none;
		}
		&_xl {
			height: 360px;
		}
		&_lg {
			height: 300px;
		}
		&_md {
			height: 280px;
		}
		&_sm {
			height: 210px;
		}
		&_xs {
			height: 135px;
			min-height: 135px;
		}
		&_full {
			height: 300px;
			width: 100%;
		}
		&_third {
			float: left;
			width: calc(33.33333% - 10px);
			margin-right: 15px;
			&:last-child {
				margin-right: 0;
			}
		}
		&_twothird {
			float: left;
			width: calc(66.66666% - 5px);
			margin-right: 15px;
			&:last-child {
				margin-right: 0;
			}
		}
		&_half {
			float: left;
			width: calc(50% - 7.5px);
			margin-right: 15px;
			&:last-child {
				margin-right: 0;
			}
		}
	}
	&-image {
		border-radius: 5px;
		overflow: hidden;
		// width: 1110px;
	}
	&-warning-text {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		padding: 6px 15px;
		background-color: $special-color;
		color: $light-color;
		font-size: 11px;
		font-weight: 400;
		p {
			font-size: 11px;
			margin-bottom: 0;
		}
	}
	&-succes-text {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		padding: 6px 15px;
		background-color: $success-color;
		color: $light-color;
		font-size: 11px;
		font-weight: 400;
		p {
			font-size: 11px;
			margin-bottom: 0;
		}
	}
	&-average-text {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		padding: 6px 15px;
		background-color: #D99D1B;
		color: $light-color;
		font-size: 11px;
		font-weight: 400;
		p {
			font-size: 11px;
			margin-bottom: 0;
		}
	}

	&__content {
		padding: 15px 20px 20px;
		display: flex;
		flex-direction: column;
		height: 100%;
		&_sm {
			margin-top: 210px;
			background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.14) 14%, #000000 100%);
		}
		.tagbox {
			margin-bottom: 20px;
		}
	}
	&__info {
		padding: 15px 30px 30px;
		&_xl{
			margin-top: 360px;
		}
		&_light {
			position: relative;
			z-index: 1;
			@include after {
				z-index: -1;
				bottom: 0;
				left: 0;
				width: 100%;
				height: 209px;
				border-radius: 5px;
				background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.14) 14%, #000000 100%);
			}
			.content-titlebox {
				color: #fbfbfb;
			}
			.card__text {
				color: #d0d1d3;
			}
			.card-slider-number {
				color: #bcbdc0;
			}
		}
	}
	&__title {
		min-height: 38px;
		margin-bottom: 15px;
		font-family: "PT Serif", serif;
		font-size: 17px;
		&>h1, &>h2, &>h3, &>h4, &>h5 {
      font-size: 38px;
		}
		a {
			display: block;
			max-height: 45px;
			overflow: hidden;
			text-overflow: ellipsis;

			@include hover {
				text-decoration: underline;
			}
		}

	}
	&__text {
		position: relative;
		display: flex;
		flex-direction: column;
		height: 100%;
		font-family: "PT Serif", serif;
		font-size: 16px;
		font-weight: 400;
		line-height: 23px;
		p {
			font-size: 17px;
			margin-bottom: 15px;
			&:last-child {
				margin-bottom: 0;
			}
		}
		h3 {
			margin-bottom: 18px;
			font-size: 22px;
		}
	}
	&-date {
		margin-top: auto;
		color: $thin-color;
		font-size: 12px;
		font-weight: 400;
		&_light {
			color: $light-color;
		}
		&_big {
			font-size: 15px;
		}
	}
	&__more {
		display: none;
		// visibility: hidden;
		margin-left: auto;
		margin-top: auto;
		padding-left: 44px;
		padding-right: 44px;
		font-family: "Roboto", sans-serif;
	}

	&-logos{
		@include clearfix;
	}
	&-logo {
		float: left;
		margin-bottom: 15px;
		padding-right: 15px;
		box-sizing: content-box;
		&:nth-child(5n) {
			padding-right: 0;
		}
		&__imgbox {
			display: inline-block;
			width: 155px;
			height: 120px;
			line-height: 90px;
			vertical-align: middle;
			border-radius: 5px;
			border: 1px solid #dddee0;
			padding: 15px;
			text-align: center;
			img {
				vertical-align: middle;
			}
			@include hover {
				border: 2px solid $thin-color;
				padding: 14px;
			}
		}
	}

	&-hr {
		border: none;
		height: 1px;
		background-color: #707070;
		opacity: 0.4;
	}

	&-slider {
		overflow: hidden;
		// margin-left: 15px;
		// margin-right: 15px;
		// padding: 0;
		// flex: auto;
		border-radius: 5px;
		&-wrap {
			margin-left: -15px;
			margin-right: -15px;
			background-color: transparent;
			font-size: 0;
			overflow: hidden;		
		}
		&__item {
			padding-left: 15px;
			padding-right: 15px;
		}
		&-number {
			text-align: right;
			color: $thin-color;
			font-family: "Roboto", sans-serif;
			font-size: 16px;
			font-weight: 400;
		}
	}

	&-full {
		&-head {
			background-color: #fff;
			margin-bottom: 0;
			&_special {
				width: 100%;
				margin-bottom: 15px;
			}
		}
		&__imgbox {
			min-height: 395px;
		}
		&__title {
			font-size: 40px;
			margin-top: -15px;
			margin-bottom: 5px;
			a {
				max-height: none;
			}		
		}
		&__text {
			margin-bottom: 15px;
			font-family: "PT Serif", serif;
			font-size: 17px;
		}
		&_imgbg {
			.card__content {
				margin-top: 355px;
				padding-top: 55px;
				background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.14) 14%,rgba(0,0,0,1) 100%); 
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 );
			}
		}
		&-slider {
			overflow: hidden;
			background-color: #fff;
			//margin-left: 15px;
			//margin-right: 15px;
			padding: 0;
			flex: auto;
			border-radius: 5px;
			&-wrap {
				display: block;
				margin-left: -15px;
				margin-right: -15px;
				background-color: transparent;
				font-size: 0;
				overflow: hidden;		
			}
			&__item {
				padding-left: 15px;
				padding-right: 15px;
			}
			&__itembox {
				&_dark {
					border: 1px solid #dddee0;
					background-color: #f4f5f5;
				}
			}
			&__imgbox {
				min-height: 210px;
			}
		}
	}
	&-third {
		max-width: 33.333333%;
		flex: 0 0 33.333333%;
		// &-wrap {
		// }
		&__imgbox, &-slider__imgbox {
			// margin-left: -15px;
			// margin-right: -15px;
			min-height: 210px;
		}
		&__content {
			//padding-left: 15px;
			//padding-right: 15px;

		}
		&_fullHeightImg {
			color: $light-color;
			.card-third__content {
				margin-top: 210px;
				background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.14) 14%, #000000 100%);
			}
		}
		&-slider {
			&__item {
				position: relative;
				@include after {
					z-index: -1;
					left: 15px;
					right: 15px;
					top: 0;
					height: 100%;
					border: 1px solid #dddee0;
					border-radius: 5px;

				}
			}
		}
	}
	&-half {
		&-imgbox {
			min-height: 260px;
			background: no-repeat center;
			background-size: cover;
		}
		&_imgbg {
			.card__content {
				margin-top: 220px;
				padding-top: 55px;
				background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.14) 14%,rgba(0,0,0,1) 100%); 
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 );
			}
		}
		&__text {
			padding-top: 15px;
			max-height: 305px;
		}

		&-slider {
			overflow: hidden;
			background-color: #fff;
			// margin-left: 15px;
			// margin-right: 15px;
			padding: 0;
			flex: auto;
			border-radius: 5px;
			&-wrap {
				margin-left: -15px;
				margin-right: -15px;
				background-color: transparent;
				font-size: 0;
				overflow: hidden;		
			}
			&__item {
				padding-left: 15px;
				padding-right: 15px;
			}
			&__imgbox {
				min-height: 330px;
			}
		}
	}
	&TwoThirds {
		max-width: 66.666667%;
		flex: 0 0 66.666667%;
		&__imgbox {
			min-height: 210px;
		}

		&_fullHeightImg {
			color: $light-color;
			.card__content {
				margin-top: 170px;
				padding-top: 55px;
				background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.14) 14%,rgba(0,0,0,1) 100%); 
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 );
			}
		}
		&__text {
			max-height: 210px;
		}
	}
	&Min {
		max-width: 19.54%;
		flex: 0 0 19.54%;
		&__imgbox {
			height: 132px;
		}
	}
	&MinOther {
		max-width: 80.46%;
		flex: 0 0 80.46%;
		&__text {
			max-height: 132px;
			
		}
	}
	&Fifth {
		&-slider {
			&-wrap {
				margin-left: -7.5px;
				margin-right: -7.5px;
			}
			&__item {
				padding-left: 7.5px;
				padding-right: 7.5px;
			}
			&__imgbox {
				min-height: 210px;
			}
			.slider-arrow {
				&__left {
					left: 7.5px;
				}
				&__right {
					right: 7.5px;
				}
			}
		}
	}
}
.card-number-elem {
	cursor: pointer;
	@include hover {
		color: $light-color;
	}
}
.card-links{
	&-wrap {
		display: flex;
	}
	&__img {
		max-width: 100px;
		padding-left: 15px;
		padding-right: 15px;
		text-align: center;
	}
	&__items {
		padding-left: 15px;
	}
	&__lnkbox {
		color: $dark-color;
		font-family: "PT Serif", serif;
		font-size: 20px;
		font-weight: 400;
		line-height: 20px;
		margin-bottom: 5px;
		&:last-child {
			margin-bottom: 0;
		}
	}
	& a {
		color: inherit;
		font-size: 20px;
		font-weight: inherit;
		transition: color 0.2s;
		@include hover {
			color: #000000;
			text-decoration: underline;
		}
	}
}