.cards {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	@include clearfix;
}
.card {
	padding: 0 15px;
	width: 100%;
	margin-bottom: 30px;
	@include clearfix;
	&-wrap {
		display: flex;
		flex-direction: column;
		height: 100%;
		overflow: hidden;		
		border-radius: 5px;
		background: #eeefef center no-repeat / cover;
		&-head {
			background-color: transparent;
			padding: 0;
			margin-bottom: 5px;
		}
	}
	&__imgbox {
		position: relative;
		border-radius: 5px;		
		background: $light-color center no-repeat / cover;
		overflow: hidden;
	}
	&-warning-text {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		padding: 6px 15px;
		background-color: $special-color;
		color: $light-color;
		font-size: 11px;
		font-weight: 400;
		p {
			font-size: 1em;
		}
	}
	&__content {
		padding: 15px 20px 20px;
		display: flex;
		flex-direction: column;
		height: 100%;
	}
	&__title {
		margin-bottom: 15px;
		font-family: "PT Serif", serif;
		font-size: 17px;
		& h1, h2, h3, h4, h5, a {
			font-size: 1em;
		}
		a {
			display: block;
			max-height: 38px;
			overflow: hidden;
			text-overflow: ellipsis;
			@include hover {
				text-decoration: underline;
			}
		}
	}
	&__text {
		position: relative;
		display: flex;
		flex-direction: column;
		height: 100%;
		font-family: "PT Serif";
		font-size: 16px;
		font-weight: 400;
		line-height: 23px;
		p {
			font-size: 1.0625em;
			margin-bottom: 15px;
			&:last-child {
				margin-bottom: 0;
			}
		}
		h3 {
			margin-bottom: 18px;
			font-size: 1.375em;
		}
	}
	&-date {
		margin-top: auto;
		color: $thin-color;
		font-size: 12px;
		font-weight: 400;
		&_light {
			color: $light-color;
		}
		&_big {
			font-size: 15px;
		}
	}
	&__more {
		display: none;
		// visibility: hidden;
		margin-left: auto;
		margin-top: auto;
		padding-left: 44px;
		padding-right: 44px;
		font-family: Roboto;
	}

	&-logos{
		// display: flex;
		// flex-wrap: wrap;
		@include clearfix;
	}
	&-logo {
		float: left;
		margin-bottom: 15px;
		padding-right: 15px;
		box-sizing: content-box;
		&:nth-child(5n) {
			padding-right: 0;
		}
		&__imgbox {
			display: inline-block;
			width: 155px;
			height: 120px;
			line-height: 90px;
			vertical-align: middle;
			border-radius: 5px;
			border: 1px solid #dddee0;
			padding: 15px;
			text-align: center;
			img {
				vertical-align: middle;
			}
			@include hover {
				border: 2px solid $thin-color;
				padding: 14px;
			}
		}
	}


	&Full {
		max-width: 100%;
		flex: 0 0 100%;
		&-head {
			background-color: #fff;
			margin-bottom: 0;
			&_special {
				width: 100%;
				margin-bottom: 15px;
			}
		}
		&__imgbox {
			min-height: 395px;
		}
		&__title {
			font-size: 40px;
			margin-top: -15px;
			margin-bottom: 5px;
			a {
				max-height: none;
			}		
		}
		&__text {
			margin-bottom: 15px;
			font-family: "PT Serif", serif;
			font-size: 17px;
		}
		&_fullHeightImg {
			color: $light-color;
			.cardFull__content {
				margin-top: 355px;
				padding-top: 55px;
				background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.14) 14%,rgba(0,0,0,1) 100%); 
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 );
			}
		}
	}


	&Third {
		width: 33.333333%;
		flex: 0 0 33.333333%;
		&-wrap {
		}
		&__imgbox {
			// margin-left: -15px;
			// margin-right: -15px;
			min-height: 210px;
		}
		&__content {
			padding-left: 15px;
			padding-right: 15px;

		}
		&_fullHeightImg {
			color: $light-color;
			.cardThird__content {
				margin-top: 210px;
				background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.14) 14%, #000000 100%);
			}
		}
	}
	&Half {
		width: 50%;
		flex: 0 0 50%;
		&-imgbox {
			min-height: 260px;
			background: no-repeat center / cover;
		}
		&_fullHeightImg {
			color: $light-color;
			.cardHalf__content {
				margin-top: 220px;
				padding-top: 55px;
				background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.14) 14%,rgba(0,0,0,1) 100%); 
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 );
			}
		}
		&__text {
			padding-top: 15px;
			max-height: 305px;
		}
	}
	&TwoThirds {
		width: 66.666667%;
		flex: 0 0 66.666667%;
		&__imgbox {
			min-height: 210px;
		}

		&_fullHeightImg {
			color: $light-color;
			.cardTwoThirds__content {
				margin-top: 170px;
				padding-top: 55px;
				background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.14) 14%,rgba(0,0,0,1) 100%); 
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 );
			}
		}
		&__text {
			max-height: 210px;
		}
	}
	&Min {
		max-width: 19.54%;
		flex: 0 0 19.54%;
		&__imgbox {
			height: 132px;
		}
	}
	&MinOther {
		max-width: 80.46%;
		flex: 0 0 80.46%;
		&__text {
			max-height: 132px;
			
		}
	}
}