.widget {
	&-box {
		margin-bottom: 15px;
		margin-top: 0;

		border-radius: 5px;
	}
	&_fix-height-240 {
		height: 240px;
		@include lg-block {
			height: 185px;
		}
		@include md-block {
			height: 140px;
		}
	}
	&-items {
		flex-wrap: nowrap;
		justify-content: flex-end;
	}
	&-item {
		position: relative;
		z-index: 1;
		flex-shrink: 1;
		padding: 5px 10px;
		margin-right: -10px;
		overflow: hidden;
		white-space: nowrap;
		color: #bcbdc0;
		font-size: 12px;
		font-weight: 300;
		border-radius: 5px 5px 0 0;
		border: 1px solid #dddee0;
		background-color: #fbfbfb;

		&:first-child {
			z-index: 2;
			&.active, &:hover{
				margin-right: -10px;
				min-width: 103px;
				text-align: center;
			}
		}
		&:not(:last-child), &:not(:first-child ) {
			z-index: 3;
		}
		&:last-child {
			z-index: 1;
			margin-left: -10px;
			margin-right: 0;
			text-align: right;
			direction: rtl;
			&.active, &.active:hover {
				text-align: left;
				direction: ltr;
			}
		}
		&.active, &:hover {
			z-index: 10;
			flex-shrink: 0;
			margin-right: 0;
			margin-left: 0;
			color: $basic-color;
			font-size: 12px;
			font-weight: 400;
			background-color: #f4f5f5;
			border-bottom-color: transparent;
		}
		&_fixfirsttab {
			&:first-child {
				&.active, &:hover {
					margin-right: 0;
				}
			}
		}
	}
	&-tabs {

	}
	&-imgbox {
		position: relative;
		overflow: hidden;
		// min-height: 125px;
		background: center no-repeat;
		background-size: cover;
		&_calendar {
			margin-top: auto;
			height: 100%;
			max-height: 115px;
		}
		img {

		}
		&_full {
			height: 180px;
			margin-bottom: 10px;
			@include lg-block {
				height: 150px;
			}
			@include md-block {
				height: 100px;
			}
		}
		&__text {
			position: absolute;
			left: 0;
			bottom: 0;
			z-index: 10;
			width: 100%;
			min-height: 60px;
			padding: 25px 15px 15px;
			font-size: 16px;
			background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.14) 14%, #000000 100%);
			h3 {
				margin-bottom: 3px;
				font-family: "Roboto", sans-serif;
				color: $light-color;
				font-size: 18px;
				font-weight: 400;

			}

			p {
				color: #bcbdc0;
				font-size: 16px;
				font-weight: 400;
			}
		}
	}
	&-content {
		display: flex;
		padding: 15px;
		background-color: #f4f5f5;
		border-radius: 0 0 5px 5px;
		border: 1px solid #dddee0;
		border-top: none;
		@include lg-block {
			padding: 10px;
		}
		&_bdtop {
			border-radius: 5px;
			border-top: 1px solid #dddee0;
		}
		&_dblock {
			display: block;
		}
		&_ads {
			min-height: 315px;
			@include lg-block {
				min-height: 275px;
			}
			@include md-block {
				min-height: 175px;
			}
		}
		&__left {
			display: flex;
			flex-grow: 1;
			flex-direction: column;
			padding-right: 10px;
		}
		&__right {
			max-width: 114px;
			text-align: right;
			@include lg-block {
				max-width: 45%;
			}
		}
	}
	&-footer {
		margin-top: auto;
	}
	&-title {
		position: relative;
		display: block;
		margin-bottom: 10px;
		color: $dark-color;
		font-size: 14px;
		line-height: 17px;
		font-weight: 300;
		@include lg-block {
			margin-bottom: 5px;
			font-size: 11px;
			line-height: 1.4;
		}
		@include md-block {
			font-size: 7px;

		}
		&_link {
			@include hover {
				text-decoration: underline;
			}
		}
	}
	&-subtitle {
		position: relative;
		margin-top: 7px;
		margin-bottom: 15px;
		color: $dark-color;
		font-size: 13px;
		font-weight: 400;
		@include lg-block {
			font-size: 9px;
			line-height: 1.2;
		}
		@include md-block {
			margin-top: 5px;
			margin-bottom: 10px;
			font-size: 8px;
		}
	}
	&-link {
		color: $dark-color;
		font-size: 12px;
		line-height: 14px;
		font-weight: 400;
		@include lg-block {
			font-size: 9px;
			line-height: 1.2;
		}
	}
	&-group {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: -5px;
		margin-right: -10px;
		margin-top: 20px;
		&_special {
			margin-top: 5px;
			margin-bottom: -15px;
		}
	}
	&-text {
		color: $dark-color;
		font-size: 12px;
		font-weight: 400;
		@include lg-block {
			font-size: 8px;
		}
		@include md-block {
			font-size: 6px;
		}
		p {
			margin-bottom: 2px;
			&:last-child {
				margin-bottom: 0;
			}
		}
		h4 {
			font-family: "Roboto", sans-serif;
			font-size: 14px;
			font-weight: 400;
			@include md-block {
				font-size: 10px;
			}
		}
		&_small {
			color: #9a9da1;
			font-size: 11px;
			line-height: 13.2px;
			font-weight: 400;
		}
		&_count {
			color: #32363f;
			font-size: 37px;
			font-weight: 300;
		}
		&_big {
			font-size: 18px;
			font-weight: 400;
			@include lg-block {
				font-size: 14px;
			}
			@include md-block {
				font-size: 11px;
			}
		}
		&.danger {
		  color: $special-color;
		}
		&.succes {
		  color: $success-color;
		}
	}
}

.widget-slider {
		margin-left: -7.5px;
		margin-right: -7.5px;
	&-wrap {
		overflow: hidden;
	}
	&__tab {
		padding-left: 7.5px;
		padding-right: 7.5px;
	}
	&__content {
		border-radius: 5px;
		border: 1px solid #dddee0;
	}
	&-arrow	 {
		width: 15px;
		@include lg-block {
			width: 10px;
		}
		@include md-block {
			width: 10px;
		}
		&__left {
			left: 7.5px;
			background-size: 50%;
		}
		&__right {
			right: 7.5px;
			background-size: 50%;
		}
	}
}
