.widget-calendar {
	padding: 15px;
	margin-top: 25px;
	border-radius: 5px;
	background-color: #f4f5f5;
	height: 238px;
	@include lg-block {
		padding: 10px;
		height: 190px;
	}
	@include sm-block {
		height: 150px;
	}
	// &-change {
	// 	height: 20px;
	// 	background-color: red;
	// }
	&.widget-box {
		width: auto;
		border: 1px solid #dddee0;
		background-color: #f4f5f5;
		.ui-state-active {
			background-color: transparent;
		}
		.ui-datepicker {
			display: block;
			padding: 0;
			margin-left: -2px;
		}
	}
	.ui-datepicker {
		width: 100%;
	}
	table {
		font-size: 14px;
		margin-bottom: 0;
	}
	.ui-datepicker-title {
		color: $dark-color;
		font-size: 13px;
		font-weight: 400;
	}
	.ui-datepicker-prev, .ui-datepicker-next {
		@include before('\e901') {
			top: 50%;
			left: 50%;
			margin-top: -6px;
			margin-left: -6px;
			width: 12px;
			height: 12px;
			@include icon;
			font-size: 10px;			
		}
	}
	.ui-datepicker-prev {
		&:before {
			transform: rotate(90deg);
		}
	}
	.ui-datepicker-next {
		&:before {
			transform: rotate(-90deg);
		}
	}
	.ui-datepicker-calendar {
		td {
			padding: 2.5px;
			@include sm-block {
				padding: 1px;
			}
		}
	}

	.ui-datepicker-today {
		.ui-state-default {
			border: 1px solid $special-color;
			color: $special-color;
		}
	}
	.ui-state-default {
		text-align: center;
		border: 1px solid #d0d1d3;
		color: #bcbdc0;
		font-size: 16px;
		@include hover {
			background-color: $btn-hov-bg-color;
			color: $light-color;
		}
		@include lg-block {
			font-size: 11px;
		}
		@include sm-block {
			font-size: 8px;
		}
	}
	.ui-state-week {
		color: #bcbdc0;
		font-size: 10px;
		font-weight: 300;
		@include lg-block {
			font-size: 8px;
		}
		@include sm-block {
			font-size: 6px;
		}
	}
	.ui-state-active {
		border: 1px solid #32363f;
	}
	.ui-state-hover {

	}
	.ui-datepicker-buttonpane {
		margin: 0;
		button {
			padding: 3px 5px 4px 5px;
			min-width: 86px;
			margin-right: 1px;
			background-color: $btn-bg-color;
			color: $btn-color;
			font-size: 13px;
			line-height: 15px;
			text-align: center;  
			text-transform: capitalize;
			border-radius: 5px;
			transition: 0.5s;

			@include hover {
				background-color: $btn-hov-bg-color;
				color: $btn-hov-color;
			}
		}
		
	}
	.form-filters__select {
		margin-left: auto;
		margin-right: auto;
		display: block;
		margin-top: 40px;
	}
}
.events {
	display: none;
	height: 125px;
	margin-top: -5px;
	@include sm-block {
		height: 100px;
	}
}
.event {
	display: flex;
	flex-direction: column;
	height: 100%;
	&-nav {
		position: absolute;
		right: 0;
		top: 0;
	}
	&-title {
		margin-bottom: 10px;
		font-family: "PT Serif", serif;
		color: $basic-color;
		font-size: 18px;
		line-height: 18px;
		font-weight: 400;
		@include lg-block {
			font-size: 16px;
		}
		@include sm-block {
			font-size: 9px;
			line-height: 1.4;
			margin-bottom: 5px;
		}
	}
	&-control {
		position: absolute;
		right: 0;
		top: 0;
		display: none;
		color: #E0E1E2;
		transform: rotate(90deg);
		i {
			color: inherit;
			&:before {
				color: inherit;
			}
		}
	}
}