.card.cardFull.cardFull-slider
	.cardFull-slider-wrap.card-wrap.cardFull-wrap
		.cardFull-slider__item
			.card__imgwrap
				.card__imgbox.card__imgbox_third(style='background-image: url(img/article-img-01.jpg)')
				.card__imgbox.card__imgbox_twothird(style='background-image: url(img/article-img-02.jpg)')
		.cardFull-slider__item
			.card__imgwrap
				.card__imgbox.card__imgbox_third(style='background-image: url(img/article-img-01.jpg)')
				.card__imgbox.card__imgbox_twothird(style='background-image: url(img/article-img-02.jpg)')