.card.card-slider.card-third-slider
	.card-wrap.card-slider-wrap.card-third-slider-wrap

		- var items = [];
		- items.push({url: 'background-image: url(img/blog-img-01.jpg);', title: 'Как вам прошедший концерт?', buttonTitle: 'Константинов Константин'});
		- items.push({url: 'background-image: url(img/blog-img-02.jpg);', title: 'Хочется лета, а вокруг одни офисы! Поеду на Ямайку!', buttonTitle: 'Мацинова Елена'});
		- items.push({url: 'background-image: url(img/blog-img-03.jpg);', title: 'После работы надо обязательно поработать ра...', buttonTitle: 'Андреевский Андрей'});
		- items.push({url: 'background-image: url(img/blog-img-02.jpg);', title: 'Хочется лета, а вокруг одни офисы! Поеду на Ямайку!', buttonTitle: 'Мацинова Елена'});
		- items.push({url: 'background-image: url(img/blog-img-01.jpg);', title: 'Как вам прошедший концерт?', buttonTitle: 'Андреевский Андрей'});
		each item in items
			.card-slider__item.card-third-slider__item
				.card-third-slider__imgbox.card__imgbox(style=item.url)
					.card-warning-text.hide
						p
				.card__content.card-third__content.padding-all-15
					.tagbox
						.tag
							button.button.button-tag= item.buttonTitle
						.like-card
							button.like-button.comment-button
								i.icon-comment
								span.like-count 23
							button.like-button
								i.icon-like
								span.like-count 1286
					.card__title.card-third__title
						a(href='#')=item.title
					.card-date
						span 24 Сентября 2018