.card.cardFull.cardFull-slider
	.cardFull-slider-wrap.card-wrap.cardFull-wrap
		.cardFull-slider__item
			.card__imgbox.card__videobox.card__imgbox_xl(style='background-image: url(img/news-twothirds-img-01.jpg);')
		.cardFull-slider__item
			.card__imgbox.card__videobox.card__imgbox_xl(style='background-image: url(img/article-img-01.jpg);') 