-var cardSettings = {};
.row
	.col-12
		.card.card-half-slider
			.card-half-slider-wrap.card-wrap
				.card-half-slider__item
					.card-half-slider__imgbox.card__imgbox(class=cardSettings.advantClass, style='background-image: url(img/card-gif.gif);')
				.card-half-slider__item
					.card-half-slider__imgbox.card__imgbox(class=cardSettings.advantClass, style='background-image: url(img/news-half-full-img-01.jpg);')
				.card-half-slider__item
					.card-half-slider__imgbox.card__imgbox(class=cardSettings.advantClass, style='background-image: url(img/news-half-full-img-01.jpg);')
				.card-half-slider__item
					.card-half-slider__imgbox.card__imgbox(class=cardSettings.advantClass, style='background-image: url(img/card-gif.gif);')