.card.cardFull.cardFull-slider
	.cardFull-slider-wrap.card-wrap.cardFull-wrap
		.cardFull-slider__item
			.article-imgwrap
				.article-imgbox.article-imgbox_twothird(style='background-image: url(img/article-img-02.jpg)')
				.article-imgbox.article-imgbox_third(style='background-image: url(img/article-img-01.jpg)')
		.cardFull-slider__item
			.article-imgwrap
				.article-imgbox.article-imgbox_twothird(style='background-image: url(img/article-img-02.jpg)')
				.article-imgbox.article-imgbox_third(style='background-image: url(img/article-img-01.jpg)')