.cards
	.card.card-full-head_special
		.content-title
			.content-titlebox_dark
				h2 Галерея - "Фотоотчет", тип "3х3"

		.content-title
			.content-titlebox
				h2 Новые технологии на ВМЗ в 2019

	.card.card_slim
		- var text= '24 Сентября 2018';
		include ../modules/_tag-box
	include _card-third-slider-3x3