.cards.cards-half
	.card.cardHalf.cardHalf_fullHeightImg
		.card-wrap.cardHalf-wrap(style='background-image: url(img/news-half-full-img-01.jpg);')
			.card__content.cardHalf__content
				.tagbox
					.tag
						button.button.button-tag.button-tag-o.button-tag-o_light Отдельные новости
					.like-card
						button.like-button.like-button_light.comment-button
							i.icon-comment
							span.like-count 23
						button.like-button.like-button_light
							i.icon-like
							span.like-count 1286
				.card__title.cardHalf-title
					a(href='#')
						| Насосно-компрессорные 
						br
						| трубы ТЭСЦ-1 
						br
						| трубы ТЭСЦ-1
				.card-date.card-date_light
					span 24 Сентября 2018
	.card.cardHalf
		.card-wrap.cardHalf-wrap
			.cardHalf-imgbox.card__imgbox(style='background-image: url(img/news-half-img-01.jpg);')
				.card-warning-text.hide
					p
			.card__content.cardHalf__content
				.tagbox
					.tag
						button.button.button-tag.button-tag-o Новости ПС
					.like-card
						button.like-button.comment-button
							i.icon-comment
							span.like-count 23
						button.like-button
							i.icon-like
							span.like-count 1286
				.card__title.cardHalf-title
					a(href='#')
						| Насосно-компрессорные 
						br
						| трубы ТЭСЦ-1
				.card-date
					span 24 Сентября 2018