.card.cardFull.cardFull-slider
	.cardFull-slider-wrap.card-wrap.cardFull-wrap
		.cardFull-slider__item
			.cardFull-slider__imgbox.card__imgbox(style='background-image: url(img/news-twothirds-img-01.jpg);')
		.cardFull-slider__item
			.cardFull-slider__imgbox.card__imgbox(style='background-image: url(img/article-img-01.jpg);')