.card
	.content-title
		.content-subtitle.margin-top-10
			h2
				| Ноябрь,
				span  2018
		.content-subtitle.content-subtitle_right
			h3
				span < Сегодня: 20 Ноября >
	#pageCalendar.card-calendar

//.card.card-calendar.hide
	.content-title
		.content-subtitle.margin-top-10
			h2
				| Ноябрь, 
				span 2018
		.content-subtitle.content-subtitle_right
			h3
				span < Сегодня: 20 Ноября >
	.calendar-wrap
		table.calendar
			thead
				tr
					th ПН
					th ВТ
					th СР
					th ЧТ
					th ПТ
					th СБ
					th ВС
			tbody
				tr
					td.calendar__day
						p 29
					td.calendar__day
						p 30
					td.calendar__day
						p 31
					td.calendar__day
						p 1
					td.calendar__day
						p 2
					td.calendar__day.calendar__weekend
						p 3
					td.calendar__day.calendar__weekend
						p 4
				tr
					td.calendar__day
						p 5
					td.calendar__day(data-placement='right', data-toggle='tooltip', data-html='true', title='<p>День металлурга</p> \
					<p>День поедателей йогуртов</p> \
					<p>День металлурга 2</p>')
						a.calendar__link(href='calendar.html#events-06-10-2018')
							p 6
							span.calendar__caption 3 события
					td.calendar__day
						p 7
					td.calendar__day
						p 8
					td.calendar__day
						a(href='#')
							p 9
					td.calendar__day.calendar__weekend
						p 10
					td.calendar__day.calendar__weekend
						p 11
				tr
					td.calendar__day
						p 12
					td.calendar__day
						p 13
					td.calendar__day(data-placement='right', data-toggle='tooltip', data-html='true', title='<p>День металлурга</p> \
					<p>День поедателей йогуртов</p> \
					<p>День металлурга 2</p>')
						a.calendar__link(href='calendar2.html#events-14-10-2018')
							p 14
							span.calendar__caption 3 события
					td.calendar__day.calendar__day_special
						p 15
					td.calendar__day
						p 16
					td.calendar__day.calendar__weekend
						p 17
					td.calendar__day.calendar__weekend
						p 18
				tr
					td.calendar__day
						p 19
					td.calendar__day.calendar__today
						div
							p 20
							span.calendar__caption Сегодня
					td.calendar__day
						p 21
					td.calendar__day
						p 22
					td.calendar__day
						div
							p 23              
					td.calendar__day.calendar__weekend(data-placement='right', data-toggle='tooltip', data-html='true', title='<p>День поедателей йогуртов</p>')
						a.calendar__link(href='calendar3.html#events-24-10-2018')
							p 24
							span.calendar__caption 1 событие
					td.calendar__day.calendar__weekend.calendar__day_major
						a(href='#')
							p 25
							span.calendar__caption Важное событие
				tr
					td.calendar__day
						p 26
					td.calendar__day
						p 27
					td.calendar__day
						p 28
					td.calendar__day
						p 29
					td.calendar__day
						p 30
					td.calendar__day.calendar__weekend
						p 1
					td.calendar__day.calendar__weekend
						p 2
