.cards
	.card.card-full-head_special
		.content-title
			.content-titlebox_dark
				h2 Галерея - "Слайдер", тип "2.3"

		.content-title
			.content-titlebox
				h2 Новые технологии на ВМЗ в 2019

	.card.card_slim
		- var text= '24 Сентября 2018';
		include ../modules/_tag-box
		- var cardSettings = {advantClass: 'card__imgbox_sm'};
	include _card-half-slider-galery