.card.cardFull
	.card-wrap.cardFull-wrap.card_advant-news
		.cardFull__imgbox.card__imgbox(style='background-image: url(img/news-full.jpg);')
			.card-warning-text.hide
				p
		.card__content.cardFull__content
			.tagbox
				.tag
					button.button.button-tag Новости ОМК
				.like-card
					button.like-button.comment-button
						i.icon-comment
						span.like-count 23
					button.like-button
						i.icon-like
						span.like-count 1286
			.card__title.cardFull__title
				a(href='#') Хороший старт!
			.card__text.cardFull__text
				p
					| Беговая команда ОМК в этом году впервые в истории приняла участие в Московском марафоне
			.card-date
				span 24 Сентября 2018