.cards.cards-third
	.card.cardThird
		.card-wrap.cardThird-wrap
			.cardThird__imgbox.card__imgbox(style='background-image: url(img/news-third-01.jpg);')
				.card-warning-text.hide
					p
			.card__content.cardThird__content
				.tagbox
					.tag
						button.button.button-tag Региональные новости
					.like-card
						button.like-button.comment-button
							i.icon-comment
							span.like-count 23
						button.like-button
							i.icon-like
							span.like-count 1286
				.card__title.cardThird__title
					a(href='#')
						| Насосно-компрессорные 
						br
						| трубы ТЭСЦ-1 трубы ТЭСЦ-1 трубы ТЭСЦ-1 трубы ТЭСЦ-1 трубы ТЭСЦ-1 трубы ТЭСЦ-1 трубы ТЭСЦ-1 трубы ТЭСЦ-1 трубы ТЭСЦ-1 трубы ТЭСЦ-1 трубы ТЭСЦ-1 трубы ТЭСЦ-1 трубы ТЭСЦ-1 трубы ТЭСЦ-1
				.card-date
					span 24 Сентября 2018
	.card.cardThird
		.card-wrap.cardThird-wrap
			.cardThird__imgbox.card__imgbox(style='background-image: url(img/news-third-02.jpg);')
				.card-warning-text
					p Оценка: ПЛОХО!
			.card__content.cardThird__content
				.tagbox
					.tag
						button.button.button-tag Новости ПС
					.like-card
						button.like-button.comment-button
							i.icon-comment
							span.like-count 23
						button.like-button
							i.icon-like
							span.like-count 1286
				.card__title.cardThird__title
					a(href='#')
						| Обход управлющего 
						br
						|  директора БАЗ цеха №1
				.card-date
					span 24 Сентября 2018
	.card.cardThird.cardThird_fullHeightImg
		.card-wrap.cardThird-wrap_fullHeightImg(style='background-image: url(img/news-third-full-img-01.jpg);')
			.card__content.cardThird__content
				.tagbox
					.tag
						button.button.button-tag.button-tag_dark Новости ПС
					.like-card.like-card_light
						button.like-button.like-button_light.comment-button
							i.icon-comment
							span.like-count 23
						button.like-button.like-button_light
							i.icon-like
							span.like-count 1286
				.card__title.cardThird__title
					a(href='#')
						| Насосно-компрессорные 
						br
						| трубы ТЭСЦ-1
				.card-date.card-date_light
					span 24 Сентября 2018