// Блоки блога
.cards
	.card.cardFull-head_special
		.content-title
			.content-titlebox_dark
				h4 Блоки блога
	.card.cardFull-head_special
		.content-title
			.content-titlebox
				h2 Блоги 2018
	.card
		.sliderBlog
			.sliderBlog-box
				.sliderBlog-item
					
			.sliderBlog-box
				.sliderBlog-item
					
			.sliderBlog-box
				.sliderBlog-item
					