// Текст + Изображение, тип "Текст справа (мини)", с заголовком и без
.cards
	.card.cardFull-head_special
		.content-title
			.content-titlebox_dark
				h4 Текст + Изображение, тип "2 колонки", возможность задать фикс. текст
		.content-title
			.content-titlebox
				h2 Благодарность всем сотрудникам подразделения
	.card.cardFull-head_special
		.tagbox
			.tag
				.card-date
					span 24 Сентября 2018
			.like-card
				button.like-button.comment-button
					i.icon-comment
					span.like-count 23
				button.like-button
					i.icon-like
					span.like-count 1286