.row
	.col-sm-4
		.card.bg-color-dark-1
			a.card__imgbox.card__imgbox_sm(href="#", style='background-image: url(img/news-third-01.jpg);')
				.card-warning-text.hide
					p
			.card__content
				.tagbox
					.tag
						button.button.button-tag Региональные новости
					.like-card
						button.like-button.comment-button
							i.icon-comment
							span.like-count 23
						button.like-button
							i.icon-like
							span.like-count 1286
				.card__title
					a(href='#')
						| Насосно-компрессорные трубы ТЭСЦ-1 трубы ТЭСЦ-1 трубы ТЭСЦ-1 трубы ТЭСЦ-1 трубы ТЭСЦ-1 трубы ТЭСЦ-1 трубы ТЭСЦ-1 трубы ТЭСЦ-1 трубы ТЭСЦ-1 трубы ТЭСЦ-1 трубы ТЭСЦ-1 трубы ТЭСЦ-1 трубы ТЭСЦ-1 трубы ТЭСЦ-1
				.card-date
					span 24 Сентября 2018
	.col-sm-4
		.card.bg-color-dark-1
			a.card__imgbox.card__imgbox_sm(href="#", style='background-image: url(img/news-third-02.jpg);')
				.card-warning-text
					p Оценка: ПЛОХО!
			.card__content
				.tagbox
					.tag
						button.button.button-tag Новости ПС
					.like-card
						button.like-button.comment-button
							i.icon-comment
							span.like-count 23
						button.like-button
							i.icon-like
							span.like-count 1286
				.card__title
					a(href='#')
						| Обход управлющего директора БАЗ цеха №1
				.card-date
					span 24 Сентября 2018
	.col-sm-4
		.card
			.card-wrap(style='background-image: url(img/news-third-full-img-01.jpg);')
				a.card-wrap__imglnk(href="#")
				.card__content.card__content_sm

					.tagbox
						.tag
							button.button.button-tag.button-tag_dark Новости ПС
						.like-card.like-card_light
							button.like-button.like-button_light.comment-button
								i.icon-comment
								span.like-count 23
							button.like-button.like-button_light
								i.icon-like
								span.like-count 1286
					.card__title.card-color-light
						a(href='#')
							| Насосно-компрессорные трубы ТЭСЦ-1
					.card-date.card-date_light
						span 24 Сентября 2018