mixin slideModern ()
	.card-full-slider__item.card-modern-slider__item
		.card-modern__imgbox.card__imgbox(style='background-image: url(img/img-block-full-04.jpg);')
			img(src="img/article-img-01.jpg", alt="image")
			.card-modern__inn
				.row
					.col-12.col-md-7.offset-md-5
						.card__info.card-modern__info
							.card-modern__content
								.content-title
									.content-titlebox
										h3 ВМЗ: Новые технологии дадут плоды уже в 2019 для всей ОМК


								.card__text
									p
										| Литейно-прокатный комплекс Выксунского металлургического завода (АО «ВМЗ», Нижегородская область, входит в состав Объединенной металлургической компании, АО «ОМК») за 10 лет работы произвел более 10,6 ...
								.card-slider-number
									span

.cards
	.card.card-full-head_special
		.content-title
			.content-titlebox_dark
				h2 Галерея - "Слайдер с описанием", тип "Модерн"

		.content-title
			.content-titlebox
				h2 Галерея - "Слайдер с описанием", тип "Модерн"

	.card.margin-bottom-15
		- var text= '24 Сентября 2018';
		include ../modules/_tag-box

	.card.card-full.card-full-slider.card-modern
		.card-full-slider-wrap.card-wrap.card-full-wrap.card-modern-slider-wrap
			+slideModern()
			+slideModern()
			+slideModern()
			+slideModern()