.cards
	.card.card-full-head_special
		.content-title
			.content-titlebox_dark
				h2 Галерея - "Слайдер", тип "2.1"

		.content-title
			.content-titlebox
				h2 Новые технологии на ВМЗ в 2019

	.card.margin-bottom-15
		- var text= '24 Сентября 2018';
		include ../modules/_tag-box
	include _card-twothird-third-slider