.cards.cards-half
.row
	.col-sm-6
		.card.card-half.card-half_imgbg
			.card-wrap(style='background-image: url(img/news-half-full-img-01.jpg);')
				a.card-wrap__imglnk(href="#")
				.card__content
					.tagbox
						.tag
							button.button.button-tag.button-tag-o.button-tag-o_light Отдельные новости
						.like-card
							button.like-button.like-button_light.comment-button
								i.icon-comment
								span.like-count 23
							button.like-button.like-button_light
								i.icon-like
								span.like-count 1286
					.card__title.card-half__title.card-color-light
						a(href='#')
							| Насосно-компрессорные трубы ТЭСЦ-1
					.card-date.card-date_light
						span 24 Сентября 2018
	.col-sm-6
		.card.card-half.bg-color-dark-1
			a.card-half-imgbox.card__imgbox(href="#", style='background-image: url(img/news-half-img-01.jpg);')
				.card-average-text
					p Оценка: Нормально!
			.card__content.card-half__content
				.tagbox
					.tag
						button.button.button-tag.button-tag-o Новости ПС
					.like-card
						button.like-button.comment-button
							i.icon-comment
							span.like-count 23
						button.like-button
							i.icon-like
							span.like-count 1286
				.card__title.card-half__title
					a(href='#')
						| Насосно-компрессорные трубы ТЭСЦ-1
				.card-date
					span 24 Сентября 2018