.container::after,
.row::after {
  display: block;
  clear: both;
  content: "";
}

.user__name {
  display: inline-block;
}

.user__avatar {
  display: inline-block;
}

.form-search::after {
  display: block;
  clear: both;
  content: "";
}

.form-search__input {
  display: block;
  width: 94% !important;
  float: left;
}

.form-search__label {
  display: block;
}

.header {
  padding-top: 10px;
}

.header::after {
  display: block;
  clear: both;
  content: "";
}

.header-box::after {
  display: block;
  clear: both;
  content: "";
}

.header-box > div {
  float: left;
}

.header-box__logo::after {
  display: block;
  clear: both;
  content: "";
}

.header-box__item {
  display: inline-block;
}

.header-user {
  display: inline-block;
  margin-left: 10px;
  vertical-align: top;
}

.header-logo {
  margin-bottom: 0;
}

.header-visit {
  margin-top: 7px;
}

.header-info {
  display: inline-block;
  vertical-align: top;
  padding-top: 0;
}

.header-logowrap {
  float: left;
}

.header-nav-button-inn {
  display: inline-block;
  line-height: 45px;
  vertical-align: middle;
  float: left;
}

.header-nav-button-inn::after {
  display: block;
  clear: both;
  content: "";
}

.header-nav__link span {
  word-break: break-all;
}

.nav-more {
  position: relative;
}

.dropdown-menu {
  top: 100% !important;
}

.setting-form-wrap {
  width: 100%;
  padding-left: 13px;
}

.setting-form-wrap::after {
  display: block;
  clear: both;
  content: "";
}

.setting-form-checkbox {
  margin-bottom: 10px;
  width: 100%;
  max-width: 33.33333333%;
  text-align: left;
  float: left;
}

.menu-left-control.active:before {
  color: #5e6167;
}

.menu-horizontal__list::after {
  display: block;
  clear: both;
  content: "";
}

.menu-horizontal__box {
  float: left;
  display: table;
}

.menu-horizontal__item {
  display: table-cell;
  vertical-align: middle;
}

.header.scroll .header-info::after {
  display: block;
  clear: both;
  content: "";
}

.header.scroll .header-info__time {
  float: left;
  margin-right: 10px;
}

.header-nav-system__content {
  background-color: #e4e4e4;
  -webkit-filter: none;
          filter: none;
}

.card-calendar td {
  vertical-align: top;
}

.card-calendar td span {
  margin-top: 15px;
}

.card-person__text {
  margin-bottom: 10px;
}

.card-links-wrap::after {
  display: block;
  clear: both;
  content: "";
}

.card-links__img {
  display: inline-block;
  vertical-align: top;
}

.card-links__items {
  display: inline-block;
  vertical-align: top;
  width: -webkit-calc(100% - 100px);
  width: calc(100% - 100px);
}

.card-tabs .tab-content {
  padding-top: 60px;
}

.card-tabs .nav-tabs .nav-link {
  background-color: #fff;
}

.content-filter__formbox {
  float: left;
  margin-left: 15px;
}

.form-filters__title {
  display: inline-block;
}

.card {
  border: 0;
}

.widget-content::after {
  display: block;
  clear: both;
  content: "";
}

.widget-content__left,
.widget-content__right {
  display: inline-block;
  vertical-align: top;
}

.widget-content__left {
  min-width: 110px;
}

.widget-text_small::after {
  display: block;
  clear: both;
  content: "";
}

.widget-text_small p {
  display: inline-block;
  float: left;
}

.widget-text_count {
  text-align: right;
  margin-right: 5px;
}

.widget-group_special .widget-text_small,
.widget-group_special .widget-text_small p,
.widget-group_special .widget-text_count {
  text-align: center;
}

.widget-group_special .widget-text_small p {
  float: none;
}

.widget-countbox {
  display: inline-block;
  width: 32%;
  text-align: center;
}