#modalImgBox.modal.fade.modal-main(tabindex='-1', role='dialog', aria-labelledby='modalImgBoxLabel', aria-hidden='true')
	.modal-dialog.container(role='document')
		.row
			.col-xl-12
				.modal-content
					.modal-main__content