#modalVideo.modal.fade.modal-main(tabindex='-1', role='dialog', aria-labelledby='modalImgBoxLabel', aria-hidden='true')
	.modal-dialog.container(role='document')
		.row
			.col-xl-12
				.modal-content
					.modal-main__content
						.modal-video
							iframe(src="https://www.youtube.com/embed/FgCLm4nUcNQ" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)