@import "_variables.scss";

.link {
	display: inline-block;
	color: $link-color;
	text-decoration: none;
	transition: 0.65s;
	background-color: $link-bg-color;
	@include hover {
		color: $link-hov-color;
	}
	&-danger {
		color: $special-color;
		font-weight: 300;
	}
	&-small {
		font-size: 12px;
	}
}

.link-nav {
	color: $thin-color;
	letter-spacing: 0.2px;
	font-size: 12px;
	font-weight: 300;
	transition: none;
	@include hover {
		font-weight: 700;
		letter-spacing: 0;
	}
}

.link-special {
	@include hover {
		color: $special-color;
	}
}


.link-big {
	color: $basic-color;
	font-family: "Roboto", sans-serif;
	font-size: 32px;
	font-weight: 700;
	line-height: 40px;
	@include hover {
		text-decoration: underline;
		color: darken($basic-color, 20);
	}
}


// кнопка с заливкой
.button {
	display: inline-block;
	padding: 3px 5px 4px 5px;
	min-width: 86px;
	margin-right: 1px;
	background-color: $btn-bg-color;
	color: $btn-color;
	font-size: 13px;
	line-height: 15px;
	text-align: center;  
	text-transform: capitalize;
	border-radius: 5px;
	transition: 0.5s;

	@include hover {
		background-color: $btn-hov-bg-color;
		color: $btn-hov-color;
	}

	@include sm-block() {
		// @include mA();
	}
	&:last-child {
		margin-right: -1px;
	}
	&.active {
		background: $btn-active-bg-color;
		color: $btn-active-color;
	}

	&-inn{
		position: relative;
		text-align: center;
	}

}
// dropdown
.button-split {
	position: absolute;
	top: 0;
	right: 0;
	padding-top: 2px;
	height: 100%;
	max-height: 26px;
	width: 30px;
	color: $dark-color;
	background-color: #fff;
	font-size: 11px;
	transition: 0.4s;
	border: 1px solid rgba($btn-hov-bg-color, 0);
	border-left: none;
	border-right: none;
	@include hover {
		border-color: rgba($btn-hov-bg-color, 1);

	}
	i {
		color: inherit;
		&:before {
			color: inherit;
		}
	}

}

.rollUp {
	position: absolute;
	top: -15px;
	right: -15px;
	color: $btn-bg-color;
	padding: 0;
	font-size: 19px;
	transform: rotate(180deg);
	@include hover {
		color: $btn-hov-bg-color;
	}
	i {
		color: inherit;
		&:before {
			color: inherit;
		}
	}
}

// пустая кнопка
.button-o {
	padding: 2px 5px;
	margin: 0 5px;
	color: $dark-color;
	background-color: transparent;
	border-radius: 3px;
	border: 1px solid #d1d1d1;
	line-height: 1.4;
	font-size: 12px;
	font-weight: 300;

	@include hover {
		color: darken(#d1d1d1, 20);
		background-color: transparent;
		border: 1px solid darken(#d1d1d1, 20);
	}
}

.upp {
	position: fixed;
	z-index: 1000;
	width: 100%;
	bottom: 0;
	right: 0;
}

.button-up{
	display: none;
	position: absolute;
	bottom: 15px;
	right: 20px;
	padding-top: 7px;
	transform: rotate(180deg);
	background-color: #000;
	opacity: 0.2;
	width: 33px;
	height: 33px;
	min-width: 1px;
	transition: opacity 0.4s;
	border-radius: 3px;
	@include hover {
		opacity: 0.3;
		background-color: #000;
	}
	i {
		font-size: 15px;

	}
}

.button-tag {
	min-width: 60px;
	max-width: 149px;
	padding: 2px 6px 2px;
	background-color: #bcbdc0;
	color: $light-color;
	font-size: 11px;
	font-weight: 400;
	@include hover {
		background: $btn-active-bg-color;
		color: $btn-active-color;
	}
	&_dark {
		background-color: $basic-color;
	}
	&-o {
		color: inherit;
		border: 1px solid #a5a6aa;
		background-color: transparent;
		&_light {
			border-color: $light-color;
			color: $light-color;
		}
	}
}

.button-big {
	&-o {
		padding: 20px;
		width: 100%;
		min-width: 270px;
		margin-bottom: 15px;
		font-size: 16px;
		text-transform: uppercase;
		border: 1px solid #DDDEE0;
		border-radius: 5px;
		color: $dark-color;
		transition: 0.4s;
		@include hover {
			border-color: #a1a3a7;
			background-color: #F4F5F5;

		}
		&-danger {
			@include hover {
				border-color: $special-color;
				color: $special-color;
			}
		}
		&-special {
			@include hover {
				border-color: $special-color;
				background-color: transparent;
			}
		}
	}
}

.button-width-142 {
	min-width: 142px;
}
.button-width-170 {
	min-width: 170px;
}
.button-height-30 {
	padding-top: 7px;
	padding-bottom: 6px;
}
.button-border {
	border: 1px solid #dddee0;
	background-color: #f4f5f5;
}