@import "_variables.scss";

.link {
	display: inline-block;
	color: $link-color;
	text-decoration: none;
	transition: 0.65s;
	background-color: $link-bg-color;
	@include hover {
		color: $link-hov-color;
	}
	&:focus {
		

	}
}

.link-nav {
	color: $thin-color;
	letter-spacing: 0.2px;
	font-size: 12px;
	font-weight: 300;
	transition: none;
	@include hover {
		font-weight: 700;
		letter-spacing: 0;
	}
}

.link-special {
	border-bottom: 1px dashed $link-special-border-color;
	@include sm-block() {
		// display: table;
		// margin-left: auto;
		// margin-right: auto;
	}
	&:focus {
		border-bottom: 1px dashed $link-special-border-color;
	}
	@include hover {
		border-bottom: 1px solid $link-special-hov-border-color;
	}
}


// кнопка с заливкой
.button {
	display: inline-block;
	padding: 3px 5px 4px 5px;
	min-width: 86px;
	margin-right: 1px;
	background-color: $btn-bg-color;
	color: $btn-color;
	font-size: 13px;
	line-height: 15px;
	text-align: center;  
	text-transform: capitalize;
	border-radius: 5px;
	transition: 0.5s;

	@include hover {
		background-color: $btn-hov-bg-color;
		color: $btn-hov-color;
	}

	@include sm-block() {
		@include mA();
	}
	&:last-child {
		margin-right: -1px;
	}
	&.active {
		background: $btn-active-bg-color;
		color: $btn-active-color;
	}

	&-inn{
		position: relative;
		text-align: center;
	}
}
// dropdown
.button-split {
	position: absolute;
	top: 0;
	right: 0;
	padding-top: 2px;
	height: 100%;
	max-height: 26px;
	width: 30px;
	color: $dark-color;
	background-color: #fff;
	font-size: 11px;
	transition: 0.4s;
	border: 1px solid rgba($btn-hov-bg-color, 0);
	border-left: none;
	border-right: none;
	@include hover {
		border-color: rgba($btn-hov-bg-color, 1);

	}
	i {
		color: inherit;
		&:before {
			color: inherit;
		}
	}

}

.rollUp {
	position: absolute;
	top: -15px;
	right: -15px;
	color: $btn-bg-color;
	padding: 0;
	font-size: 19px;
	transform: rotate(180deg);
	@include hover {
		color: $btn-hov-bg-color;
	}
	i {
		color: inherit;
		&:before {
			color: inherit;
		}
	}
}

// пустая кнопка
.button-o {
	color: $btn-color;
	background-color: $btn-bg-color;
	border: 1px solid $btn-border-color;
	@include hover {
		color: $btn-hov-color;
		background-color: $btn-hov-bg-color;
		border: 1px solid $btn-hov-border-color;

	}
}

