@import "_variables.scss";

a:hover,
a:focus,
a:active,
a {
	text-decoration: none;
	color: inherit;
}

button,
a,
input,
button:focus,
select:focus,
input:focus,
a:focus,
textarea:focus {
	outline: none;
}
a {
	color: inherit;
}
a,
button,
label {
	cursor: pointer;
}

a,
button,
label,
input {
	background-color: transparent;
	border: none;
	margin-bottom: 0;
}
button, input, optgroup, select, textarea {
	font-family: 'Roboto', sans-serif;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	// font-family: 'Gotham Pro', Arial, sans-serif;
	// transition: 0.5s;
}

body {
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
	color: $text-color;
	font-weight: 400;
  overflow-x: hidden;
  line-height: normal;
}

img{
	max-width: 100%;
}

*.hide {
	display: none;
}

@include marginBottom(0);
@include marginBottom(5);
@include marginBottom(10);
@include marginBottom(15);
@include marginBottom(20);
@include marginBottom(30);

.padding-all-15 {
	padding: 15px;
}

@include fontSizeClass(17);
@include fontSizeClass(24);
@include fontSizeClass(28);
@include fontSizeClass(32);
@include fontSizeClass(40);

*.bg-color {
  &-light {
    background-color: $light-color;
	}
	&-dark-1 {
		background: #eeefef;
	}
	&-dark-2 {
		background-color: #f4f5f5;
	}
}

.border-default {
	border-radius: 5px;
	border: 1px solid #dddee0;
}



h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6,
.section-title, 
.title {
	margin: 0;
	padding: 0;
	font-family: "PT Serif", serif;
	// color: $basic-color;
	color: inherit;
	font-weight: 400;
}
.sign-title {
	padding: 3px 10px;
	border-radius: 5px;
	background-color: #dddee0;
	color: #000000;
	font-family: Roboto serif;
	font-size: 16px;
	font-weight: 400;
	&__link {
		vertical-align: middle;
		font-size: 14px;
		color: #a5a6aa;
		transition: 0.3s;
		&:first-child {
			margin-left: 5px;
		}
		@include hover {
			color: $basic-color;
		}
	}
}

ol,
ul,
dl {
  margin-bottom: 0;
}

p, .section-text, .text {
	color: inherit;
	margin-bottom: 0;
	// color: $text-color;
	// &.text-dark {
	// 	color: $text-dark-color;
	// }
}


h2, .section-title {
	@include sm-block() {

	}


	// &:after {

	// }

	span {
		color: $title-special-color;
		@include sm-block() {
		}
	}
}


section, .section {
	@include sm-block() {
		
	}
}
.footer {
	margin-top: 100px;
}

.section-dark {
	background-color: #000;
	color: $light-color;


	// h2, h1, .section-title, p {
	// }


	// .section-title {
	// 	span {
	// 	}
	// }
}

.overlay {
	// display: none;
	position: fixed;
	z-index: 11;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #000;
	opacity: 0.1;
}
.breadcrumb {
  display: block;
  margin: 0;
  padding: 15px 0 15px;
	@include clearfix;
	&-group {
		float: left;
	}
	&__link {
		color: #bcbdc0;
		font-size: 12px;
		font-weight: 300;
		transition: color 0.4s ease-out;
		@include hover {
			color: darken(#bcbdc0, 30);
		}
		&:after {
			content: ' / ';
			display: inline;
		}
		&:last-child {
			&:after {
				display: none;
			}
		}
	}

	&-back {
		text-align: right;
	}
}
.extra-wrapper {
	position: fixed;
	z-index: 10000;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	overflow-y: scroll;
	.header, .header.scroll {
		position: absolute;
		z-index: 1000;
		top: 0;
		left: 0;
		// height: 800px;
		// overflow-y: scroll;
		transform: none;
	}
}
// .wrapper {

// }
*.fixed {
	position: fixed;
}
.tooltip {
	z-index: 110000;
}
.tooltip-inner {
	p {
		text-align: left;
		
	}
}
.hashtag {
	float: left;
	color: #a5a6aa;
	margin-left: 10px;
	@include hover {
		color: $basic-color;
		text-decoration: underline;
	}
}

.slider-arrow {
	position: absolute;
	z-index: 10;
	top: 0;
	width: 30px;
	height: 100%;
	cursor: pointer;
	transition: 0.4s;
	&__left {
		left: 15px;
		border-radius: 5px 0 0 5px;
		background: rgba($light-color, 0.2) url(../img/icon/slider-arrow-left.svg) center no-repeat;
		background-size: 65%;
		@include hover {
			background-color: rgba($light-color, 0.35);
		}

	}
	&__right {
		right: 15px;
		border-radius: 0 5px 5px 0;
		background: rgba($light-color, 0.2) url(../img/icon/slider-arrow-right.svg) center no-repeat; 
		background-size: 65%;
		@include hover {
			background-color: rgba($light-color, 0.35);
		}
	}
}
.slick-slide {
	font-size: 0;
}
.text-right {
	text-align: right;
}