// @import "smart-grid";

// ==== Карта ЦВЕТОВ ====

// Базовые цаета
$basic-color:            #5e6167;
$light-color:            #ffffff;
$dark-color:             #797c82;
$special-color:          #ee3124;
$thin-color:             #a1a3a7;

$tooltip-bg:             #797c82;
$tooltip-arrow-color:    $tooltip-bg;

$error-color:            #FF4F4F;
$valid-color:            #39b54a;

$success-color:					 #39b54a;

// Текст
$text-color: $basic-color;
$text-light-color: $light-color;
$text-dark-color: $dark-color;
$text-special-color: $special-color;

// Заголовки
$title-color: $dark-color;
$title-light-color: $light-color;
// $title-dark-color: #343434;
$title-special-color: $special-color;

// Кнопки 
$btn-color: $basic-color;
$btn-bg-color: #eeefef;
$btn-border-color: $btn-color;

$btn-hov-color: $light-color;
$btn-hov-bg-color: #BCBDC0;
$btn-hov-border-color: $btn-hov-color;

$btn-active-color: $light-color;
$btn-active-bg-color: $dark-color;
$btn-active-border-color: $btn-hov-color;

// Ссылки
$link-color: $dark-color;
$link-bg-color: transparent;
$link-border-color: $link-color;

$link-hov-color: darken($link-color, 20%);
$link-hov-bg-color: transparent;
$link-hov-border-color: darken($link-color, 20%);

// Особая ссылка
$link-special-color: $link-color;
$link-special-bg-color: transparent;
$link-special-border-color: $link-special-color;

$link-special-hov-color: darken($link-special-color, 20%);
$link-special-hov-bg-color: transparent;
$link-special-hov-border-color: darken($link-special-color, 20%);

// РАЗМЕРЫ