// widget count
.widget-box.d-none.d-xl-block
	.widget-content.widget-content_bdtop.widget-content_dblock
		.widget-title
			| ПОСЕЩАЕМОСТЬ
		.widget-group.widget-text_small
			p
				| Сегодня на портале 
				br
				| побывало человек:
			.widget-text.widget-text_count
				| 12 021