// widget widget-calendar
.widget-calendar.widget-box
	.widget-title
		a.widget-title_link(href="/calendar.html")
			| КАЛЕНДАРЬ СОБЫТИЙ
		button.event-control
			i.icon-arrow-down
	#widget-calendar
	#event-6.events
		a.event.calendar-lnk(href="calendar.html#events-06-10-2018")
			.event-title
				span День металлурга
			.widget-imgbox.widget-imgbox_calendar(style="background-image: url(img/article-img-01.jpg);")
		a.event.calendar-lnk(href="calendar.html#event2-06-10-2018")
			.event-title
				span День поедателей йогуртов День поедателей йогуртов
			.widget-imgbox.widget-imgbox_calendar(style="background-image: url(img/article-img-01.jpg);")
		a.event.calendar-lnk(href="calendar.html#event3-06-10-2018")
			.event-title
				span День металлурга 2
			.widget-imgbox.widget-imgbox_calendar(style="background-image: url(img/article-img-01.jpg);")
	#event-14.events
		a.event.calendar-lnk(href="calendar2.html#events-14-10-2018")
			.event-title
				span 1 День великого праздника в две строки
			.widget-imgbox.widget-imgbox_calendar(style="background-image: url(img/event-img-01.jpg);")
		a.event.calendar-lnk(href="calendar2.html#event2-14-10-2018")
			.event-title
				span 2 День великого праздника в две строки
			.widget-imgbox.widget-imgbox_calendar(style="background-image: url(img/event-img-01.jpg);")
		a.event.calendar-lnk(href="calendar2.html#event3-14-10-2018")
			.event-title
				span 3 День великого праздника в две строки
			.widget-imgbox.widget-imgbox_calendar(style="background-image: url(img/event-img-01.jpg);")
	#event-20.events
		a.event.calendar-lnk(href="calendar3.html#events-24-10-2018")
			.event-title
				span День поедателей йогуртов
			.widget-imgbox.widget-imgbox_calendar(style="background-image: url(img/article-img-02.jpg);")
	#event-24.events
		a.event.calendar-lnk(href="calendar3.html#events-24-10-2018")
			.event-title
				span День поедателей йогуртов
			.widget-imgbox.widget-imgbox_calendar(style="background-image: url(img/article-img-05.jpg);")

