// widget
.widget-box.widget_fix-height-240.padding-10.padding-xl-15.bg-color-light-2.border-default
	.widget-title
		| КОНКУРСЫ
	.widget-imgbox
		img(src="img/widget-img-11.jpg" alt="image")
		.widget-imgbox__text
			h3 Фотоконкурс!
			p ждем ваши фотографии