nav.menu-left
	.menu-left-wrap
		.menu-left__list
			.menu-left__item.menu-left__item-head
				.nav-more.menu-left-more.btn-group
					button#nav-more-list-control.menu-left-more__button(type='button', aria-haspopup='true', aria-expanded='false')
						| Новости
						i.icon-arrow-down
		ul#menu-left-list.menu-left__list.menuLeftList-group
			li.menu-left__box
				a.menu-left__item(href='#')
					.menu-left__text
						span КОМПАНИЯ
			li.menu-left__box
				a.menu-left__item(href='#')
					.menu-left__text
						span СОТРУДНИКАМ
			li.menu-left__box
				a.menu-left__item(href='#')
					.menu-left__text
						span БАТАШЕВСКАЯ ПРЕМИЯ
			li.menu-left__box
				a.menu-left__item(href= links.productions_system)
					.menu-left__text
						span ПРОИЗВОДСТВЕННАЯ СИСТЕМА
			li.menu-left__box
				a.menu-left__item(href='#')
					.menu-left__text
						span БЛАГОТВОРИТЕЛЬНОСТЬ
			li.menu-left__box
				a.menu-left__item(href='#')
					.menu-left__text
						span БИБЛИОТЕКА
			li.menu-left__box
				a.menu-left__item(href='#')
					.menu-left__text
						span ГАЛЕРЕЯ
			li.menu-left__box
				a.menu-left__item(href='#')
					.menu-left__text
						span СПОРТ
			li.menu-left__box
				a.menu-left__item(href='#')
					.menu-left__text
						span КОНТАКТЫ