// widget danger
.widget-box.d-none.d-xl-block
	.widget-content.widget-content_bdtop.widget-content_dblock
		.widget-title
			| НЕПРОЧИТАННЫЕ НОВОСТИ
		.widget-group.widget-text.widget-text_small.danger
			p
				| Вы не прочитали 
				br
				| важных новостей:
			.widget-text.widget-text.widget-text_count.danger
				| 28