// TABwidget Объявления
.widget-slider-wrap 
	.widget-box.widget-tabbox.widget-slider(data-slick='{"autoplaySpeed": 8000}')
		#widget3-tab3.tab-pane.widget-tab.widget-slider__tab
			.widget-content.widget-content_ads.widget-content_dblock.widget-slider__content
				.widget-title
					| АКЦИИ В РЕГИОНАХ
				.widget-imgbox.widget-imgbox_full(style="background-image: url(img/widget-img-09.jpg);")
				.widget-text
					h4
						strong
							| Волонтеров берем на работу в первую очередь
					p Выкса
					p Сегодня 15:26
		#widget3-tab2.tab-pane.widget-tab.widget-slider__tab
			.widget-content.widget-content_ads.widget-content_dblock.widget-slider__content
				.widget-title
					| ОБЪЯВЛЕНИЯ
				.widget-imgbox.widget-imgbox_full(style="background-image: url(img/widget-img-08.jpg);")
				.widget-text
					p УАЗ 452 Буханка, 1999
					p
						span.widget-text_big 129 000
						|   руб.
					p Выкса
					p Сегодня 15:26