// widget-SLIDER Пресса
.widget-slider-wrap 
	.widget-box.widget-tabbox.widget-slider(data-slick='{"autoplaySpeed": 4000}')
		#widget1-tab1.widget-tab.widget-slider__tab
			.widget-content.widget-slider__content
				.widget-content__left
					.widget-head
						.widget-title
							| ГОДОВОЙ 
							br
							| ОТЧЕТ ОМК
					.widget-footer
						a.widget-link(href="#")
							| Web-версия 
							br
							| Скачать PDF
				.widget-content__right
					.widget-imgbox
						img(src="img/widget-img-01.jpg" alt="image")
		#widget1-tab2.widget-tab.widget-slider__tab
			.widget-content.widget-slider__content
				.widget-content__left
					.widget-head
						.widget-title
							| ТЕРРИТОРИЯ 
							br
							| ОМК
					.widget-footer
						a.widget-link(href="#")
							| 16.11.2018 
							br
							| №43 (154) 2018
				.widget-content__right
					.widget-imgbox
						img(src="img/widget-img-02.jpg" alt="image")
		#widget1-tab3.widget-tab.widget-slider__tab
			.widget-content.widget-slider__content
				.widget-content__left
					.widget-head
						.widget-title
							| КОРПОРАТИВНАЯ 
							br
							| ПРЕССА
					.widget-footer
						a.widget-link(href="#")
							| Журнал 
							br
							| ОМК-команда 
							br
							| выпуск 34, 2018
				.widget-content__right
					.widget-imgbox
						img(src="img/widget-img-04.jpg" alt="image")