// Текст + Изображение, тип "Текст справа (мини)", с заголовком и без
.row
	.col-12
		.card.card-full-head_special
			.content-title
				.content-titlebox_dark
					h4 Текст + Изображение, тип "2 колонки", возможность задать фикс. текст
			.content-title
				.content-titlebox
					h2 Благодарность всем сотрудникам подразделения
		.card.card-full-head_special
			.tag
				.card-date
					span 24 Сентября 2018
			.like-card
				button.like-button.comment-button
					i.icon-comment
					span.like-count 23
				button.like-button
					i.icon-like
					span.like-count 1286
.row
	.col-md-3
		.card
			.card__imgbox.card__imgbox_xs(style='background-image: url(img/block-img-01.jpg);')
				.card-warning-text.hide
					p
	.col-md-9
		.card
			.card__text
				p
					| Литейно-прокатный комплекс Выксунского металлургического завода (АО «ВМЗ», Нижегородская область, входит в состав Объединенной металлургической компании, АО «ОМК») за 10 лет работы произвел более 10,6 млн тонн горячекатаного рулонного проката, став важным звеном в полностью отечественной цепочке производства труб для нефтегазового комплекса.

.row
	.col-md-3
		.card
			.card__imgbox.card__imgbox_xs(style='background-image: url(img/block-img-09.jpg);')
				.card-warning-text.hide
					p

	.col-md-9
		.card
			.card__text
				p
					| Литейно-прокатный комплекс Выксунского металлургического завода (АО «ВМЗ», Нижегородская область, входит в состав Объединенной металлургической компании, АО «ОМК») за 10 лет работы произвел более 10,6 млн тонн горячекатаного рулонного проката, став...
				a.button.card__more(href='#') Читать далее

.row
	.col-md-3
		.card
			.card__imgbox.card__imgbox_xs(style='background-image: url(img/block-img-04.jpg);')
				.card-warning-text.hide
					p
	.col-md-9
		.card
			.card__text
				p
					| Литейно-прокатный комплекс Выксунского металлургического завода (АО «ВМЗ», Нижегородская область, входит в состав Объединенной металлургической компании, АО «ОМК») за 10 лет работы произвел более 10,6 млн тонн горячекатаного рулонного проката, став важным звеном в полностью отечественной цепочке производства труб для нефтегазового комплекса.