// Логотипы или большие кнопки
.cards
	.card.card-full-head_special
		.content-title
			.content-titlebox_dark
				h4 Логотипы или большие кнопки
	.card.card-full-head_special
		.content-title
			.content-titlebox
				h2 Логотипы партнеров мероприятия
	.card.card-full-head_special
		.card-logos
			- var n = 0;
			while n < 5
				- var n = n + 1;
				.card-logo
					a.card-logo__imgbox
						img(src="img/logo.png")
	.card.card-full-head_special
		.content-title
			.content-titlebox
				h2 Логотипы дочерних предприятий компании
	.card.card-full-head_special
		.card-logos
			- var n = 0;
			while n < 10
				- var n = n + 1;
				.card-logo
					a.card-logo__imgbox
						img(src="img/logo.png")