// Текст + Изображение, тип "2 колонки", возможность задать фикс. текст
.row
	.col-12
		.card.card-full-head_special
			.content-title
				.content-titlebox_dark
					h4 Текст + Изображение, тип "2 колонки", возможность задать фикс. текст
			.content-title
				.content-titlebox
					h2 Новые технологии на ВМЗ в 2019
.row
	.col-md-6
		.card.card-half
			.card__imgbox.card__imgbox_lg.margin-bottom-15(style='background-image: url(img/block-img-03.jpg);')
				.card-warning-text.hide
					p
			.card__text
				p
					| Конкурс «Проектный Олимп» проводится с 2014 года аналитическим центром при Правительстве Российской Федерации. С 2017 года в конкурсе могут принимать участие не только органы государственной власти.
	.col-md-6
		.card.card-half
			.card__imgbox.card__imgbox_lg.margin-bottom-15(style='background-image: url(img/block-img-08.jpg);')
				.card-warning-text.hide
					p
			.card__text
				p
					| Конкурс «Проектный Олимп» проводится с 2014 года аналитическим центром при Правительстве Российской Федерации. С 2017 года в конкурсе могут принимать участие не только органы государственной власти, государственные корпорации и компании, а также частные компании, оказывающие наиболее значительное влияние наиболее значительное влияние на развитие экономики...
				a.button.card__more(href='#') Читать далее