.cards.comments-dark
	.card.card_slim
		.content-title
			.content-titlebox
				h2 Комментарии к "Новые технологии на ВМЗ в 2019"
	.card.card_slim#allComentators
		.comment#commentator_01
			.comment-box
				.comment__avatar(style='background-image: url(img/person-photo-01.jpg)')
				.comment__content
					.tagbox.comment__tagbox
						.tag
							.comment__nickname
								span ЮЛИЯ ШХИЯНЦ
						.like-card
							button.like-button.comment-button.like-button_thin
								i #
								span.like-count 120
							button.like-button.like-button_thin
								i.icon-like
								span.like-count 86

					.comment__date
							span 12 Декабря 2018, 16:32
					.comment__text
						p
							a.modalMain-comments__curentImg(href="3") #3 
							| В ходе горячих испытаний оборудования покрытие из УФ-лака было нанесено на гладкие трубы диаметром 426 мм. Параллельно с пуско-наладкой оборудования специалисты фирмы Venjakob провели теоретическое и практическое обучение работе с установкой для сотрудников ВМЗ, включая ремонтные службы, технологов и автоматчиков.
					.comment__link
						button.comment__reply Ответить
			.comment#commentator_02
				.comment-box
					.comment__avatar(style='background-image: url(img/person-photo-02.jpg)')
					.comment__content
						.tagbox.comment__tagbox
							.tag
								.comment__nickname
									span ПЕТР ТУШИН
							.like-card
								button.like-button.comment-button.like-button_thin
									i #
									span.like-count 120
								button.like-button.like-button_thin
									i.icon-like
									span.like-count 86

						.comment__date
								span 12 Декабря 2018, 16:32
						.comment__text
							p
								| Параллельно с пуско-наладкой оборудования специалисты фирмы Venjakob провели теоретическое и практическое обучение работе с установкой для сотрудников ВМЗ.
						.comment__link
							button.comment__reply Ответить
				.comment#commentator_03
					.comment-box
						.comment__avatar(style='background-image: url(img/person-photo-03.jpg)')
						.comment__content
							.tagbox.comment__tagbox
								.tag
									.comment__nickname
										span СВЕТЛАНА НИКОЛАШИНА
								.like-card
									button.like-button.comment-button.like-button_thin
										i #
										span.like-count 120
									button.like-button.like-button_thin
										i.icon-like
										span.like-count 86

							.comment__date
									span 12 Декабря 2018, 16:32
							.comment__text
								p
									| Мы стремимся к тому, чтобы работа в ОМК помогала сотрудникам компании реализовывать свой потенциал и раскрывать свои способности Активно развиваясь, Компания делает реальными перспективы профессионального и карьерного роста. Для обеспечения взаимовыгодного партнерства и соблюдения трудовых прав мы активно поддерживаем и развиваем социальный диалог с сотрудниками и их представителями. Читать подробнее о работе с персоналом. 
								p
									| Мы разработали специальную форму − Приложение к договору «Требование о соблюдении законодательства в области охраны труда, промышленной, пожарной безопасности, охраны окружающей среды». Подписывая его, подрядчик обязуется следовать процедурам, правилам и инструкциям ОМК в области охраны труда, промышленной, экологической и экономической безопасности с целью исключения или минимизации возможного ущерба, наносимого окружающей среде, здоровью сотрудников ОМК, посетителей и третьих лиц.
							.comment__link
								button.comment__reply Ответить
		.comment#commentator_04
			.comment-box
				.comment__avatar(style='background-image: url(img/person-photo-04.jpg)')
				.comment__content
					.tagbox.comment__tagbox
						.tag
							.comment__nickname
								span
									| ДМИТРИЙ ЧЕРНЫШЕВ
						.like-card
							button.like-button.comment-button.like-button_thin
								i #
								span.like-count 120
							button.like-button.like-button_thin
								i.icon-like
								span.like-count 86

					.comment__date
							span 12 Декабря 2018, 16:32
					.comment__text
						p
							| Особое внимание мы уделяем недопущению детского и принудительного труда, дискриминации любых форм. Мы уважаем право сотрудников на формирование ассоциаций и других совместных организаций по представлению их интересов и общению с работодателем.
					.comment__link
						button.comment__reply Ответить
		.comment#commentator_05
			.comment-box
				.comment__avatar(style='background-image: url(img/person-photo-05.jpg)')
				.comment__content
					.tagbox.comment__tagbox
						.tag
							.comment__nickname
								span
									| ЕЛЕНА МАЦИНОВА
						.like-card
							button.like-button.comment-button.like-button_thin
								i #
								span.like-count 120
							button.like-button.like-button_thin
								i.icon-like
								span.like-count 86

					.comment__date
							span 12 Декабря 2018, 16:32
					.comment__text
						p
							| Коллеги, у нас будет самый лучший корпоративный портал. Без сомнения!
					.comment__link
						button.comment__reply Ответить
		#commentFormbox
			.comment.comment_special
				.article-autor
					p.article-autor__left Оставить комментарий:
					p.article-autor__username от Константина Константинопольского
			.comment
				form.comment-form
					.comment-form__textareabox
						textarea.comment-form__textarea(placeholder="Комментарий")
					.comment-form__btnbox
						button.button.comment-form__button(type="submit") Отправить