// VIDGET count
.vidget-box
	.vidget-content.vidget-content_bdtop.vidget-content_dblock
		.vidget-title
			| ПОСЕЩАЕМОСТЬ
		.vidget-group.vidget-text_small
			p
				| Сегодня на портале 
				br
				| побывало человек:
			.vidget-text.vidget-text_count
				| 12 021