// VIDGET counts
.vidget-box
	.vidget-content.vidget-content_bdtop.vidget-content_dblock
		.vidget-title
			| ПУБЛИКАЦИЯ НОВОСТЕЙ
		.vidget-group.vidget-group_special
			.vidget-countbox
				.vidget-text_small
					p Сегодня
				.vidget-text.vidget-text_count 17
			.vidget-countbox
				.vidget-text_small
					p Неделя
				.vidget-text.vidget-text_count 84
			.vidget-countbox
				.vidget-text_small
					p Месяц
				.vidget-text.vidget-text_count 247