// VIDGET succes
.vidget-box
	.vidget-content.vidget-content_bdtop.vidget-content_dblock
		.vidget-title
			| ДНЕЙ БЕЗ ТРАВМАТИЗМА
		.vidget-group.vidget-text.vidget-text_small.succes
			p
				| На предприятиях компании 
				br
				| без происшествий, дней
			.vidget-text.vidget-text.vidget-text_count.succes
				| 427