// VIDGET-SLIDER Доска \ Дни \ Назначения
.vidget-slider-wrap 
	.vidget-box.vidget-tabbox.vidget-slider(data-slick='{"autoplaySpeed": 6000}')
		#vidget2-tab3.vidget-tab.vidget-slider__tab
			.vidget-content.vidget-slider__content
				.vidget-content__left
					.vidget-head
						.vidget-title
							| ДОСКА 
							br
							| ПОЧЕТА
					.vidget-footer
						.vidget-text
							p
								strong
									| Контаревский 
									br
									| Николай 
									br
									| Константинович 
									br
								| Председатель 
								br
								| подразделения 28 
								br
				.vidget-content__right
					.vidget-imgbox
						img(src="img/vidget-img-07.jpg" alt="image")
		#vidget2-tab2.vidget-tab.vidget-slider__tab 
			.vidget-content.vidget-slider__content
				.vidget-content__left
					.vidget-head
						.vidget-title
							| ДЕНЬ 
							br
							| РОЖДЕНИЯ
					.vidget-footer
						.vidget-text
							p
								strong
									| Тушин 
									br
									| Петр 
									br
									| Николаевич 
									br
								| Директор по 
								br
								| управлению 
								br
								| эффективностью
				.vidget-content__right
					.vidget-imgbox
						img(src="img/vidget-img-05.png" alt="image")
		#vidget2-tab1.vidget-tab.vidget-slider__tab
			.vidget-content.vidget-slider__content
				.vidget-content__left
					.vidget-head
						.vidget-title
							| НАЗНАЧЕНИЕ
					.vidget-footer
						.vidget-text
							p
								strong
									| Еремина 
									br
									| Наталья 
									br
									| Константиновна 
									br
								| Председатель 
								br
								| правления ОМК
				.vidget-content__right
					.vidget-imgbox
						img(src="img/vidget-img-06.jpg" alt="image")