// VIDGET-SLIDER Пресса
.vidget-slider-wrap 
	.vidget-box.vidget-tabbox.vidget-slider(data-slick='{"autoplaySpeed": 4000}')
		#vidget1-tab1.vidget-tab.vidget-slider__tab
			.vidget-content.vidget-slider__content
				.vidget-content__left
					.vidget-head
						.vidget-title
							| ГОДОВОЙ 
							br
							| ОТЧЕТ ОМК
					.vidget-footer
						a.vidget-link(href="#")
							| Web-версия 
							br
							| Скачать PDF
				.vidget-content__right
					.vidget-imgbox
						img(src="img/vidget-img-01.jpg" alt="image")
		#vidget1-tab2.vidget-tab.vidget-slider__tab
			.vidget-content.vidget-slider__content
				.vidget-content__left
					.vidget-head
						.vidget-title
							| ТЕРРИТОРИЯ 
							br
							| ОМК
					.vidget-footer
						a.vidget-link(href="#")
							| 16.11.2018 
							br
							| №43 (154) 2018
				.vidget-content__right
					.vidget-imgbox
						img(src="img/vidget-img-02.jpg" alt="image")
		#vidget1-tab3.vidget-tab.vidget-slider__tab
			.vidget-content.vidget-slider__content
				.vidget-content__left
					.vidget-head
						.vidget-title
							| КОРПОРАТИВНАЯ 
							br
							| ПРЕССА
					.vidget-footer
						a.vidget-link(href="#")
							| Журнал 
							br
							| ОМК-команда 
							br
							| выпуск 34, 2018
				.vidget-content__right
					.vidget-imgbox
						img(src="img/vidget-img-04.jpg" alt="image")