// VIDGET danger
.vidget-box
	.vidget-content.vidget-content_bdtop.vidget-content_dblock
		.vidget-title
			| НЕПРОЧИТАННЫЕ НОВОСТИ
		.vidget-group.vidget-text.vidget-text_small.danger
			p
				| Вы не прочитали 
				br
				| важных новостей:
			.vidget-text.vidget-text.vidget-text_count.danger
				| 28