// TABVIDGET Объявления
.vidget-slider-wrap 
	.vidget-box.vidget-tabbox.vidget-slider(data-slick='{"autoplaySpeed": 8000}')
		#vidget3-tab3.tab-pane.vidget-tab.vidget-slider__tab
			.vidget-content.vidget-content_ads.vidget-content_dblock.vidget-slider__content
				.vidget-title
					| АКЦИИ В РЕГИОНАХ
				.vidget-imgbox.vidget-imgbox_full(style="background-image: url(img/vidget-img-09.jpg);")
				.vidget-text
					h4
						strong
							| Волонтеров берем на работу 
							br
							| в первую очередь
					p Выкса
					p Сегодня 15:26
		#vidget3-tab2.tab-pane.vidget-tab.vidget-slider__tab
			.vidget-content.vidget-content_ads.vidget-content_dblock.vidget-slider__content
				.vidget-title
					| ОБЪЯВЛЕНИЯ
				.vidget-imgbox.vidget-imgbox_full(style="background-image: url(img/vidget-img-08.jpg);")
				.vidget-text
					p УАЗ 452 Буханка, 1999
					p
						span.vidget-text_big 129 000
						|   руб.
					p Выкса
					p Сегодня 15:26