// widget counts
.widget-box
	.widget-content.widget-content_bdtop.widget-content_dblock
		.widget-title
			| ПУБЛИКАЦИЯ НОВОСТЕЙ
		.widget-group.widget-group_special
			.widget-countbox
				.widget-text_small
					p Сегодня
				.widget-text.widget-text_count 17
			.widget-countbox
				.widget-text_small
					p Неделя
				.widget-text.widget-text_count 84
			.widget-countbox
				.widget-text_small
					p Месяц
				.widget-text.widget-text_count 247