// widget-SLIDER Доска \ Дни \ Назначения
.widget-slider-wrap 
	.widget-box.widget-tabbox.widget-slider(data-slick='{"autoplaySpeed": 6000}')
		#widget2-tab3.widget-tab.widget-slider__tab
			.widget-content.widget-slider__content
				.widget-content__left
					.widget-head
						.widget-title
							| ДОСКА 
							br
							| ПОЧЕТА
					.widget-footer
						.widget-text
							p
								strong
									| Контаревский 
									br
									| Николай 
									br
									| Константинович 
									br
								| Председатель 
								br
								| подразделения 28 
								br
				.widget-content__right
					.widget-imgbox
						img(src="img/widget-img-07.jpg" alt="image")
		#widget2-tab2.widget-tab.widget-slider__tab 
			.widget-content.widget-slider__content
				.widget-content__left
					.widget-head
						.widget-title
							| ДЕНЬ 
							br
							| РОЖДЕНИЯ
					.widget-footer
						.widget-text
							p
								strong
									| Тушин 
									br
									| Петр 
									br
									| Николаевич 
									br
								| Директор по 
								br
								| управлению 
								br
								| эффективностью
				.widget-content__right
					.widget-imgbox
						img(src="img/widget-img-05.png" alt="image")
		#widget2-tab1.widget-tab.widget-slider__tab
			.widget-content.widget-slider__content
				.widget-content__left
					.widget-head
						.widget-title
							| НАЗНАЧЕНИЕ
					.widget-footer
						.widget-text
							p
								strong
									| Еремина 
									br
									| Наталья 
									br
									| Константиновна 
									br
								| Председатель 
								br
								| правления ОМК
				.widget-content__right
					.widget-imgbox
						img(src="img/widget-img-06.jpg" alt="image")