// widget succes
.widget-box
	.widget-content.widget-content_bdtop.widget-content_dblock
		.widget-title
			| ДНЕЙ БЕЗ ТРАВМАТИЗМА
		.widget-group.widget-text.widget-text_small.succes
			p
				| На предприятиях компании 
				br
				| без происшествий, дней
			.widget-text.widget-text.widget-text_count.succes
				| 427