// widget
.widget-box.widget_fix-height-240.padding-10.padding-xl-15.bg-color-dark-2.border-default
	.widget-title
		| БЛАГОТВОРИТЕЛЬНОСТЬ
	.widget-imgbox
		img(src="img/widget-img-10.jpg" alt="image")
