extends modules/_base
block vars
	-var pageTitle = 'Календарь';
block content
	- var eventDate = '14 Ноября 2018';

	-var pageTitle = 'Календарь';

	include cards/_card-calendar

	- var ID = 'events-14-10-2018';
	- var signTitle = 'События: '+eventDate;
	-var events = [{articleTitle: 'День металурга, ', articleID: 'event1-14-10-2018'}, {articleTitle: 'День поедателей йогуртов, ', articleID: 'event2-14-10-2018'}, {articleTitle: 'День металлурга 2', articleID: 'event3-14-10-2018'}];
	include page/_page-calendar-sign-title

	- var ID = 'event1-14-10-2018';
	include articles/_article-01

	.card
		hr.card-hr
	- var ID = 'event2-14-10-2018';
	include articles/_article-02


	.card
		hr.card-hr
	- var ID = 'event3-14-10-2018';
	include articles/_article-03