extends modules/_base

block vars
	- var pageTitle = 'Производственная Система';
block content
	.row
		.col-12
			.card.card-full-head_special
				.content-title
					.content-titlebox
						h2 Производственная Система
	include cards/_cards-third

	include blocks/_block-logos

	include blocks/_block-links