extends modules/_base

block vars
	-var pageTitle = 'Константин Александрович Константинопольский';
	
block content
	.row
		.col-12
			.card.margin-bottom-10.margin-bottom-lg-15
				.content-title
					.content-titlebox
						h1.font-size-lg32.font-size-20= pageTitle
	- var x;
	.row
		.col-6.col-sm-4.order-0
			.card
				a.card__imgbox.card__imgbox_xl(href="#", style='background-image: url(img/photo-01.png);')
		.col-12.col-sm-8.order-2.order-sm-1
			.card
				.content-text
					h3 Главный инженер отделения трубопрокатного цеха
						span.sub (Подразделение отдела № 1023)

					table.profile-info.margin-bottom-lg-15.margin-bottom-10
						tbody
							tr
								td.text-right
									p
										span.light Телефон:
								td
									p +7&nbsp;(83&nbsp;177)&nbsp;3-76-05&nbsp;доб.&nbsp;4526
								td.text-right
									p
										a.link-danger.link-small(href="#") Редактировать профиль
							tr
								td.text-right
									p
										span.light Email:
								td
									p name.surname@omk.omk.ru
								td.text-right
									p
							tr
								td(colspan='2')
									hr
								td
							tr
								td.text-right
									p
										span.light Skype:
								td
									p omk_engineer
								td
							tr
								td.text-right
									p
										span.light Моб.:
								td
									p +7 (903) 924-25-27
								td
							tr
								td.text-right
									p
										span.light VK:
								td
									p vk.com/omk_engineer
								td

				.content-text.margin-bottom-lg-10
					p Биография:
				.content-text_special
					p Константин Александрович Константинопольский — председатель совета директоров ОМК с июля 2017 года. Ранее А.М. Седых был председателем правления ОМК с января 2013 по июль 2017 гг. Руководящие должности в компании занимает с 1999 года. Сначала А.М. Седых возглавил Выксунский металлургический завод и вывел предприятие из кризиса. Затем был генеральным директором ОМК и председателем совета директором ВМЗ. В 2002-м выбран председателем совета директоров компании, в 2003-2006 годах был президентом ОМК.
		.col-sm-4.d-none.d-sm-block.order-sm-2
			//button.button-big-o.button-big-o-danger ГОРЯЧАЯ ЛИНИЯ ОМК
		.col-6.col-sm-8.order-1.order-sm-3
			.row
				.col-12.col-sm-6
					button.button-big-o.button-big-o-danger ГОРЯЧАЯ ЛИНИЯ ОМК
					button.button-big-o ДАТЬ ОБЪЯВЛЕНИЕ
				.col-12.col-sm-6
					button.button-big-o.button-big-o-special ДОБАВИТЬ БЛОГ
					button.button-big-o ОТСЛЕЖИВАЕМЫЕ БЛОГИ

	.card.margin-bottom-lg-15.margin-bottom-10
		hr.card-hr
	.row
		.col-12
			.card.margin-bottom-lg-15.margin-bottom-5
				.content-titlebox
					h2 Сохраненные ссылки
	.card.margin-bottom-10
		.card-links
			.card-links-wrap
				.card-links__img
					.card-links__imgbox
						img(src="img/icon/save.svg")
				.card-links__items
					- var items = [{type: 'Блог (25.10.19 от Русланова Михаила)', content: '"Почему так сильно перестроили расписание?"'}, {type: 'Новость от 08.02.19 (Региональные новости)', content: 'Более 10,6 млн тонн рулонного проката произвел литейно-прокатный комплек...'}, {type: 'Новость от 08.02.19 (Новости ОМК)', content: 'Применяемые технологические методы изготовления и ремонта'}, {type: 'Статья (Библиотека > Архив > Основные положения)', content: 'Типы производства по ГОСТ 14.004-83'}, {type: 'Документ (Компания > Конституция)', content: 'Конституция ОМК'}];
					each item in items
						.card-links__item
							.card-links__head
								.card-links__left
									a.card-links__lnk.card-links__lnk_small.color-thin(href="")= item.type
								.card-links__right
									a.card-links__lnk.card-links__lnk_small.link-special.color-thin(href="") Удалить
							.card-links__lnkbox
								a.card-links__lnk.text-ddd.color-thin(href="")= item.content
	include modules/_main-icons
	.row
		.col-12
			.card.margin-bottom-15
				.content-titlebox
					h2
						| Дни рождения ваших друзей
				.text-right.content-text_special.content-text_thin.d-none.d-sm-block
					p Список друзей
	.margin-bottom-15
		.row
			- var n = 0;
			while n < 5
				- var n = n + 1;
				.col-6.col-sm-6.col-md-4
					.card-person.margin-bottom-15
						.card-person__imgbox(style="background-image: url(img/widget-img-06.jpg)")
							img(src="img/widget-img-06.jpg" alt="image")
						.card-person__content
							.card-person__text
								p
									strong Еремина
									strong Наталья
									strong Константиновна
									| Председатель правления ОМК
							button.button.button-border.button-width-142.button-height-30 Поздравить

	.row
		.col-12
			.card.margin-bottom-15
				.content-titlebox
					h2 Добровольная Народная Дружина
	.row
		.col-12.col-sm-4
			.card
				a.card__imgbox.card__imgbox_sm(href="#", style='background-image: url(img/block-img-14.jpg);')
					.card-warning-text.hide
						p
		.col-12.col-sm-8
			.card
				.card__text.text-ddd-210
					p
						| Литейно-прокатный комплекс Выксунского металлургического завода (АО «ВМЗ», Нижегородская область, входит в состав Объединенной металлургической компании, АО «ОМК») за 10 лет работы произвел более 10,6 млн тонн горячекатаного рулонного проката, став важным звеном в полностью отечественной цепочке производства труб для нефтегазового комплекса.

	.row
		.col-12.col-sm-4
			.card
				a.card-third__imgbox.card__imgbox(href="#", style='background-image: url(img/block-img-13.jpg);')
					.card-warning-text.hide
						p
		.col-12.col-sm-8
			.card
				.card__text.text-ddd-210
					p
						| Литейно-прокатный комплекс Выксунского металлургического завода (АО «ВМЗ», Нижегородская область, входит в состав Объединенной металлургической компании, АО «ОМК») за 10 лет работы произвел более 10,6 млн тонн горячекатаного рулонного проката, став важным звеном в полностью отечественной цепочке производства труб для нефтегазового комплекса...
					p
						| Литейно-прокатный комплекс - уникальное для России предприятие, в котором в единый технологический процесс совмещены процесс
					a.button.card__more(href='#') Читать далее


	.row
		.col-12
			.card.margin-bottom-15
				.content-titlebox
					h2 Отслеживаемые блоги

	article.article.article-preview
		.card
			.article-imgwrap.article-imgwrap_slim
				.article-imgbox.article-imgbox_slim(style='background-image: url(img/article-prev-img-01.jpg);')
			- var text = '24 Сентября 2018, Мацинова Елена';
			include modules/_tag-box

			.content-title
				.article-title.content-titlebox
					h3 Хочется лета, а вокруг одни офисы! Поеду на Ямайку!

			.article-text.article-preview-text
				p
					| Ямайка находится в зоне тропического климата с господством северо-восточных пассатов, заметно влияющих, наравне с показателем абсолютной высоты местности, на климат страны В столичном районе средняя температура за год меняется от 24 до 27 °C, а в местечке Гордон-Хилл в горах Блу-Маунтинс — от температура температура температура
	.card
		hr.card-hr

	article.article.article-preview
		.card
			.article-imgwrap.article-imgwrap_slim
				.article-imgbox.article-imgbox_slim(style='background-image: url(img/article-prev-img-02.jpg);')
			- var text = '24 Сентября 2018, Мацинова Елена';
			include modules/_tag-box
			.content-title
				.article-title.content-titlebox
					h3 Как вам прошедший концерт?

			.article-text.article-preview-text
				p
					| Ямайка находится в зоне тропического климата с господством северо-восточных пассатов, заметно влияющих, наравне с показателем абсолютной высоты местности, на климат страны В столичном районе средняя температура за год меняется от 24 до 27 °C, а в местечке Гордон-Хилл в горах Блу-Маунтинс — от...
	.card
		hr.card-hr

	.row
		.col-12
			.card.margin-bottom-lg-15
				.content-titlebox
					h2 Список друзей
	.card
		- var tableClass = 'table-thin-head';
		.table-inn
			table.table(class=tableClass)
				thead
					tr
						th #
						th ФИО
						th Должность
						th Подразделение
						th Действие
				tbody
					tr
						td 1
						td Константин Александрович Константинопольский
						td Главный инженер отделения трубопрокатного цеха
						td Подразделение ВМЗ по настройке технических решений
						td
							a.link-special.color-thin.d-block(href="") Удалить
					tr
						td 2
						td Константин Александрович Константинопольский
						td Главный инженер отделения трубопрокатного цеха
						td Подразделение ВМЗ по настройке технических решений
						td
							a.link-special.color-thin.d-block(href="") Удалить
							a.link-special.color-thin.d-block(href="") Поздравить
					tr
						td 3
						td Константин Александрович Константинопольский
						td Главный инженер отделения трубопрокатного цеха
						td Подразделение ВМЗ по настройке технических решений
						td
							a.link-special.color-thin.d-block(href="") Удалить
							a.link-special.color-thin.d-block(href="") Поздравить
















