extends modules/_base

block vars
	- var pageTitle = 'Результаты поиска';
	mixin searchRes()
		.card
			.content-text
				h3.margin-bottom-10
					a(href="#") Серафимович, Александр Серафимович
				a.link-search(href='') https://portal.omk.ru/news/omk_news...
				p  ... в нашем цеху <strong>Алекса́ндр Серафи́мович Серафимо́вич</strong> выполняет много важных дел выполняет много важных дел выполняет много важных дел выполняет много важных дел выполняет много важных дел ...

block content
	.row
		.col-12
			.card.card-full-head_special
				.content-title
					.content-titlebox
						h2 Результаты поиска
	.card
		form.form-search(action='#')
			.row.align-items-center
				.col-8
					.form-search__box
						.form-search__label
							input#formSearchInput.form-search__input(type='search')
							button.form-search__button.icon-search(type='submit', disabled='')
				.col-4
					button.button(type='submit') Найти
	+searchRes
	+searchRes
	.row
		.col-12.col-sm-4
			.card
				.card-third__imgbox.card__imgbox.card__videobox(style='background-image: url(img/block-img-02.jpg);')
					.card-warning-text.hide
						p
		.col-12.col-sm-8
			.card
				.content-text.text-ddd-210
					h3.margin-bottom-10
						a(href="#") Интервью с Серафимович Александром про модернизацию новых разработок
					.card-date.card-date_big.margin-bottom-10 11 Декабря 2018, 17:44
					p
						| Литейно-прокатный комплекс Выксунского металлургического завода (АО «ВМЗ», Нижегородская область, входит в состав Объединенной металлургической компании, АО «ОМК») за 10 лет работы произвел более 10,6 млн тонн горячекатаного рулонного проката, став важным звеном в полностью отечественной цепочке производства труб для нефтегазового комплекса...
					a.button.card__more(href='#') Читать далее
	+searchRes
	+searchRes
	+searchRes
	+searchRes