extends modules/_base

block vars
	- var pageTitle = 'Текст';
block content
	.row
		.col-12
			.card.card-full-head_special
				.content-title
					.content-titlebox_dark.margin-top-xl-15
						h4 Текст

			.wisywig-content
				h1 Заголовок 1 уровня
				h2 Заголовок 2 уровня
				h3 Заголовок 3 уровня
				h4 Заголовок 4 уровня
				h5 Заголовок 5 уровня
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum modi repellendus ullam? Aliquam expedita fuga hic, ipsum molestiae quia veniam.
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum modi repellendus ullam? Aliquam expedita fuga hic, ipsum molestiae quia veniam.
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum modi repellendus ullam? Aliquam expedita fuga hic, ipsum molestiae quia veniam. &nbsp;
					a(href="#") Lorem ipsum
					b &nbsp;Bold,&nbsp;
					i Italic,&nbsp;
					u Underline
				ul
					li Пункт списка
					li Пункт списка
					ul
						li Пункт списка
						li Пункт списка
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta, minus!
				ol
					li Пункт списка
					li Пункт списка
					ol
						li Пункт списка
						li Пункт списка
						ol
							li Пункт списка
							li Пункт списка
							ol
								li Пункт списка

				table
					thead
						tr
							th #
							th Наименование
							th Подразделение
							th Описание
							th Дата
					tbody
						tr
							td # 10
							td Система "Айсберг 34-М18-Т"
							td Подразделение ВМЗ по настройке технических решений
							td Программно-аппаратный комплекс для производства сложных изделий из металла
							td 23.12.2019
						tr
							td # 2451 отступ слева 15px
							td База данных "МИГ"
							td Подразделение ВМЗ по настройке технических решений
							td Актуальная база для решений программного комплекса ТШГ-251, редакция 6250
							td 23.12.2019 Учитывается отступ в 15px справа
						tr
							td # 10
							td Система "Айсберг 34-М18-Т"
							td Подразделение ВМЗ по настройке технических решений
							td Программно-аппаратный комплекс для производства сложных изделий из металла
							td 23.12.2019
						tr
							td # 2451 отступ слева 15px
							td База данных "МИГ"
							td Подразделение ВМЗ по настройке технических решений
							td Актуальная база для решений программного комплекса ТШГ-251, редакция 6250
							td 23.12.2019 Учитывается отступ в 15px справа