extends modules/_base
block vars
	-var pageTitle = 'Комбинированные блоки';
block content
	- var pageTitle = 'Комбинированные блоки';
	include page/_page-special-title

	include blocks/_block-imgl-text

	include blocks/_block-text-imgr
	
	include blocks/_block-imgt-textb
	
	include blocks/_block-min-imgl-text
	
	include blocks/_block-article-only-text

	include blocks/_block-logos
	
	include blocks/_block-blog
	
	include blocks/_block-links