extends modules/_base
block vars
	- var pageTitle = 'Календарь';
block content
	- var eventDate = '6 Ноября 2018';

	include page/_page-head

	include cards/_card-calendar

	- var ID = 'events-06-10-2018';
	- var signTitle = 'События: '+eventDate;
	- var events = [{articleTitle: 'День металурга, ', articleID: 'event1-06-10-2018'}, {articleTitle: 'День поедателей йогуртов, ', articleID: 'event2-06-10-2018'}, {articleTitle: 'День металлурга 2', articleID: 'event3-06-10-2018'}];
	include page/_page-calendar-sign-title

	- var ID = 'event1-06-10-2018';
	include articles/_article-01

	- var ID = 'event2-06-10-2018';
	include articles/_article-02

	- var ID = 'event3-06-10-2018';
	include articles/_article-03
