extends modules/_base
block vars
	- var pageTitle = 'Галерея "Изображение"';
block content
	include page/_page-special-title

	- var cardSettings = {title: 'Галерея - "Изображение", высота "360 px"', cardSize: 'xl', imgUrl: 'img/img-block-full-01.jpg', imgClass: 'card-image'};
	include cards/_cards-full-galery-img

	- var cardSettings = {title: 'Галерея - "Изображение", высота "300 px"', cardSize: 'lg', imgUrl: 'img/img-block-full-02.jpg', imgClass: 'card-image'};
	include cards/_cards-full-galery-img	

	- var cardSettings = {title: 'Галерея - "Изображение", высота "210 px"', cardSize: 'sm', imgUrl: 'img/img-block-full-03.jpg', imgClass: 'card-image'};
	include cards/_cards-full-galery-img

	include cards/_cards-full-galery-slider-text

	include cards/_cards-full-galery-slider-imgfull-text

	- var pageTitle = 'Галерея "Слайдер"';
	include page/_page-special-title	

	include cards/_cards-galery-slider-full

	include cards/_cards-galery-slider-twothird-third
	include cards/_cards-galery-slider-third-twothird
	include cards/_cards-galery-slider-half
	include cards/_cards-galery-slider-thirds


	- var pageTitle = 'Галерея "Фотоотчет"';
	include page/_page-special-title

	include cards/_cards-galery-slider-thirds-3x3

	include cards/_cards-galery-slider-mosaic
	