extends modules/_base
	
block content
	-var pageTitle = 'Главная страница';

	include page/_page-head-filters

	include cards/_card-full-advant-news
	#cardModalSlider-01.cards
		include cards/_card-full-slider

	include cards/_card-half-slider

	include cards/_cards-third

	include cards/_cards-half

	include cards/_cards-two-thirds_left

	include cards/_cards-two-thirds_right

	include cards/_card-full_imgfullheight

	.card.cardTwoThirds
		.card-wrap.cardTwoThirds-wrap
			.cardTwoThirds__imgbox.card__imgbox(style='background-image: url(img/news-twothirds-img-01.jpg);')
				.card-succes-text
					p Оценка "Хорошо!"
			.card__content.cardTwoThirds__content
				.tagbox
					.tag
						button.button.button-tag Новости ПС
					.like-card
						button.like-button.comment-button
							i.icon-comment
							span.like-count 23
						button.like-button
							i.icon-like
							span.like-count 1286
				.card__title.cardTwoThirds-title
					a(href='#')
						| Насосно-компрессорные 
						br
						| трубы ТЭСЦ-1
				.card-date
					span 24 Сентября 2018
	.card.card-third
		.card-wrap.card-third-wrap
			.card-third__imgbox.card__imgbox(style='background-image: url(img/news-third-03.jpg);')
				.card-warning-text.hide
					p
			.card__content.card-third__content
				.tagbox
					.tag
						button.button.button-tag Новости ПС
					.like-card
						button.like-button.comment-button
							i.icon-comment
							span.like-count 23
						button.like-button
							i.icon-like
							span.like-count 1286
				.card__title.card-third__title
					a(href='#')
						| Обход управлющего 
						br
						|  директора БАЗ цеха №1
				.card-date
					span 24 Сентября 2018
	// строка
	.card.card-half.card-half_fullHeightImg
		.card-wrap.card-half-wrap(style='background-image: url(img/news-half-full-img-01.jpg);')
			.card__content.card-half__content
				.tagbox
					.tag
						button.button.button-tag.button-tag-o.button-tag-o_light Отдельные новости
					.like-card
						button.like-button.like-button_light.comment-button
							i.icon-comment
							span.like-count 23
						button.like-button.like-button_light
							i.icon-like
							span.like-count 1286
				.card__title.card-half-title
					a(href='#')
						| Насосно-компрессорные 
						br
						| трубы ТЭСЦ-1
				.card-date.card-date_light
					span 24 Сентября 2018
	.card.card-half
		.card-wrap.card-half-wrap
			.card-half-imgbox.card__imgbox(style='background-image: url(img/news-half-img-01.jpg);')
				.card-average-text
					p Оценка: Нормально!
			.card__content.card-half__content
				.tagbox
					.tag
						button.button.button-tag.button-tag-o Новости ПС
					.like-card
						button.like-button.comment-button
							i.icon-comment
							span.like-count 23
						button.like-button
							i.icon-like
							span.like-count 1286
				.card__title.card-half-title
					a(href='#')
						| Насосно-компрессорные 
						br
						| трубы ТЭСЦ-1
				.card-date
					span 24 Сентября 2018
	.card.card-full
		.card-wrap.card-full-wrap
			.card-full__imgbox.card__imgbox(style='background-image: url(img/news-full.jpg);')
				.card-warning-text.hide
					p
			.card__content.card-full__content
				.tagbox
					.tag
						button.button.button-tag Новости ОМК
					.like-card
						button.like-button.comment-button
							i.icon-comment
							span.like-count 23
						button.like-button
							i.icon-like
							span.like-count 1286
				.card__title.card-full__title
					a(href='#') Хороший старт!
				.card__text.card-full__text
					p
						| Беговая команда ОМК в этом году впервые в истории приняла участие в Московском марафоне
				.card-date
					span 24 Сентября 2018
	// строка
	.card.card-third
		.card-wrap.card-third-wrap
			.card-third__imgbox.card__imgbox(style='background-image: url(img/news-third-01.jpg);')
				.card-warning-text.hide
					p
			.card__content.card-third__content
				.tagbox
					.tag
						button.button.button-tag Региональные новости
					.like-card
						button.like-button.comment-button
							i.icon-comment
							span.like-count 23
						button.like-button
							i.icon-like
							span.like-count 1286
				.card__title.card-third__title
					a(href='#')
						| Насосно-компрессорные 
						br
						| трубы ТЭСЦ-1 
						br
						| трубы ТЭСЦ-1
				.card-date
					span 24 Сентября 2018
	.card.card-third
		.card-wrap.card-third-wrap
			.card-third__imgbox.card__imgbox(style='background-image: url(img/news-third-02.jpg);')
				.card-warning-text
					p Оценка: ПЛОХО!
			.card__content.card-third__content
				.tagbox
					.tag
						button.button.button-tag Новости ПС
					.like-card
						button.like-button.comment-button
							i.icon-comment
							span.like-count 23
						button.like-button
							i.icon-like
							span.like-count 1286
				.card__title.card-third__title
					a(href='#')
						| Обход управлющего 
						br
						|  директора БАЗ цеха №1
				.card-date
					span 24 Сентября 2018
	.card.card-third.card-third_fullHeightImg
		.card-wrap.card-third-wrap_fullHeightImg(style='background-image: url(img/news-third-full-img-01.jpg);')
			.card__content.card-third__content
				.tagbox
					.tag
						button.button.button-tag.button-tag_dark Новости ПС
					.like-card.like-card_light
						button.like-button.like-button_light.comment-button
							i.icon-comment
							span.like-count 23
						button.like-button.like-button_light
							i.icon-like
							span.like-count 1286
				.card__title.card-third__title
					a(href='#')
						| Насосно-компрессорные 
						br
						| трубы ТЭСЦ-1
				.card-date.card-date_light
					span 24 Сентября 2018
	// строка
	.card.card-half.card-half_fullHeightImg
		.card-wrap.card-half-wrap(style='background-image: url(img/news-half-full-img-01.jpg);')
			.card__content.card-half__content
				.tagbox
					.tag
						button.button.button-tag.button-tag-o.button-tag-o_light Отдельные новости
					.like-card
						button.like-button.like-button_light.comment-button
							i.icon-comment
							span.like-count 23
						button.like-button.like-button_light
							i.icon-like
							span.like-count 1286
				.card__title.card-half-title
					a(href='#')
						| Насосно-компрессорные 
						br
						| трубы ТЭСЦ-1 
						br
						| трубы ТЭСЦ-1
				.card-date.card-date_light
					span 24 Сентября 2018
	.card.card-half
		.card-wrap.card-half-wrap
			.card-half-imgbox.card__imgbox(style='background-image: url(img/news-half-img-01.jpg);')
				.card-warning-text.hide
					p
			.card__content.card-half__content
				.tagbox
					.tag
						button.button.button-tag.button-tag-o Новости ПС
					.like-card
						button.like-button.comment-button
							i.icon-comment
							span.like-count 23
						button.like-button
							i.icon-like
							span.like-count 1286
				.card__title.card-half-title
					a(href='#')
						| Насосно-компрессорные 
						br
						| трубы ТЭСЦ-1
				.card-date
					span 24 Сентября 2018
	// строка
	.card.cardTwoThirds
		.card-wrap.cardTwoThirds-wrap
			.cardTwoThirds__imgbox.card__imgbox(style='background-image: url(img/news-twothirds-img-01.jpg);')
				.card-warning-text.hide
					p
			.card__content.cardTwoThirds__content
				.tagbox
					.tag
						button.button.button-tag Новости ПС
					.like-card
						button.like-button.comment-button
							i.icon-comment
							span.like-count 23
						button.like-button
							i.icon-like
							span.like-count 1286
				.card__title.cardTwoThirds-title
					a(href='#')
						| Насосно-компрессорные 
						br
						| трубы ТЭСЦ-1
				.card-date
					span 24 Сентября 2018
	.card.card-third
		.card-wrap.card-third-wrap
			.card-third__imgbox.card__imgbox(style='background-image: url(img/news-third-03.jpg);')
				.card-warning-text.hide
					p
			.card__content.card-third__content
				.tagbox
					.tag
						button.button.button-tag Новости ПС
					.like-card
						button.like-button.comment-button
							i.icon-comment
							span.like-count 23
						button.like-button
							i.icon-like
							span.like-count 1286
				.card__title.card-third__title
					a(href='#')
						| Обход управлющего 
						br
						|  директора БАЗ цеха №1
				.card-date
					span 24 Сентября 2018
	// строка
	.card.card-third
		.card-wrap.card-third-wrap
			.card-third__imgbox.card__imgbox(style='background-image: url(img/news-third-04.jpg);')
				.card-warning-text.hide
					p
			.card__content.card-third__content
				.tagbox
					.tag
						button.button.button-tag Новости ПС
					.like-card
						button.like-button.comment-button
							i.icon-comment
							span.like-count 23
						button.like-button
							i.icon-like
							span.like-count 1286
				.card__title.card-third__title
					a(href='#')
						| Обход управлющего 
						br
						|  директора БАЗ цеха №1
				.card-date
					span 24 Сентября 2018
	.card.cardTwoThirds.cardTwoThirds_fullHeightImg
		.card-wrap.cardTwoThirds-wrap.cardTwoThirds-wrap_fullHeightImg(style='background-image: url(img/news-twothirds-full-img-01.jpg);')
			.card__content.cardTwoThirds__content
				.tagbox
					.tag
						button.button.button-tag.button-tag_dark Новости ПС
					.like-card
						button.like-button.like-button_light.comment-button
							i.icon-comment
							span.like-count 23
						button.like-button.like-button_light
							i.icon-like
							span.like-count 1286
				.card__title.cardTwoThirds-title
					a(href='#')
						| Насосно-компрессорные 
						br
						| трубы ТЭСЦ-1
				.card-date.card-date_light
					span 24 Сентября 2018
	// строка
	.card.card-full.card-full_fullHeightImg
		.card-wrap.card-full-wrap.card-full-wrap_fullHeightImg(style='background-image: url(img/news-full.jpg);')
			.card__content.card-full__content
				.tagbox
					.tag
						button.button.button-tag.button-tag_dark Новости ОМК
					.like-card
						button.like-button.like-button_light.comment-button
							i.icon-comment
							span.like-count 23
						button.like-button.like-button_light
							i.icon-like
							span.like-count 1286
				.card__title.card-full__title
					a(href='#') Хороший старт!
				.card__text.card-full__text
					p
						| Беговая команда ОМК в этом году впервые в истории приняла участие в Московском марафоне
				.card-date.card-date_light
					span 24 Сентября 2018
	// строка
	.card.cardTwoThirds
		.card-wrap.cardTwoThirds-wrap
			.cardTwoThirds__imgbox.card__imgbox(style='background-image: url(img/news-twothirds-img-01.jpg);')
				.card-warning-text
					p Что-то пошло не так
			.card__content.cardTwoThirds__content
				.tagbox
					.tag
						button.button.button-tag Новости ПС
					.like-card
						button.like-button.comment-button
							i.icon-comment
							span.like-count 23
						button.like-button
							i.icon-like
							span.like-count 1286
				.card__title.cardTwoThirds-title
					a(href='#')
						| Насосно-компрессорные 
						br
						| трубы ТЭСЦ-1
				.card-date
					span 24 Сентября 2018
	.card.card-third
		.card-wrap.card-third-wrap
			.card-third__imgbox.card__imgbox(style='background-image: url(img/news-third-03.jpg);')
				.card-warning-text.hide
					p
			.card__content.card-third__content
				.tagbox
					.tag
						button.button.button-tag Новости ПС
					.like-card
						button.like-button.comment-button
							i.icon-comment
							span.like-count 23
						button.like-button
							i.icon-like
							span.like-count 1286
				.card__title.card-third__title
					a(href='#')
						| Обход управлющего 
						br
						|  директора БАЗ цеха №1
				.card-date
					span 24 Сентября 2018
	// строка
	.card.card-half.card-half_fullHeightImg
		.card-wrap.card-half-wrap(style='background-image: url(img/news-half-full-img-01.jpg);')
			.card__content.card-half__content
				.tagbox
					.tag
						button.button.button-tag.button-tag-o.button-tag-o_light Отдельные новости
					.like-card
						button.like-button.like-button_light.comment-button
							i.icon-comment
							span.like-count 23
						button.like-button.like-button_light
							i.icon-like
							span.like-count 1286
				.card__title.card-half-title
					a(href='#')
						| Насосно-компрессорные 
						br
						| трубы ТЭСЦ-1
				.card-date.card-date_light
					span 24 Сентября 2018
	.card.card-half
		.card-wrap.card-half-wrap
			.card-half-imgbox.card__imgbox(style='background-image: url(img/news-half-img-01.jpg);')
				.card-warning-text
					p Всё изменится!
			.card__content.card-half__content
				.tagbox
					.tag
						button.button.button-tag.button-tag-o Новости ПС
					.like-card
						button.like-button.comment-button
							i.icon-comment
							span.like-count 23
						button.like-button
							i.icon-like
							span.like-count 1286
				.card__title.card-half-title
					a(href='#')
						| Насосно-компрессорные 
						br
						| трубы ТЭСЦ-1
				.card-date
					span 24 Сентября 2018
	.card.card-full
		.card-wrap.card-full-wrap
			.card-full__imgbox.card__imgbox(style='background-image: url(img/news-full.jpg);')
				.card-warning-text.hide
					p
			.card__content.card-full__content
				.tagbox
					.tag
						button.button.button-tag Новости ОМК
					.like-card
						button.like-button.comment-button
							i.icon-comment
							span.like-count 23
						button.like-button
							i.icon-like
							span.like-count 1286
				.card__title.card-full__title
					a(href='#') Хороший старт!
				.card__text.card-full__text
					p
						| Беговая команда ОМК в этом году впервые в истории приняла участие в Московском марафоне
				.card-date
					span 24 Сентября 2018
	// строка
	.card.card-third
		.card-wrap.card-third-wrap
			.card-third__imgbox.card__imgbox(style='background-image: url(img/news-third-01.jpg);')
				.card-warning-text.hide
					p
			.card__content.card-third__content
				.tagbox
					.tag
						button.button.button-tag Региональные новости
					.like-card
						button.like-button.comment-button
							i.icon-comment
							span.like-count 23
						button.like-button
							i.icon-like
							span.like-count 1286
				.card__title.card-third__title
					a(href='#')
						| Насосно-компрессорные 
						br
						| трубы ТЭСЦ-1 
						br
						| трубы ТЭСЦ-1
				.card-date
					span 24 Сентября 2018
	.card.card-third
		.card-wrap.card-third-wrap
			.card-third__imgbox.card__imgbox(style='background-image: url(img/news-third-02.jpg);')
				.card-warning-text
					p Оценка: ПЛОХО!
			.card__content.card-third__content
				.tagbox
					.tag
						button.button.button-tag Новости ПС
					.like-card
						button.like-button.comment-button
							i.icon-comment
							span.like-count 23
						button.like-button
							i.icon-like
							span.like-count 1286
				.card__title.card-third__title
					a(href='#')
						| Обход управлющего 
						br
						|  директора БАЗ цеха №1
				.card-date
					span 24 Сентября 2018
	.card.card-third.card-third_fullHeightImg
		.card-wrap.card-third-wrap_fullHeightImg(style='background-image: url(img/news-third-full-img-01.jpg);')
			.card__content.card-third__content
				.tagbox
					.tag
						button.button.button-tag.button-tag_dark Новости ПС
					.like-card.like-card_light
						button.like-button.like-button_light.comment-button
							i.icon-comment
							span.like-count 23
						button.like-button.like-button_light
							i.icon-like
							span.like-count 1286
				.card__title.card-third__title
					a(href='#')
						| Насосно-компрессорные 
						br
						| трубы ТЭСЦ-1
				.card-date.card-date_light
					span 24 Сентября 2018
	// строка
	.card.card-half.card-half_fullHeightImg
		.card-wrap.card-half-wrap(style='background-image: url(img/news-half-full-img-01.jpg);')
			.card__content.card-half__content
				.tagbox
					.tag
						button.button.button-tag.button-tag-o.button-tag-o_light Отдельные новости
					.like-card
						button.like-button.like-button_light.comment-button
							i.icon-comment
							span.like-count 23
						button.like-button.like-button_light
							i.icon-like
							span.like-count 1286
				.card__title.card-half-title
					a(href='#')
						| Насосно-компрессорные 
						br
						| трубы ТЭСЦ-1 
						br
						| трубы ТЭСЦ-1
				.card-date.card-date_light
					span 24 Сентября 2018
	.card.card-half
		.card-wrap.card-half-wrap
			.card-half-imgbox.card__imgbox(style='background-image: url(img/news-half-img-01.jpg);')
				.card-warning-text.hide
					p
			.card__content.card-half__content
				.tagbox
					.tag
						button.button.button-tag.button-tag-o Новости ПС
					.like-card
						button.like-button.comment-button
							i.icon-comment
							span.like-count 23
						button.like-button
							i.icon-like
							span.like-count 1286
				.card__title.card-half-title
					a(href='#')
						| Насосно-компрессорные 
						br
						| трубы ТЭСЦ-1
				.card-date
					span 24 Сентября 2018
	// строка
	.card.cardTwoThirds
		.card-wrap.cardTwoThirds-wrap
			.cardTwoThirds__imgbox.card__imgbox(style='background-image: url(img/news-twothirds-img-01.jpg);')
				.card-warning-text.hide
					p
			.card__content.cardTwoThirds__content
				.tagbox
					.tag
						button.button.button-tag Новости ПС
					.like-card
						button.like-button.comment-button
							i.icon-comment
							span.like-count 23
						button.like-button
							i.icon-like
							span.like-count 1286
				.card__title.cardTwoThirds-title
					a(href='#')
						| Насосно-компрессорные 
						br
						| трубы ТЭСЦ-1
				.card-date
					span 24 Сентября 2018
	.card.card-third
		.card-wrap.card-third-wrap
			.card-third__imgbox.card__imgbox(style='background-image: url(img/news-third-03.jpg);')
				.card-warning-text.hide
					p
			.card__content.card-third__content
				.tagbox
					.tag
						button.button.button-tag Новости ПС
					.like-card
						button.like-button.comment-button
							i.icon-comment
							span.like-count 23
						button.like-button
							i.icon-like
							span.like-count 1286
				.card__title.card-third__title
					a(href='#')
						| Обход управлющего 
						br
						|  директора БАЗ цеха №1
				.card-date
					span 24 Сентября 2018
	// строка
	.card.card-third
		.card-wrap.card-third-wrap
			.card-third__imgbox.card__imgbox(style='background-image: url(img/news-third-04.jpg);')
				.card-warning-text.hide
					p
			.card__content.card-third__content
				.tagbox
					.tag
						button.button.button-tag Новости ПС
					.like-card
						button.like-button.comment-button
							i.icon-comment
							span.like-count 23
						button.like-button
							i.icon-like
							span.like-count 1286
				.card__title.card-third__title
					a(href='#')
						| Обход управлющего 
						br
						|  директора БАЗ цеха №1
				.card-date
					span 24 Сентября 2018
	.card.cardTwoThirds.cardTwoThirds_fullHeightImg
		.card-wrap.cardTwoThirds-wrap.cardTwoThirds-wrap_fullHeightImg(style='background-image: url(img/news-twothirds-full-img-01.jpg);')
			.card__content.cardTwoThirds__content
				.tagbox
					.tag
						button.button.button-tag.button-tag_dark Новости ПС
					.like-card
						button.like-button.like-button_light.comment-button
							i.icon-comment
							span.like-count 23
						button.like-button.like-button_light
							i.icon-like
							span.like-count 1286
				.card__title.cardTwoThirds-title
					a(href='#')
						| Насосно-компрессорные 
						br
						| трубы ТЭСЦ-1
				.card-date.card-date_light
					span 24 Сентября 2018
	// строка
	.card.card-full.card-full_fullHeightImg
		.card-wrap.card-full-wrap.card-full-wrap_fullHeightImg(style='background-image: url(img/news-full.jpg);')
			.card__content.card-full__content
				.tagbox
					.tag
						button.button.button-tag.button-tag_dark Новости ОМК
					.like-card
						button.like-button.like-button_light.comment-button
							i.icon-comment
							span.like-count 23
						button.like-button.like-button_light
							i.icon-like
							span.like-count 1286
				.card__title.card-full__title
					a(href='#') Хороший старт!
				.card__text.card-full__text
					p
						| Беговая команда ОМК в этом году впервые в истории приняла участие в Московском марафоне
				.card-date.card-date_light
					span 24 Сентября 2018
	// строка
	.card.cardTwoThirds
		.card-wrap.cardTwoThirds-wrap
			.cardTwoThirds__imgbox.card__imgbox(style='background-image: url(img/news-twothirds-img-01.jpg);')
				.card-warning-text
					p Что-то пошло не так
			.card__content.cardTwoThirds__content
				.tagbox
					.tag
						button.button.button-tag Новости ПС
					.like-card
						button.like-button.comment-button
							i.icon-comment
							span.like-count 23
						button.like-button
							i.icon-like
							span.like-count 1286
				.card__title.cardTwoThirds-title
					a(href='#')
						| Насосно-компрессорные 
						br
						| трубы ТЭСЦ-1
				.card-date
					span 24 Сентября 2018
	.card.card-third
		.card-wrap.card-third-wrap
			.card-third__imgbox.card__imgbox(style='background-image: url(img/news-third-03.jpg);')
				.card-warning-text.hide
					p
			.card__content.card-third__content
				.tagbox
					.tag
						button.button.button-tag Новости ПС
					.like-card
						button.like-button.comment-button
							i.icon-comment
							span.like-count 23
						button.like-button
							i.icon-like
							span.like-count 1286
				.card__title.card-third__title
					a(href='#')
						| Обход управлющего 
						br
						|  директора БАЗ цеха №1
				.card-date
					span 24 Сентября 2018
	// строка
	.card.card-half.card-half_fullHeightImg
		.card-wrap.card-half-wrap(style='background-image: url(img/news-half-full-img-01.jpg);')
			.card__content.card-half__content
				.tagbox
					.tag
						button.button.button-tag.button-tag-o.button-tag-o_light Отдельные новости
					.like-card
						button.like-button.like-button_light.comment-button
							i.icon-comment
							span.like-count 23
						button.like-button.like-button_light
							i.icon-like
							span.like-count 1286
				.card__title.card-half-title
					a(href='#')
						| Насосно-компрессорные 
						br
						| трубы ТЭСЦ-1
				.card-date.card-date_light
					span 24 Сентября 2018
	.card.card-half
		.card-wrap.card-half-wrap
			.card-half-imgbox.card__imgbox(style='background-image: url(img/news-half-img-01.jpg);')
				.card-warning-text
					p Всё изменится!
			.card__content.card-half__content
				.tagbox
					.tag
						button.button.button-tag.button-tag-o Новости ПС
					.like-card
						button.like-button.comment-button
							i.icon-comment
							span.like-count 23
						button.like-button
							i.icon-like
							span.like-count 1286
				.card__title.card-half-title
					a(href='#')
						| Насосно-компрессорные 
						br
						| трубы ТЭСЦ-1
				.card-date
					span 24 Сентября 2018
	.card.card-full
		.card-wrap.card-full-wrap
			.card-full__imgbox.card__imgbox(style='background-image: url(img/news-full.jpg);')
				.card-warning-text.hide
					p
			.card__content.card-full__content
				.tagbox
					.tag
						button.button.button-tag Новости ОМК
					.like-card
						button.like-button.comment-button
							i.icon-comment
							span.like-count 23
						button.like-button
							i.icon-like
							span.like-count 1286
				.card__title.card-full__title
					a(href='#') Хороший старт!
				.card__text.card-full__text
					p
						| Беговая команда ОМК в этом году впервые в истории приняла участие в Московском марафоне
				.card-date
					span 24 Сентября 2018
	// строка
	.card.card-third
		.card-wrap.card-third-wrap
			.card-third__imgbox.card__imgbox(style='background-image: url(img/news-third-01.jpg);')
				.card-warning-text.hide
					p
			.card__content.card-third__content
				.tagbox
					.tag
						button.button.button-tag Региональные новости
					.like-card
						button.like-button.comment-button
							i.icon-comment
							span.like-count 23
						button.like-button
							i.icon-like
							span.like-count 1286
				.card__title.card-third__title
					a(href='#')
						| Насосно-компрессорные 
						br
						| трубы ТЭСЦ-1 
						br
						| трубы ТЭСЦ-1
				.card-date
					span 24 Сентября 2018
	.card.card-third
		.card-wrap.card-third-wrap
			.card-third__imgbox.card__imgbox(style='background-image: url(img/news-third-02.jpg);')
				.card-warning-text
					p Оценка: ПЛОХО!
			.card__content.card-third__content
				.tagbox
					.tag
						button.button.button-tag Новости ПС
					.like-card
						button.like-button.comment-button
							i.icon-comment
							span.like-count 23
						button.like-button
							i.icon-like
							span.like-count 1286
				.card__title.card-third__title
					a(href='#')
						| Обход управлющего 
						br
						|  директора БАЗ цеха №1
				.card-date
					span 24 Сентября 2018
	.card.card-third.card-third_fullHeightImg
		.card-wrap.card-third-wrap_fullHeightImg(style='background-image: url(img/news-third-full-img-01.jpg);')
			.card__content.card-third__content
				.tagbox
					.tag
						button.button.button-tag.button-tag_dark Новости ПС
					.like-card.like-card_light
						button.like-button.like-button_light.comment-button
							i.icon-comment
							span.like-count 23
						button.like-button.like-button_light
							i.icon-like
							span.like-count 1286
				.card__title.card-third__title
					a(href='#')
						| Насосно-компрессорные 
						br
						| трубы ТЭСЦ-1
				.card-date.card-date_light
					span 24 Сентября 2018
	// строка
	.card.card-half.card-half_fullHeightImg
		.card-wrap.card-half-wrap(style='background-image: url(img/news-half-full-img-01.jpg);')
			.card__content.card-half__content
				.tagbox
					.tag
						button.button.button-tag.button-tag-o.button-tag-o_light Отдельные новости
					.like-card
						button.like-button.like-button_light.comment-button
							i.icon-comment
							span.like-count 23
						button.like-button.like-button_light
							i.icon-like
							span.like-count 1286
				.card__title.card-half-title
					a(href='#')
						| Насосно-компрессорные 
						br
						| трубы ТЭСЦ-1 
						br
						| трубы ТЭСЦ-1
				.card-date.card-date_light
					span 24 Сентября 2018
	.card.card-half
		.card-wrap.card-half-wrap
			.card-half-imgbox.card__imgbox(style='background-image: url(img/news-half-img-01.jpg);')
				.card-warning-text.hide
					p
			.card__content.card-half__content
				.tagbox
					.tag
						button.button.button-tag.button-tag-o Новости ПС
					.like-card
						button.like-button.comment-button
							i.icon-comment
							span.like-count 23
						button.like-button
							i.icon-like
							span.like-count 1286
				.card__title.card-half-title
					a(href='#')
						| Насосно-компрессорные 
						br
						| трубы ТЭСЦ-1
				.card-date
					span 24 Сентября 2018
	// строка
	.card.cardTwoThirds
		.card-wrap.cardTwoThirds-wrap
			.cardTwoThirds__imgbox.card__imgbox(style='background-image: url(img/news-twothirds-img-01.jpg);')
				.card-warning-text.hide
					p
			.card__content.cardTwoThirds__content
				.tagbox
					.tag
						button.button.button-tag Новости ПС
					.like-card
						button.like-button.comment-button
							i.icon-comment
							span.like-count 23
						button.like-button
							i.icon-like
							span.like-count 1286
				.card__title.cardTwoThirds-title
					a(href='#')
						| Насосно-компрессорные 
						br
						| трубы ТЭСЦ-1
				.card-date
					span 24 Сентября 2018
	.card.card-third
		.card-wrap.card-third-wrap
			.card-third__imgbox.card__imgbox(style='background-image: url(img/news-third-03.jpg);')
				.card-warning-text.hide
					p
			.card__content.card-third__content
				.tagbox
					.tag
						button.button.button-tag Новости ПС
					.like-card
						button.like-button.comment-button
							i.icon-comment
							span.like-count 23
						button.like-button
							i.icon-like
							span.like-count 1286
				.card__title.card-third__title
					a(href='#')
						| Обход управлющего 
						br
						|  директора БАЗ цеха №1
				.card-date
					span 24 Сентября 2018
	// строка
	.card.card-third
		.card-wrap.card-third-wrap
			.card-third__imgbox.card__imgbox(style='background-image: url(img/news-third-04.jpg);')
				.card-warning-text.hide
					p
			.card__content.card-third__content
				.tagbox
					.tag
						button.button.button-tag Новости ПС
					.like-card
						button.like-button.comment-button
							i.icon-comment
							span.like-count 23
						button.like-button
							i.icon-like
							span.like-count 1286
				.card__title.card-third__title
					a(href='#')
						| Обход управлющего 
						br
						|  директора БАЗ цеха №1
				.card-date
					span 24 Сентября 2018
	.card.cardTwoThirds.cardTwoThirds_fullHeightImg
		.card-wrap.cardTwoThirds-wrap.cardTwoThirds-wrap_fullHeightImg(style='background-image: url(img/news-twothirds-full-img-01.jpg);')
			.card__content.cardTwoThirds__content
				.tagbox
					.tag
						button.button.button-tag.button-tag_dark Новости ПС
					.like-card
						button.like-button.like-button_light.comment-button
							i.icon-comment
							span.like-count 23
						button.like-button.like-button_light
							i.icon-like
							span.like-count 1286
				.card__title.cardTwoThirds-title
					a(href='#')
						| Насосно-компрессорные 
						br
						| трубы ТЭСЦ-1
				.card-date.card-date_light
					span 24 Сентября 2018
	// строка
	.card.card-full.card-full_fullHeightImg
		.card-wrap.card-full-wrap.card-full-wrap_fullHeightImg(style='background-image: url(img/news-full.jpg);')
			.card__content.card-full__content
				.tagbox
					.tag
						button.button.button-tag.button-tag_dark Новости ОМК
					.like-card
						button.like-button.like-button_light.comment-button
							i.icon-comment
							span.like-count 23
						button.like-button.like-button_light
							i.icon-like
							span.like-count 1286
				.card__title.card-full__title
					a(href='#') Хороший старт!
				.card__text.card-full__text
					p
						| Беговая команда ОМК в этом году впервые в истории приняла участие в Московском марафоне
				.card-date.card-date_light
					span 24 Сентября 2018
	// строка
	.card.cardTwoThirds
		.card-wrap.cardTwoThirds-wrap
			.cardTwoThirds__imgbox.card__imgbox(style='background-image: url(img/news-twothirds-img-01.jpg);')
				.card-warning-text
					p Что-то пошло не так
			.card__content.cardTwoThirds__content
				.tagbox
					.tag
						button.button.button-tag Новости ПС
					.like-card
						button.like-button.comment-button
							i.icon-comment
							span.like-count 23
						button.like-button
							i.icon-like
							span.like-count 1286
				.card__title.cardTwoThirds-title
					a(href='#')
						| Насосно-компрессорные 
						br
						| трубы ТЭСЦ-1
				.card-date
					span 24 Сентября 2018
	.card.card-third
		.card-wrap.card-third-wrap
			.card-third__imgbox.card__imgbox(style='background-image: url(img/news-third-03.jpg);')
				.card-warning-text.hide
					p
			.card__content.card-third__content
				.tagbox
					.tag
						button.button.button-tag Новости ПС
					.like-card
						button.like-button.comment-button
							i.icon-comment
							span.like-count 23
						button.like-button
							i.icon-like
							span.like-count 1286
				.card__title.card-third__title
					a(href='#')
						| Обход управлющего 
						br
						|  директора БАЗ цеха №1
				.card-date
					span 24 Сентября 2018
	// строка
	.card.card-half.card-half_fullHeightImg
		.card-wrap.card-half-wrap(style='background-image: url(img/news-half-full-img-01.jpg);')
			.card__content.card-half__content
				.tagbox
					.tag
						button.button.button-tag.button-tag-o.button-tag-o_light Отдельные новости
					.like-card
						button.like-button.like-button_light.comment-button
							i.icon-comment
							span.like-count 23
						button.like-button.like-button_light
							i.icon-like
							span.like-count 1286
				.card__title.card-half-title
					a(href='#')
						| Насосно-компрессорные 
						br
						| трубы ТЭСЦ-1
				.card-date.card-date_light
					span 24 Сентября 2018
	.card.card-half
		.card-wrap.card-half-wrap
			.card-half-imgbox.card__imgbox(style='background-image: url(img/news-half-img-01.jpg);')
				.card-warning-text
					p Всё изменится!
			.card__content.card-half__content
				.tagbox
					.tag
						button.button.button-tag.button-tag-o Новости ПС
					.like-card
						button.like-button.comment-button
							i.icon-comment
							span.like-count 23
						button.like-button
							i.icon-like
							span.like-count 1286
				.card__title.card-half-title
					a(href='#')
						| Насосно-компрессорные 
						br
						| трубы ТЭСЦ-1
				.card-date
					span 24 Сентября 2018
	.card.card-full
		.card-wrap.card-full-wrap
			.card-full__imgbox.card__imgbox(style='background-image: url(img/news-full.jpg);')
				.card-warning-text.hide
					p
			.card__content.card-full__content
				.tagbox
					.tag
						button.button.button-tag Новости ОМК
					.like-card
						button.like-button.comment-button
							i.icon-comment
							span.like-count 23
						button.like-button
							i.icon-like
							span.like-count 1286
				.card__title.card-full__title
					a(href='#') Хороший старт!
				.card__text.card-full__text
					p
						| Беговая команда ОМК в этом году впервые в истории приняла участие в Московском марафоне
				.card-date
					span 24 Сентября 2018
	// строка
	.card.card-third
		.card-wrap.card-third-wrap
			.card-third__imgbox.card__imgbox(style='background-image: url(img/news-third-01.jpg);')
				.card-warning-text.hide
					p
			.card__content.card-third__content
				.tagbox
					.tag
						button.button.button-tag Региональные новости
					.like-card
						button.like-button.comment-button
							i.icon-comment
							span.like-count 23
						button.like-button
							i.icon-like
							span.like-count 1286
				.card__title.card-third__title
					a(href='#')
						| Насосно-компрессорные 
						br
						| трубы ТЭСЦ-1 
						br
						| трубы ТЭСЦ-1
				.card-date
					span 24 Сентября 2018
	.card.card-third
		.card-wrap.card-third-wrap
			.card-third__imgbox.card__imgbox(style='background-image: url(img/news-third-02.jpg);')
				.card-warning-text
					p Оценка: ПЛОХО!
			.card__content.card-third__content
				.tagbox
					.tag
						button.button.button-tag Новости ПС
					.like-card
						button.like-button.comment-button
							i.icon-comment
							span.like-count 23
						button.like-button
							i.icon-like
							span.like-count 1286
				.card__title.card-third__title
					a(href='#')
						| Обход управлющего 
						br
						|  директора БАЗ цеха №1
				.card-date
					span 24 Сентября 2018
	.card.card-third.card-third_fullHeightImg
		.card-wrap.card-third-wrap_fullHeightImg(style='background-image: url(img/news-third-full-img-01.jpg);')
			.card__content.card-third__content
				.tagbox
					.tag
						button.button.button-tag.button-tag_dark Новости ПС
					.like-card.like-card_light
						button.like-button.like-button_light.comment-button
							i.icon-comment
							span.like-count 23
						button.like-button.like-button_light
							i.icon-like
							span.like-count 1286
				.card__title.card-third__title
					a(href='#')
						| Насосно-компрессорные 
						br
						| трубы ТЭСЦ-1
				.card-date.card-date_light
					span 24 Сентября 2018
	// строка
	.card.card-half.card-half_fullHeightImg
		.card-wrap.card-half-wrap(style='background-image: url(img/news-half-full-img-01.jpg);')
			.card__content.card-half__content
				.tagbox
					.tag
						button.button.button-tag.button-tag-o.button-tag-o_light Отдельные новости
					.like-card
						button.like-button.like-button_light.comment-button
							i.icon-comment
							span.like-count 23
						button.like-button.like-button_light
							i.icon-like
							span.like-count 1286
				.card__title.card-half-title
					a(href='#')
						| Насосно-компрессорные 
						br
						| трубы ТЭСЦ-1 
						br
						| трубы ТЭСЦ-1
				.card-date.card-date_light
					span 24 Сентября 2018
	.card.card-half
		.card-wrap.card-half-wrap
			.card-half-imgbox.card__imgbox(style='background-image: url(img/news-half-img-01.jpg);')
				.card-warning-text.hide
					p
			.card__content.card-half__content
				.tagbox
					.tag
						button.button.button-tag.button-tag-o Новости ПС
					.like-card
						button.like-button.comment-button
							i.icon-comment
							span.like-count 23
						button.like-button
							i.icon-like
							span.like-count 1286
				.card__title.card-half-title
					a(href='#')
						| Насосно-компрессорные 
						br
						| трубы ТЭСЦ-1
				.card-date
					span 24 Сентября 2018
	// строка
	.card.cardTwoThirds
		.card-wrap.cardTwoThirds-wrap
			.cardTwoThirds__imgbox.card__imgbox(style='background-image: url(img/news-twothirds-img-01.jpg);')
				.card-warning-text.hide
					p
			.card__content.cardTwoThirds__content
				.tagbox
					.tag
						button.button.button-tag Новости ПС
					.like-card
						button.like-button.comment-button
							i.icon-comment
							span.like-count 23
						button.like-button
							i.icon-like
							span.like-count 1286
				.card__title.cardTwoThirds-title
					a(href='#')
						| Насосно-компрессорные 
						br
						| трубы ТЭСЦ-1
				.card-date
					span 24 Сентября 2018
	.card.card-third
		.card-wrap.card-third-wrap
			.card-third__imgbox.card__imgbox(style='background-image: url(img/news-third-03.jpg);')
				.card-warning-text.hide
					p
			.card__content.card-third__content
				.tagbox
					.tag
						button.button.button-tag Новости ПС
					.like-card
						button.like-button.comment-button
							i.icon-comment
							span.like-count 23
						button.like-button
							i.icon-like
							span.like-count 1286
				.card__title.card-third__title
					a(href='#')
						| Обход управлющего 
						br
						|  директора БАЗ цеха №1
				.card-date
					span 24 Сентября 2018
	// строка
	.card.card-third
		.card-wrap.card-third-wrap
			.card-third__imgbox.card__imgbox(style='background-image: url(img/news-third-04.jpg);')
				.card-warning-text.hide
					p
			.card__content.card-third__content
				.tagbox
					.tag
						button.button.button-tag Новости ПС
					.like-card
						button.like-button.comment-button
							i.icon-comment
							span.like-count 23
						button.like-button
							i.icon-like
							span.like-count 1286
				.card__title.card-third__title
					a(href='#')
						| Обход управлющего 
						br
						|  директора БАЗ цеха №1
				.card-date
					span 24 Сентября 2018
	.card.cardTwoThirds.cardTwoThirds_fullHeightImg
		.card-wrap.cardTwoThirds-wrap.cardTwoThirds-wrap_fullHeightImg(style='background-image: url(img/news-twothirds-full-img-01.jpg);')
			.card__content.cardTwoThirds__content
				.tagbox
					.tag
						button.button.button-tag.button-tag_dark Новости ПС
					.like-card
						button.like-button.like-button_light.comment-button
							i.icon-comment
							span.like-count 23
						button.like-button.like-button_light
							i.icon-like
							span.like-count 1286
				.card__title.cardTwoThirds-title
					a(href='#')
						| Насосно-компрессорные 
						br
						| трубы ТЭСЦ-1
				.card-date.card-date_light
					span 24 Сентября 2018
	// строка
	.card.card-full.card-full_fullHeightImg
		.card-wrap.card-full-wrap.card-full-wrap_fullHeightImg(style='background-image: url(img/news-full.jpg);')
			.card__content.card-full__content
				.tagbox
					.tag
						button.button.button-tag.button-tag_dark Новости ОМК
					.like-card
						button.like-button.like-button_light.comment-button
							i.icon-comment
							span.like-count 23
						button.like-button.like-button_light
							i.icon-like
							span.like-count 1286
				.card__title.card-full__title
					a(href='#') Хороший старт!
				.card__text.card-full__text
					p
						| Беговая команда ОМК в этом году впервые в истории приняла участие в Московском марафоне
				.card-date.card-date_light
					span 24 Сентября 2018
	// строка
	.card.cardTwoThirds
		.card-wrap.cardTwoThirds-wrap
			.cardTwoThirds__imgbox.card__imgbox(style='background-image: url(img/news-twothirds-img-01.jpg);')
				.card-warning-text
					p Что-то пошло не так
			.card__content.cardTwoThirds__content
				.tagbox
					.tag
						button.button.button-tag Новости ПС
					.like-card
						button.like-button.comment-button
							i.icon-comment
							span.like-count 23
						button.like-button
							i.icon-like
							span.like-count 1286
				.card__title.cardTwoThirds-title
					a(href='#')
						| Насосно-компрессорные 
						br
						| трубы ТЭСЦ-1
				.card-date
					span 24 Сентября 2018
	.card.card-third
		.card-wrap.card-third-wrap
			.card-third__imgbox.card__imgbox(style='background-image: url(img/news-third-03.jpg);')
				.card-warning-text.hide
					p
			.card__content.card-third__content
				.tagbox
					.tag
						button.button.button-tag Новости ПС
					.like-card
						button.like-button.comment-button
							i.icon-comment
							span.like-count 23
						button.like-button
							i.icon-like
							span.like-count 1286
				.card__title.card-third__title
					a(href='#')
						| Обход управлющего 
						br
						|  директора БАЗ цеха №1
				.card-date
					span 24 Сентября 2018
	// строка
	.card.card-half.card-half_fullHeightImg
		.card-wrap.card-half-wrap(style='background-image: url(img/news-half-full-img-01.jpg);')
			.card__content.card-half__content
				.tagbox
					.tag
						button.button.button-tag.button-tag-o.button-tag-o_light Отдельные новости
					.like-card
						button.like-button.like-button_light.comment-button
							i.icon-comment
							span.like-count 23
						button.like-button.like-button_light
							i.icon-like
							span.like-count 1286
				.card__title.card-half-title
					a(href='#')
						| Насосно-компрессорные 
						br
						| трубы ТЭСЦ-1
				.card-date.card-date_light
					span 24 Сентября 2018
	.card.card-half
		.card-wrap.card-half-wrap
			.card-half-imgbox.card__imgbox(style='background-image: url(img/news-half-img-01.jpg);')
				.card-warning-text
					p Всё изменится!
			.card__content.card-half__content
				.tagbox
					.tag
						button.button.button-tag.button-tag-o Новости ПС
					.like-card
						button.like-button.comment-button
							i.icon-comment
							span.like-count 23
						button.like-button
							i.icon-like
							span.like-count 1286
				.card__title.card-half-title
					a(href='#')
						| Насосно-компрессорные 
						br
						| трубы ТЭСЦ-1
				.card-date
					span 24 Сентября 2018
	.card.card-full
		.card-wrap.card-full-wrap
			.card-full__imgbox.card__imgbox(style='background-image: url(img/news-full.jpg);')
				.card-warning-text.hide
					p
			.card__content.card-full__content
				.tagbox
					.tag
						button.button.button-tag Новости ОМК
					.like-card
						button.like-button.comment-button
							i.icon-comment
							span.like-count 23
						button.like-button
							i.icon-like
							span.like-count 1286
				.card__title.card-full__title
					a(href='#') Хороший старт!
				.card__text.card-full__text
					p
						| Беговая команда ОМК в этом году впервые в истории приняла участие в Московском марафоне
				.card-date
					span 24 Сентября 2018
	// строка
	.card.card-third
		.card-wrap.card-third-wrap
			.card-third__imgbox.card__imgbox(style='background-image: url(img/news-third-01.jpg);')
				.card-warning-text.hide
					p
			.card__content.card-third__content
				.tagbox
					.tag
						button.button.button-tag Региональные новости
					.like-card
						button.like-button.comment-button
							i.icon-comment
							span.like-count 23
						button.like-button
							i.icon-like
							span.like-count 1286
				.card__title.card-third__title
					a(href='#')
						| Насосно-компрессорные 
						br
						| трубы ТЭСЦ-1 
						br
						| трубы ТЭСЦ-1
				.card-date
					span 24 Сентября 2018
	.card.card-third
		.card-wrap.card-third-wrap
			.card-third__imgbox.card__imgbox(style='background-image: url(img/news-third-02.jpg);')
				.card-warning-text
					p Оценка: ПЛОХО!
			.card__content.card-third__content
				.tagbox
					.tag
						button.button.button-tag Новости ПС
					.like-card
						button.like-button.comment-button
							i.icon-comment
							span.like-count 23
						button.like-button
							i.icon-like
							span.like-count 1286
				.card__title.card-third__title
					a(href='#')
						| Обход управлющего 
						br
						|  директора БАЗ цеха №1
				.card-date
					span 24 Сентября 2018
	.card.card-third.card-third_fullHeightImg
		.card-wrap.card-third-wrap_fullHeightImg(style='background-image: url(img/news-third-full-img-01.jpg);')
			.card__content.card-third__content
				.tagbox
					.tag
						button.button.button-tag.button-tag_dark Новости ПС
					.like-card.like-card_light
						button.like-button.like-button_light.comment-button
							i.icon-comment
							span.like-count 23
						button.like-button.like-button_light
							i.icon-like
							span.like-count 1286
				.card__title.card-third__title
					a(href='#')
						| Насосно-компрессорные 
						br
						| трубы ТЭСЦ-1
				.card-date.card-date_light
					span 24 Сентября 2018
	// строка
	.card.card-half.card-half_fullHeightImg
		.card-wrap.card-half-wrap(style='background-image: url(img/news-half-full-img-01.jpg);')
			.card__content.card-half__content
				.tagbox
					.tag
						button.button.button-tag.button-tag-o.button-tag-o_light Отдельные новости
					.like-card
						button.like-button.like-button_light.comment-button
							i.icon-comment
							span.like-count 23
						button.like-button.like-button_light
							i.icon-like
							span.like-count 1286
				.card__title.card-half-title
					a(href='#')
						| Насосно-компрессорные 
						br
						| трубы ТЭСЦ-1 
						br
						| трубы ТЭСЦ-1
				.card-date.card-date_light
					span 24 Сентября 2018
	.card.card-half
		.card-wrap.card-half-wrap
			.card-half-imgbox.card__imgbox(style='background-image: url(img/news-half-img-01.jpg);')
				.card-warning-text.hide
					p
			.card__content.card-half__content
				.tagbox
					.tag
						button.button.button-tag.button-tag-o Новости ПС
					.like-card
						button.like-button.comment-button
							i.icon-comment
							span.like-count 23
						button.like-button
							i.icon-like
							span.like-count 1286
				.card__title.card-half-title
					a(href='#')
						| Насосно-компрессорные 
						br
						| трубы ТЭСЦ-1
				.card-date
					span 24 Сентября 2018
	// строка
	.card.cardTwoThirds
		.card-wrap.cardTwoThirds-wrap
			.cardTwoThirds__imgbox.card__imgbox(style='background-image: url(img/news-twothirds-img-01.jpg);')
				.card-warning-text.hide
					p
			.card__content.cardTwoThirds__content
				.tagbox
					.tag
						button.button.button-tag Новости ПС
					.like-card
						button.like-button.comment-button
							i.icon-comment
							span.like-count 23
						button.like-button
							i.icon-like
							span.like-count 1286
				.card__title.cardTwoThirds-title
					a(href='#')
						| Насосно-компрессорные 
						br
						| трубы ТЭСЦ-1
				.card-date
					span 24 Сентября 2018
	.card.card-third
		.card-wrap.card-third-wrap
			.card-third__imgbox.card__imgbox(style='background-image: url(img/news-third-03.jpg);')
				.card-warning-text.hide
					p
			.card__content.card-third__content
				.tagbox
					.tag
						button.button.button-tag Новости ПС
					.like-card
						button.like-button.comment-button
							i.icon-comment
							span.like-count 23
						button.like-button
							i.icon-like
							span.like-count 1286
				.card__title.card-third__title
					a(href='#')
						| Обход управлющего 
						br
						|  директора БАЗ цеха №1
				.card-date
					span 24 Сентября 2018
	// строка
	.card.card-third
		.card-wrap.card-third-wrap
			.card-third__imgbox.card__imgbox(style='background-image: url(img/news-third-04.jpg);')
				.card-warning-text.hide
					p
			.card__content.card-third__content
				.tagbox
					.tag
						button.button.button-tag Новости ПС
					.like-card
						button.like-button.comment-button
							i.icon-comment
							span.like-count 23
						button.like-button
							i.icon-like
							span.like-count 1286
				.card__title.card-third__title
					a(href='#')
						| Обход управлющего 
						br
						|  директора БАЗ цеха №1
				.card-date
					span 24 Сентября 2018
	.card.cardTwoThirds.cardTwoThirds_fullHeightImg
		.card-wrap.cardTwoThirds-wrap.cardTwoThirds-wrap_fullHeightImg(style='background-image: url(img/news-twothirds-full-img-01.jpg);')
			.card__content.cardTwoThirds__content
				.tagbox
					.tag
						button.button.button-tag.button-tag_dark Новости ПС
					.like-card
						button.like-button.like-button_light.comment-button
							i.icon-comment
							span.like-count 23
						button.like-button.like-button_light
							i.icon-like
							span.like-count 1286
				.card__title.cardTwoThirds-title
					a(href='#')
						| Насосно-компрессорные 
						br
						| трубы ТЭСЦ-1
				.card-date.card-date_light
					span 24 Сентября 2018
	// строка
	.card.card-full.card-full_fullHeightImg
		.card-wrap.card-full-wrap.card-full-wrap_fullHeightImg(style='background-image: url(img/news-full.jpg);')
			.card__content.card-full__content
				.tagbox
					.tag
						button.button.button-tag.button-tag_dark Новости ОМК
					.like-card
						button.like-button.like-button_light.comment-button
							i.icon-comment
							span.like-count 23
						button.like-button.like-button_light
							i.icon-like
							span.like-count 1286
				.card__title.card-full__title
					a(href='#') Хороший старт!
				.card__text.card-full__text
					p
						| Беговая команда ОМК в этом году впервые в истории приняла участие в Московском марафоне
				.card-date.card-date_light
					span 24 Сентября 2018
	// строка
	.card.cardTwoThirds
		.card-wrap.cardTwoThirds-wrap
			.cardTwoThirds__imgbox.card__imgbox(style='background-image: url(img/news-twothirds-img-01.jpg);')
				.card-warning-text
					p Что-то пошло не так
			.card__content.cardTwoThirds__content
				.tagbox
					.tag
						button.button.button-tag Новости ПС
					.like-card
						button.like-button.comment-button
							i.icon-comment
							span.like-count 23
						button.like-button
							i.icon-like
							span.like-count 1286
				.card__title.cardTwoThirds-title
					a(href='#')
						| Насосно-компрессорные 
						br
						| трубы ТЭСЦ-1
				.card-date
					span 24 Сентября 2018
	.card.card-third
		.card-wrap.card-third-wrap
			.card-third__imgbox.card__imgbox(style='background-image: url(img/news-third-03.jpg);')
				.card-warning-text.hide
					p
			.card__content.card-third__content
				.tagbox
					.tag
						button.button.button-tag Новости ПС
					.like-card
						button.like-button.comment-button
							i.icon-comment
							span.like-count 23
						button.like-button
							i.icon-like
							span.like-count 1286
				.card__title.card-third__title
					a(href='#')
						| Обход управлющего 
						br
						|  директора БАЗ цеха №1
				.card-date
					span 24 Сентября 2018
	// строка
	.card.card-half.card-half_fullHeightImg
		.card-wrap.card-half-wrap(style='background-image: url(img/news-half-full-img-01.jpg);')
			.card__content.card-half__content
				.tagbox
					.tag
						button.button.button-tag.button-tag-o.button-tag-o_light Отдельные новости
					.like-card
						button.like-button.like-button_light.comment-button
							i.icon-comment
							span.like-count 23
						button.like-button.like-button_light
							i.icon-like
							span.like-count 1286
				.card__title.card-half-title
					a(href='#')
						| Насосно-компрессорные 
						br
						| трубы ТЭСЦ-1
				.card-date.card-date_light
					span 24 Сентября 2018
	.card.card-half
		.card-wrap.card-half-wrap
			.card-half-imgbox.card__imgbox(style='background-image: url(img/news-half-img-01.jpg);')
				.card-warning-text
					p Всё изменится!
			.card__content.card-half__content
				.tagbox
					.tag
						button.button.button-tag.button-tag-o Новости ПС
					.like-card
						button.like-button.comment-button
							i.icon-comment
							span.like-count 23
						button.like-button
							i.icon-like
							span.like-count 1286
				.card__title.card-half-title
					a(href='#')
						| Насосно-компрессорные 
						br
						| трубы ТЭСЦ-1
				.card-date
					span 24 Сентября 2018
	.card.card-full
		.card-wrap.card-full-wrap
			.card-full__imgbox.card__imgbox(style='background-image: url(img/news-full.jpg);')
				.card-warning-text.hide
					p
			.card__content.card-full__content
				.tagbox
					.tag
						button.button.button-tag Новости ОМК
					.like-card
						button.like-button.comment-button
							i.icon-comment
							span.like-count 23
						button.like-button
							i.icon-like
							span.like-count 1286
				.card__title.card-full__title
					a(href='#') Хороший старт!
				.card__text.card-full__text
					p
						| Беговая команда ОМК в этом году впервые в истории приняла участие в Московском марафоне
				.card-date
					span 24 Сентября 2018
	// строка
	.card.card-third
		.card-wrap.card-third-wrap
			.card-third__imgbox.card__imgbox(style='background-image: url(img/news-third-01.jpg);')
				.card-warning-text.hide
					p
			.card__content.card-third__content
				.tagbox
					.tag
						button.button.button-tag Региональные новости
					.like-card
						button.like-button.comment-button
							i.icon-comment
							span.like-count 23
						button.like-button
							i.icon-like
							span.like-count 1286
				.card__title.card-third__title
					a(href='#')
						| Насосно-компрессорные 
						br
						| трубы ТЭСЦ-1 
						br
						| трубы ТЭСЦ-1
				.card-date
					span 24 Сентября 2018
	.card.card-third
		.card-wrap.card-third-wrap
			.card-third__imgbox.card__imgbox(style='background-image: url(img/news-third-02.jpg);')
				.card-warning-text
					p Оценка: ПЛОХО!
			.card__content.card-third__content
				.tagbox
					.tag
						button.button.button-tag Новости ПС
					.like-card
						button.like-button.comment-button
							i.icon-comment
							span.like-count 23
						button.like-button
							i.icon-like
							span.like-count 1286
				.card__title.card-third__title
					a(href='#')
						| Обход управлющего 
						br
						|  директора БАЗ цеха №1
				.card-date
					span 24 Сентября 2018
	.card.card-third.card-third_fullHeightImg
		.card-wrap.card-third-wrap_fullHeightImg(style='background-image: url(img/news-third-full-img-01.jpg);')
			.card__content.card-third__content
				.tagbox
					.tag
						button.button.button-tag.button-tag_dark Новости ПС
					.like-card.like-card_light
						button.like-button.like-button_light.comment-button
							i.icon-comment
							span.like-count 23
						button.like-button.like-button_light
							i.icon-like
							span.like-count 1286
				.card__title.card-third__title
					a(href='#')
						| Насосно-компрессорные 
						br
						| трубы ТЭСЦ-1
				.card-date.card-date_light
					span 24 Сентября 2018
	// строка
	.card.card-half.card-half_fullHeightImg
		.card-wrap.card-half-wrap(style='background-image: url(img/news-half-full-img-01.jpg);')
			.card__content.card-half__content
				.tagbox
					.tag
						button.button.button-tag.button-tag-o.button-tag-o_light Отдельные новости
					.like-card
						button.like-button.like-button_light.comment-button
							i.icon-comment
							span.like-count 23
						button.like-button.like-button_light
							i.icon-like
							span.like-count 1286
				.card__title.card-half-title
					a(href='#')
						| Насосно-компрессорные 
						br
						| трубы ТЭСЦ-1 
						br
						| трубы ТЭСЦ-1
				.card-date.card-date_light
					span 24 Сентября 2018
	.card.card-half
		.card-wrap.card-half-wrap
			.card-half-imgbox.card__imgbox(style='background-image: url(img/news-half-img-01.jpg);')
				.card-warning-text.hide
					p
			.card__content.card-half__content
				.tagbox
					.tag
						button.button.button-tag.button-tag-o Новости ПС
					.like-card
						button.like-button.comment-button
							i.icon-comment
							span.like-count 23
						button.like-button
							i.icon-like
							span.like-count 1286
				.card__title.card-half-title
					a(href='#')
						| Насосно-компрессорные 
						br
						| трубы ТЭСЦ-1
				.card-date
					span 24 Сентября 2018
	// строка
	.card.cardTwoThirds
		.card-wrap.cardTwoThirds-wrap
			.cardTwoThirds__imgbox.card__imgbox(style='background-image: url(img/news-twothirds-img-01.jpg);')
				.card-warning-text.hide
					p
			.card__content.cardTwoThirds__content
				.tagbox
					.tag
						button.button.button-tag Новости ПС
					.like-card
						button.like-button.comment-button
							i.icon-comment
							span.like-count 23
						button.like-button
							i.icon-like
							span.like-count 1286
				.card__title.cardTwoThirds-title
					a(href='#')
						| Насосно-компрессорные 
						br
						| трубы ТЭСЦ-1
				.card-date
					span 24 Сентября 2018
	.card.card-third
		.card-wrap.card-third-wrap
			.card-third__imgbox.card__imgbox(style='background-image: url(img/news-third-03.jpg);')
				.card-warning-text.hide
					p
			.card__content.card-third__content
				.tagbox
					.tag
						button.button.button-tag Новости ПС
					.like-card
						button.like-button.comment-button
							i.icon-comment
							span.like-count 23
						button.like-button
							i.icon-like
							span.like-count 1286
				.card__title.card-third__title
					a(href='#')
						| Обход управлющего 
						br
						|  директора БАЗ цеха №1
				.card-date
					span 24 Сентября 2018
	// строка
	.card.card-third
		.card-wrap.card-third-wrap
			.card-third__imgbox.card__imgbox(style='background-image: url(img/news-third-04.jpg);')
				.card-warning-text.hide
					p
			.card__content.card-third__content
				.tagbox
					.tag
						button.button.button-tag Новости ПС
					.like-card
						button.like-button.comment-button
							i.icon-comment
							span.like-count 23
						button.like-button
							i.icon-like
							span.like-count 1286
				.card__title.card-third__title
					a(href='#')
						| Обход управлющего 
						br
						|  директора БАЗ цеха №1
				.card-date
					span 24 Сентября 2018
	.card.cardTwoThirds.cardTwoThirds_fullHeightImg
		.card-wrap.cardTwoThirds-wrap.cardTwoThirds-wrap_fullHeightImg(style='background-image: url(img/news-twothirds-full-img-01.jpg);')
			.card__content.cardTwoThirds__content
				.tagbox
					.tag
						button.button.button-tag.button-tag_dark Новости ПС
					.like-card
						button.like-button.like-button_light.comment-button
							i.icon-comment
							span.like-count 23
						button.like-button.like-button_light
							i.icon-like
							span.like-count 1286
				.card__title.cardTwoThirds-title
					a(href='#')
						| Насосно-компрессорные 
						br
						| трубы ТЭСЦ-1
				.card-date.card-date_light
					span 24 Сентября 2018
	// строка
	.card.card-full.card-full_fullHeightImg
		.card-wrap.card-full-wrap.card-full-wrap_fullHeightImg(style='background-image: url(img/news-full.jpg);')
			.card__content.card-full__content
				.tagbox
					.tag
						button.button.button-tag.button-tag_dark Новости ОМК
					.like-card
						button.like-button.like-button_light.comment-button
							i.icon-comment
							span.like-count 23
						button.like-button.like-button_light
							i.icon-like
							span.like-count 1286
				.card__title.card-full__title
					a(href='#') Хороший старт!
				.card__text.card-full__text
					p
						| Беговая команда ОМК в этом году впервые в истории приняла участие в Московском марафоне
				.card-date.card-date_light
					span 24 Сентября 2018
	// строка
	.card.cardTwoThirds
		.card-wrap.cardTwoThirds-wrap
			.cardTwoThirds__imgbox.card__imgbox(style='background-image: url(img/news-twothirds-img-01.jpg);')
				.card-warning-text
					p Что-то пошло не так
			.card__content.cardTwoThirds__content
				.tagbox
					.tag
						button.button.button-tag Новости ПС
					.like-card
						button.like-button.comment-button
							i.icon-comment
							span.like-count 23
						button.like-button
							i.icon-like
							span.like-count 1286
				.card__title.cardTwoThirds-title
					a(href='#')
						| Насосно-компрессорные 
						br
						| трубы ТЭСЦ-1
				.card-date
					span 24 Сентября 2018
	.card.card-third
		.card-wrap.card-third-wrap
			.card-third__imgbox.card__imgbox(style='background-image: url(img/news-third-03.jpg);')
				.card-warning-text.hide
					p
			.card__content.card-third__content
				.tagbox
					.tag
						button.button.button-tag Новости ПС
					.like-card
						button.like-button.comment-button
							i.icon-comment
							span.like-count 23
						button.like-button
							i.icon-like
							span.like-count 1286
				.card__title.card-third__title
					a(href='#')
						| Обход управлющего 
						br
						|  директора БАЗ цеха №1
				.card-date
					span 24 Сентября 2018
	// строка
	.card.card-half.card-half_fullHeightImg
		.card-wrap.card-half-wrap(style='background-image: url(img/news-half-full-img-01.jpg);')
			.card__content.card-half__content
				.tagbox
					.tag
						button.button.button-tag.button-tag-o.button-tag-o_light Отдельные новости
					.like-card
						button.like-button.like-button_light.comment-button
							i.icon-comment
							span.like-count 23
						button.like-button.like-button_light
							i.icon-like
							span.like-count 1286
				.card__title.card-half-title
					a(href='#')
						| Насосно-компрессорные 
						br
						| трубы ТЭСЦ-1
				.card-date.card-date_light
					span 24 Сентября 2018
	.card.card-half
		.card-wrap.card-half-wrap
			.card-half-imgbox.card__imgbox(style='background-image: url(img/news-half-img-01.jpg);')
				.card-warning-text
					p Всё изменится!
			.card__content.card-half__content
				.tagbox
					.tag
						button.button.button-tag.button-tag-o Новости ПС
					.like-card
						button.like-button.comment-button
							i.icon-comment
							span.like-count 23
						button.like-button
							i.icon-like
							span.like-count 1286
				.card__title.card-half-title
					a(href='#')
						| Насосно-компрессорные 
						br
						| трубы ТЭСЦ-1
				.card-date
					span 24 Сентября 2018