extends modules/_base
	
block content
	- var pageTitle = 'Главная страница';

	include page/_page-head-filters

	include cards/_card-full-advant-news
	#cardModalSlider-01
		include cards/_card-full-slider

	include cards/_card-half-slider

	include cards/_cards-third

	include cards/_cards-half

	include cards/_cards-two-thirds_left

	include cards/_cards-two-thirds_right

	include cards/_card-full_imgfullheight

	//---------------------------------------------------------

	include cards/_cards-third

	include cards/_cards-half

	include cards/_cards-two-thirds_left

	include cards/_cards-two-thirds_right

	include cards/_card-full_imgfullheight

	include cards/_cards-third

	include cards/_cards-half

	include cards/_cards-two-thirds_left

	include cards/_cards-two-thirds_right

	include cards/_card-full_imgfullheight

	include cards/_cards-third

	include cards/_cards-half

	include cards/_cards-two-thirds_left

	include cards/_cards-two-thirds_right

	include cards/_card-full_imgfullheight