extends modules/_base
block vars
	//- -var pageTitle = '';
block content
	.card.card-full-head_special
	.cards
		article(id=ID).article
			.card.margin-bottom-15
				.article-imgwrap.article-imgwrap_slim
					.article-imgbox.article-imgbox_head(style='background-image: url(img/post-img-01.jpg);')
				- var text = '24 Сентября 2018';
				include modules/_tag-box
			.card.margin-bottom-15
				.content-title
					.content-titlebox
						h3 Более 10,6 млн тонн рулонного проката произвел литейно-прокатный комплекс ВМЗ за 10 лет работы
			.card
				.article-text
					p
						| Литейно-прокатный комплекс Выксунского металлургического завода (АО «ВМЗ», Нижегородская область, входит в состав Объединенной металлургической компании, АО «ОМК») за 10 лет работы произвел более 10,6 млн тонн горячекатаного рулонного проката, став важным звеном в полностью отечественной цепочке производства труб для нефтегазового комплекса. 
					p 
						| Литейно-прокатный комплекс - уникальное для России предприятие, в котором в единый технологический процесс совмещены выплавка, разливка стали и производство горячекатаного рулонного проката. Одной из особенностей комплекса является то, что его производственный цикл составляет всего 3,5 часа. Изготовление подобной продукции на других металлургических предприятиях составляет более суток. 
					p 
						| В день празднования 10-летнего юбилея ЛПК с рабочей поездкой на Выксунском металлургическом заводе побывали статс-секретарь, заместитель министра промышленности и торговли России Виктор Евтухов, директор департамента металлургии и материалов Минпромторга России Павел Серватинский, и.о. заместителя губернатора, заместителя председателя Правительства Нижегородской области Игорь Носов, председатель Совета директоров ОМК Анатолий Седых, председатель правления компании Наталья Еремина, представители российских и зарубежных партнеров ОМК.
				.article-imgwrap
					.article-imgbox.article-imgbox_full(style='background-image: url(img/news-twothirds-img-01.jpg);')
				.article-quote
					blockquote.article-blockquote
						| «Металлургия – базовая отрасль промышленности, одна из основных. Не развивая производство продукции из стали, не развивая производство листа, труб, колес для железнодорожных вагонов мы будем не конкурентоспособны. Такие предприятия, где используются современные технологии и оборудование, где оптимизированы все бизнес-процессы, где активно применяются цифровые технологии, позволяют развивать всю нашу промышленность. ВМЗ выпускает конкурентоспособную продукцию, аналогов которой в мире не так много. Можно только пожелать успехов предприятию, порадоваться за регион. Что еще важно: предприятие выполняет социальные обязательства, развивая территории, на которых оно работает», - отметил после посещения ВМЗ заместитель министра промышленности и торговли России Виктор Евтухов.
				.article-text
					p
						| Литейно-прокатный комплекс Выксунского металлургического завода (АО «ВМЗ», Нижегородская область, входит в состав Объединенной металлургической компании, АО «ОМК») за 10 лет работы произвел более 10,6 млн тонн горячекатаного рулонного проката, став важным звеном в полностью отечественной цепочке
					p
						| «Выксунский металлургический завод – не только один из крупнейших налогоплательщиков Нижегородской области, это еще яркий пример корпоративной социальной ответственности. Коллеги из ОМК показывают пример как необходимо взаимодействовать с местным самоуправлением, с региональными властями для того, чтобы жизнь выксунцев стала лучше. У компании много новых проектов развития производства в Выксе, вся необходимая поддержка от правительства области будет оказана», - сказал исполняющий обязанности заместителя губернатора, заместителя председателя Правительства Нижегородской области Игорь Носов.
					p
						| «Основной итог десятилетней работы ЛПК - возможность производить трубные марки стали самого ответственного назначения в самые короткие сроки. Сегодня по производственным показателям ЛПК является лучшим среди предприятий аналогичного класса в мире. Мы не стоим на месте, планируем увеличить объем производства на 20%, до 1,5 млн тонн проката в год, осваиваем новые марки стали, которые востребованы отечественной топливно-энергетической отраслью», - отметил председатель Совета директоров ОМК Анатолий Седых.
				.article-imgwrap
					.article-imgbox.article-imgbox_third(style='background-image: url(img/article-img-02.jpg)')
					.article-imgbox.article-imgbox_third(style='background-image: url(img/article-img-03.jpg)')
					.article-imgbox.article-imgbox_third(style='background-image: url(img/article-img-04.jpg)')
				.article-text
					h3 СПРАВКА
					p
						| Десятилетняя история литейно-прокатного комплекса – это история высоких достижений: только в течение нескольких последних лет коллектив ЛПК установил десятки производственных рекордов. Из года в год литейно-прокатный комплекс неизменно подтверждает статус одного из самых эффективных металлургических производств страны, объемы выпуска стали неоднократно превышали расчётную мощность комплекса.
					p Сегодня в комплексе работает около 1200 сотрудников.
				.article-author
					each item in ['#статья','#событие2019','#фамилия','#справочное_слово']
						a.hashtag(href='#')= item
					p Автор статьи: Елена Мацинова
	.card
		include modules/_tag-box
	.card
		hr.card-hr
	.card.margin-bottom-15
		.content-title
			.content-titlebox
				h2 Комментарии
	.card.margin-bottom-15#allComentators
		- var items = [];
		.comment#commentator_01
			.comment-box
				.comment__avatar(style='background-image: url(img/person-photo-01.jpg)')
				.comment__content.padding-10.padding-xl-15
					.tagbox.comment__tagbox
						.tag
							.comment__nickname
								span ЮЛИЯ ШХИЯНЦ
						.like-card
							button.like-button.comment-button.like-button_thin
								i #
								span.like-count 120
							button.like-button.like-button_thin
								i.icon-like
								span.like-count 86

					.comment__date
							span 12 Декабря 2018, 16:32
					.comment__text
						p
							| В ходе горячих испытаний оборудования покрытие из УФ-лака было нанесено на гладкие трубы диаметром 426 мм. Параллельно с пуско-наладкой оборудования специалисты фирмы Venjakob провели теоретическое и практическое обучение работе с установкой для сотрудников ВМЗ, включая ремонтные службы, технологов и автоматчиков.
					.comment__link
						button.comment__reply Ответить
			.comment#commentator_02
				.comment-box
					.comment__avatar(style='background-image: url(img/person-photo-02.jpg)')
					.comment__content.padding-10.padding-xl-15
						.tagbox.comment__tagbox
							.tag
								.comment__nickname
									span ПЕТР ТУШИН
							.like-card
								button.like-button.comment-button.like-button_thin
									i #
									span.like-count 120
								button.like-button.like-button_thin
									i.icon-like
									span.like-count 86

						.comment__date
								span 12 Декабря 2018, 16:32
						.comment__text
							p
								| Параллельно с пуско-наладкой оборудования специалисты фирмы Venjakob провели теоретическое и практическое обучение работе с установкой для сотрудников ВМЗ.
						.comment__link
							button.comment__reply Ответить
				.comment#commentator_03
					.comment-box
						.comment__avatar(style='background-image: url(img/person-photo-03.jpg)')
						.comment__content.padding-10.padding-xl-15
							.tagbox.comment__tagbox
								.tag
									.comment__nickname
										span СВЕТЛАНА НИКОЛАШИНА
								.like-card
									button.like-button.comment-button.like-button_thin
										i #
										span.like-count 120
									button.like-button.like-button_thin
										i.icon-like
										span.like-count 86

							.comment__date
									span 12 Декабря 2018, 16:32
							.comment__text
								p
									| Мы стремимся к тому, чтобы работа в ОМК помогала сотрудникам компании реализовывать свой потенциал и раскрывать свои способности Активно развиваясь, Компания делает реальными перспективы профессионального и карьерного роста. Для обеспечения взаимовыгодного партнерства и соблюдения трудовых прав мы активно поддерживаем и развиваем социальный диалог с сотрудниками и их представителями. Читать подробнее о работе с персоналом. 
								p
									| Мы разработали специальную форму − Приложение к договору «Требование о соблюдении законодательства в области охраны труда, промышленной, пожарной безопасности, охраны окружающей среды». Подписывая его, подрядчик обязуется следовать процедурам, правилам и инструкциям ОМК в области охраны труда, промышленной, экологической и экономической безопасности с целью исключения или минимизации возможного ущерба, наносимого окружающей среде, здоровью сотрудников ОМК, посетителей и третьих лиц.
							.comment__link
								button.comment__reply Ответить
		.comment#commentator_04
			.comment-box
				.comment__avatar(style='background-image: url(img/person-photo-04.jpg)')
				.comment__content.padding-10.padding-xl-15
					.tagbox.comment__tagbox
						.tag
							.comment__nickname
								span
									| ДМИТРИЙ ЧЕРНЫШЕВ
						.like-card
							button.like-button.comment-button.like-button_thin
								i #
								span.like-count 120
							button.like-button.like-button_thin
								i.icon-like
								span.like-count 86

					.comment__date
							span 12 Декабря 2018, 16:32
					.comment__text
						p
							| Особое внимание мы уделяем недопущению детского и принудительного труда, дискриминации любых форм. Мы уважаем право сотрудников на формирование ассоциаций и других совместных организаций по представлению их интересов и общению с работодателем.
					.comment__link
						button.comment__reply Ответить
		.comment#commentator_05
			.comment-box
				.comment__avatar(style='background-image: url(img/person-photo-05.jpg)')
				.comment__content.padding-10.padding-xl-15
					.tagbox.comment__tagbox
						.tag
							.comment__nickname
								span
									| ЕЛЕНА МАЦИНОВА
						.like-card
							button.like-button.comment-button.like-button_thin
								i #
								span.like-count 120
							button.like-button.like-button_thin
								i.icon-like
								span.like-count 86

					.comment__date
							span 12 Декабря 2018, 16:32
					.comment__text
						p
							| Коллеги, у нас будет самый лучший корпоративный портал. Без сомнения!
					.comment__link
						button.comment__reply Ответить
		#commentFormbox.comment-form-inn.colapse.show
			.comment.comment_special
				.article-author
					p.article-author__left Оставить комментарий:
					p.article-author__username от Константина Константинопольского
			.comment
				form.comment-form
					.comment-form__textareabox
						textarea.comment-form__textarea(placeholder="Комментарий")
					.comment-form__btnbox
						button.button.comment-form__button(type="submit") Отправить