extends modules/_base

block vars
	- var pageTitle = 'Текст';
block content
	.row
		.col-12
			.card.card-full-head_special
				.content-title
					.content-titlebox_dark.margin-top-xl-15
						h4 Текст
				.content-title
					.content-titlebox
						h2 Более 10,6 млн тонн рулонного проката произвел литейно-прокатный комплекс ВМЗ за 10 лет работы
			.card
				.card__text
					p Литейно-прокатный комплекс Выксунского металлургического завода (АО «ВМЗ», Нижегородская область, входит в состав Объединенной металлургической компании, АО «ОМК») за 10 лет работы произвел более 10,6 млн тонн горячекатаного рулонного проката, став важным звеном в полностью отечественной цепочке производства труб для нефтегазового комплекса.

					p Литейно-прокатный комплекс - уникальное для России предприятие, в котором в единый технологический процесс совмещены выплавка, разливка стали и производство горячекатаного рулонного проката. Одной из особенностей комплекса является то, что его производственный цикл составляет всего 3,5 часа. Изготовление подобной продукции на других металлургических предприятиях составляет более суток.

					p В день празднования 10-летнего юбилея ЛПК с рабочей поездкой на Выксунском металлургическом заводе побывали статс-секретарь, заместитель министра промышленности и торговли России Виктор Евтухов, директор департамента металлургии и материалов Минпромторга России Павел Серватинский, и.о. заместителя губернатора, заместителя председателя Правительства Нижегородской области Игорь Носов, председатель Совета директоров ОМК Анатолий Седых, председатель правления компании Наталья Еремина, представители российских и зарубежных партнеров ОМК.
			.article.margin-bottom-15
				.article-quote
					blockquote.article-blockquote
						| «Металлургия – базовая отрасль промышленности, одна из основных. Не развивая производство продукции из стали, не развивая производство листа, труб, колес для железнодорожных вагонов мы будем не конкурентоспособны. Такие предприятия, где используются современные технологии и оборудование, где оптимизированы все бизнес-процессы, где активно применяются цифровые технологии, позволяют развивать всю нашу промышленность. ВМЗ выпускает конкурентоспособную продукцию, аналогов которой в мире не так много. Можно только пожелать успехов предприятию, порадоваться за регион. Что еще важно: предприятие выполняет социальные обязательства, развивая территории, на которых оно работает», - отметил после посещения ВМЗ заместитель министра промышленности и торговли России Виктор Евтухов.
				.article-text
					p
						| Если в названии или описании йогурта написано, что он термизированный или стерилизованный, то можно с уверенностью сказать, что данный продукт в ходе его производства подвергался термической обработке (это так называемый «неживой» йогурт). В процессе такой обработки погибли не только вредные, но и полезные микроорганизмы, так необходимые нашему организму. В результате чего срок годности такого йогурта может достигать 30 дней и более.
					p
						| Однако хоть в ходе термообработки и погибают все полезные биологические культуры, «неживой» йогурт может принести определенную пользу вашему организму, ведь он богат белками, углеводами и жирами, витаминами и минералами.
				.article-author
					each item in ['#статья','#событие2019','#фамилия','#справочное_слово']
						a.hashtag(href='#')= item
					p Автор статьи: Елена Мацинова
	.card
		.card__title
			h2.font-size-32.margin-bottom-15 Заголовок с тегом h2, PT Serif, 32, Regular
			h3.font-size-28.margin-bottom-15 Заголовок с тегом h3, PT Serif, 28, Regular
			h3.font-size-24.margin-bottom-15 Заголовок с тегом h4, PT Serif, 24, Regular
	.card
		.card__list
			ul
				li Пункт списка
				li Пункт списка
				ul
					li Пункт списка
					li Пункт списка
		.card__list
			ol
				li Пункт списка
				li Пункт списка
				ol
					li Пункт списка
					li Пункт списка
					ol
						li Пункт списка
						li Пункт списка
						ol
							li Пункт списка


