- var text;
.tagbox
	.tag
		if text === undefined || text === false
			button.button.button-tag Региональные новости
		else
			.card-date.card-date_big
				span= text
	.like-card
		button.like-button.comment-button
			i.icon-comment
			span.like-count 23
		button.like-button
			i.icon-like
			span.like-count 2