.cards {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	@include clearfix;
}
.card {
	display: block;
  border: none;
	// padding: 0 15px;
	width: 100%;
	//height: 100%;
	margin-bottom: 30px;
	background-color: transparent;
	&.collapse {
		display: none;
		&.show {
			display: block;
		}
	}
	@include md-block {
		margin-bottom: 15px;
	}
  @include clearfix;
	&-color {
		&-light {
			color: $light-color;
		}
	}
	&-wrap {
		position: relative;
		display: flex;
		flex-direction: column;
		height: 100%;
		overflow: hidden;
		border-radius: 5px;
		background: #eeefef center no-repeat;
		background-size: cover;
		&-head {
			background-color: transparent;
			padding: 0;
			margin-bottom: 5px;
		}
		&__imglnk {
			position: absolute;
			z-index: 1;
			height: 100%;
			width: 100%;
		}
	}
	&_slim {
		margin-bottom: 15px;
	}
	&_advant-news {
		border-bottom: 3px solid $dark-color;
		@include md-block {
			border-bottom-width: 2px;
		}
	}
	&__videobox{
		position: relative;
		cursor: pointer;
		@include before {
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: #000000;
			opacity: 0.3;
			transition: opacity 0.4s;
		}
		@include after {
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: url('../img/icon/play-btn.svg') center no-repeat;
			background-size: auto 20%;
			transition: opacity 0.4s;
			opacity: 0.6;
			
		}
		@include hover {
			&:before {
				opacity: 0.1;
			}
			&:after {
				opacity: 1;
			}
		}
	}
	&__imgwrap {
		margin-bottom: 30px;
		@include clearfix;
		&_slim {
			margin-bottom: 15px;
		}
		&.margin-bottom-15 {
			margin-bottom: 15px;
		}
		&:last-child {
			margin-bottom: 0;
		}
	}

	&__imgbox {
		display: block;
		position: relative;
		min-height: 210px;
		overflow: hidden;

		border-radius: 5px;		
		background: $light-color center no-repeat;
		background-size: cover;
		@include lg-block {
			min-height: 180px;
		}
		@include md-block {
			min-height: 125px;
		}
		&[data-toggle="modal"] {
			cursor: pointer;
		}
		img {
			display: none;
		}
		&_xl {
			height: 360px;
			@include md-block {
				height: 180px;
			}

		}
		&_lg {
			height: 300px;
			@include md-block {
				height: 165px;
			}
		}
		&_md {
			height: 280px;
			@include md-block {
				height: 140px;
			}
		}
		&_sm {
			height: 210px;
			@include lg-block {
				height: 180px;
			}
			@include md-block {
				height: 125px;
			}
		}
		&_xs {
			height: 135px;
			min-height: 135px;
			@include lg-block {
				height: 120px;
				min-height: 120px;
			}
			@include md-block {
				height: 80px;
				min-height: 80px;
			}
			@include xs-block {
				height: 180px;
			}
		}
		&_full {
			height: 300px;
			width: 100%;
		}
		&_third {
			float: left;
			width: calc(33.33333% - 10px);
			margin-right: 15px;
			&:last-child {
				margin-right: 0;
			}
		}
		&_twothird {
			float: left;
			width: calc(66.66666% - 5px);
			margin-right: 15px;
			&:last-child {
				margin-right: 0;
			}
		}
		&_half {
			float: left;
			width: calc(50% - 7.5px);
			margin-right: 15px;
			&:last-child {
				margin-right: 0;
			}
		}
	}
	&-image {
		border-radius: 5px;
		overflow: hidden;
		// width: 1110px;
	}
	&-warning-text {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		padding: 6px 15px;
		background-color: $special-color;
		color: $light-color;
		font-size: 11px;
		font-weight: 400;
		@include md-block {
			padding: 2px 10px;
		}
		p {
			font-size: 11px;
			margin-bottom: 0;
			@include md-block {
				font-size: 8px;
			}
			@include xs-block {
				font-size: 14px;
			}
		}
	}
	&-succes-text {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		padding: 6px 15px;
		background-color: $success-color;
		color: $light-color;
		font-size: 11px;
		font-weight: 400;
		@include md-block {
			padding: 2px 10px;
		}
		p {
			font-size: 11px;
			margin-bottom: 0;
			@include md-block {
				font-size: 8px;
			}
			@include xs-block {
				font-size: 14px;
			}
		}
	}
	&-average-text {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		padding: 6px 15px;
		background-color: #D99D1B;
		color: $light-color;
		font-size: 11px;
		font-weight: 400;
		@include md-block {
			padding: 2px 10px;
		}
		p {
			font-size: 11px;
			margin-bottom: 0;
			@include md-block {
				font-size: 8px;
			}
			@include xs-block {
				font-size: 14px;
			}
		}
	}
	&__list {
		margin-bottom: 15px;
		li {
			font-family: "PT Serif", serif;
			font-size: 17px;
			font-weight: 400;
			line-height: 23px;
		}
		ul {
			list-style-type: disc;
			padding-left: 35px;
		}
		&>ul {
			margin-left: -15px;
		}
		ol {
			list-style: none;
			counter-reset: li;
			padding-left: 30px;
			li:before {
				content: counters(li,".") ". ";
				counter-increment: li;
			}
		}
		&>ol {
			padding-left: 0;
		}
	}

	&__content {
		position: relative;
		z-index: 10;
		padding: 15px 20px 20px;
		display: flex;
		flex-direction: column;
		height: 100%;
		@include lg-block {
			padding: 15px;
		}
		@include md-block {
			padding: 10px;
		}
		&_sm {
			margin-top: 210px;
			background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.14) 14%, #000000 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 );
			@include lg-block {
				margin-top: 180px;
			}
			@include md-block {
				margin-top: 125px;
			}
		}
		.tagbox {
			margin-bottom: 20px;
			@include md-block {
				margin-bottom: 10px;
			}
		}
	}
	&__info {
		padding: 15px 30px 30px;
		&_xl{
			margin-top: 360px;
			@include md-block {
				margin-top: 180px;
			}
		}
		&_light {
			position: relative;
			z-index: 1;
			@include after {
				z-index: -1;
				bottom: 0;
				left: 0;
				width: 100%;
				height: 209px;
				border-radius: 5px;
				background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.14) 14%, #000000 100%);
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 );
			}
			.content-titlebox {
				color: #fbfbfb;
			}
			.card__text {
				color: #d0d1d3;
			}
			.card-slider-number {
				color: #bcbdc0;
			}
		}
	}
	&__title {
		min-height: 44px;
		max-height: 55px;
		margin-bottom: 15px;
		font-family: "PT Serif", serif;
		font-size: 17px;
		@include md-block {
			margin-bottom: 10px;
			min-height: 30px;
			max-height: 30px;
			font-size: 9px;


		}
		@include xs-block {
			max-height: 67px;
			font-size: 20px;
			min-height: auto;
		}
		&>h1, &>h2, &>h3, &>h4, &>h5 {
      font-size: 38px;
		}
		a {
			//display: block;
			//max-height: 45px;
			//overflow: hidden;
			//text-overflow: ellipsis;

			@include hover {
				text-decoration: underline;
			}
			@include md-block {
				max-height: 30px;
			}
		}

	}
	&__text {
		position: relative;
		display: flex;
		flex-direction: column;
		//height: 100%;
		font-family: "PT Serif", serif;
		font-size: 16px;
		font-weight: 400;
		line-height: 1.4;
		&.text-ddd-135 {
			max-height: 135px;
			@include md-block {
				max-height: 110px;
			}
			@include xs-block {
				max-height: 135px;
			}
		}

		p {
			font-size: 17px;
			margin-bottom: 15px;
			@include md-block {
				font-size: 9px;
			}
			@include xs-block {
				font-size: 12px;
			}
			&:last-child {
				margin-bottom: 0;
			}
		}
		h3 {
			margin-bottom: 18px;
			font-size: 22px;
		}
		a:not(.card__more) {
			text-decoration: none;
			@include hover {
				text-decoration: underline;
			}
		}
		&_mobile {
			@include md-block {
				font-size: 10px;
			}
			@include xs-block {
				font-size: 14px;
			}
			p {
				@include md-block {
					font-size: 10px;
				}
				@include xs-block {
					font-size: 14px;
				}
			}
		}
		&_404 {
			color: #bcbdc0;
			font-family: "PT Serif", serif;
			font-size: 104px;
			font-weight: 400;
		}
		&_thin {
			font-weight: 300;
		}
	}
	&-date {
		margin-top: auto;
		color: $thin-color;
		font-size: 12px;
		font-weight: 400;
		@include md-block {
			font-size: 8px;
		}
		@include xs-block {
			font-size: 12px;
		}
		&_light {
			color: $light-color;
		}
		&_big {
			font-size: 15px;
		}
	}
	&__more {
		display: block;
		align-self: flex-end;
		margin-left: auto;
		margin-top: auto;
		max-width: 180px;
		padding-left: 44px;
		padding-right: 44px;
		font-family: "Roboto", sans-serif;
		@include md-block {
			@include pdLR(25px);
			font-size: 10px;
		}
	}

	&-logos{
		@include clearfix;
	}
	&-logo {
		float: left;
		margin-bottom: 15px;
		padding-right: 15px;
		box-sizing: content-box;
		@include md-block {
			padding-right: 8px;
		}
		&:nth-child(5n) {
			padding-right: 0;
			@include xs-block {
				padding-right: 8px;
			}
		}

		&__imgbox {
			display: inline-block;
			width: 162px;
			height: 120px;
			line-height: 90px;
			vertical-align: middle;
			border-radius: 5px;
			border: 1px solid #dddee0;
			padding: 15px;
			text-align: center;
			@include md-block {
				width: 96px;
				height: 72px;
				line-height: 36px;
			}
			@include xs-block {
				width: 88px;
				height: 65px;
			}
			img {
				vertical-align: middle;
			}
			@include hover {
				border: 2px solid $thin-color;
				padding: 14px;
			}
		}
	}

	&-hr {
		border: none;
		height: 1px;
		background-color: #707070;
		opacity: 0.4;
	}

	&-slider {
		overflow: hidden;
		// margin-left: 15px;
		// margin-right: 15px;
		// padding: 0;
		// flex: auto;
		border-radius: 5px;
		&-wrap {
			margin-left: -15px;
			margin-right: -15px;
			background-color: transparent;
			font-size: 0;
			overflow: hidden;
			@include md-block {
				margin-left: -7.5px;
				margin-right: -7.5px;
			}
		}
		&__item {
			padding-left: 15px;
			padding-right: 15px;
			@include md-block {
				padding-left: -7.5px;
				padding-right: -7.5px;
			}
		}
		&-number {
			text-align: right;
			color: $thin-color;
			font-family: "Roboto", sans-serif;
			font-size: 16px;
			font-weight: 400;
		}
	}

	&-full {
		&-head {
			background-color: #fff;
			margin-bottom: 0;
			&_special {
				width: 100%;
				margin-bottom: 15px;
				@include md-block {
					margin-bottom: 5px;
				}
			}
		}
		&__imgbox {
			height: 395px;
			@include lg-block {
				height: 300px;
			}
			@include md-block {
				height: 206px;
			}
		}
		&__title {
			font-size: 40px;
			margin-top: -15px;
			margin-bottom: 5px;
			@include md-block {
				margin-bottom: 0;
				font-size: 20px;
				margin-top: -5px;
			}
			a {
				max-height: none;
				@include md-block {
					max-height: none;
				}
			}		
		}
		&__text {
			margin-bottom: 15px;
			font-family: "PT Serif", serif;
			font-size: 17px;
			@include md-block {
				margin-bottom: 10px;
			}
		}
		&_imgbg {
			.card__content {
				margin-top: 400px;
				padding-top: 10px;
				background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.14) 14%,rgba(0,0,0,1) 100%); 
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 );
				@include lg-block {
					margin-top: 245px;
				}
				@include md-block {
					margin-top: 150px;
				}
			}
		}
		&-slider {
			overflow: hidden;
			background-color: #fff;
			//margin-left: 15px;
			//margin-right: 15px;
			padding: 0;
			flex: auto;
			border-radius: 5px;
			&-wrap {
				display: block;
				margin-left: -15px;
				margin-right: -15px;
				background-color: transparent;
				font-size: 0;
				overflow: hidden;
				@include md-block {
					margin-left: -7.5px;
					margin-right: -7.5px;
				}
			}
			&__item {
				padding-left: 15px;
				padding-right: 15px;
				@include md-block {
					padding-left: 7.5px;
					padding-right: 7.5px;
				}
			}
			&__itembox {
				&_dark {
					border: 1px solid #dddee0;
					background-color: #f4f5f5;
				}
			}
			&__imgbox {
				min-height: 210px;
			}
		}
	}
	&-third {
		max-width: 33.333333%;
		flex: 0 0 33.333333%;
		// &-wrap {
		// }
		&__imgbox, &-slider__imgbox {
			// margin-left: -15px;
			// margin-right: -15px;
			min-height: 210px;
		}
		&__content {
			//padding-left: 15px;
			//padding-right: 15px;

		}
		&_fullHeightImg {
			color: $light-color;
			.card-third__content {
				margin-top: 210px;
				background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.14) 14%, #000000 100%);
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 )
			}
		}
		&-slider {
			&__item {
				position: relative;
				@include after {
					z-index: -1;
					left: 15px;
					right: 15px;
					top: 0;
					height: 100%;
					border: 1px solid #dddee0;
					border-radius: 5px;

				}
			}
		}
	}
	&-half {
		&-imgbox {
			min-height: 260px;
			background: no-repeat center;
			background-size: cover;
			@include lg-block {
				min-height: 230px;
			}
			@include md-block {
				min-height: 205px;
			}
		}
		&_imgbg {
			.card__content {
				margin-top: 260px;
				//padding-top: 55px;
				background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.14) 14%,rgba(0,0,0,1) 100%); 
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 );
				@include lg-block {
					margin-top: 230px;
				}
				@include md-block {
					margin-top: 205px;
				}
			}
		}
		&__text {
			padding-top: 15px;
			max-height: 305px;
		}

		&-slider {
			overflow: hidden;
			background-color: #fff;
			// margin-left: 15px;
			// margin-right: 15px;
			padding: 0;
			flex: auto;
			border-radius: 5px;
			&-wrap {
				margin-left: -15px;
				margin-right: -15px;
				background-color: transparent;
				font-size: 0;
				overflow: hidden;
				@include md-block {
					margin-left: -7.5px;
					margin-right: -7.5px;
				}
			}
			&__item {
				padding-left: 15px;
				padding-right: 15px;
				@include md-block {
					padding-left: 7.5px;
					padding-right: 7.5px;
				}
			}
			&__imgbox {
				min-height: 330px;
				@include lg-block {
					min-height: 290px;
				}
				@include md-block {
					min-height: 235px;
				}
			}
		}
	}
	&TwoThirds {
		max-width: 66.666667%;
		flex: 0 0 66.666667%;
		&__imgbox {
			min-height: 210px;
		}

		&_fullHeightImg {
			color: $light-color;
			.card__content {
				margin-top: 170px;
				padding-top: 55px;
				background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.14) 14%,rgba(0,0,0,1) 100%); 
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 );
			}
		}
		&__text {
			max-height: 210px;
		}
	}
	&Min {
		max-width: 19.54%;
		flex: 0 0 19.54%;
		&__imgbox {
			height: 132px;
		}
	}
	&MinOther {
		max-width: 80.46%;
		flex: 0 0 80.46%;
		&__text {
			max-height: 132px;
			
		}
	}
	&-fifth {
		&-slider {
			&-wrap {
				margin-left: -7.5px;
				margin-right: -7.5px;
			}
			&__item {
				padding-left: 7.5px;
				padding-right: 7.5px;
			}
			&__imgbox {
				min-height: 210px;
				//@include md-block {
				//	height: 125px;
				//}
				@include xs-block {
					height: 180px;
				}
			}
			&__title {
				color: #000000;
				font-family: Roboto, sans-serif;
				font-size: 16px;
				font-weight: 400;
				text-align: center;
				@include fontInherit
			}
			.slider-arrow {
				&__left {
					left: 7.5px;
				}
				&__right {
					right: 7.5px;
				}
			}
		}
	}
	&-icons {
		//padding: 0 15px;
		padding: 10px 5px;
		border-radius: 5px;
		border: 1px solid $thin-color;
		text-align: center;
		font-size: 0;
		@include xs-block {
		    padding: 5px;
		}
		&__iconbox {
			width: 25%;
			display: inline-block;
			padding: 12px;
			font-size: 16px;
			text-align: center;
			@include lg-block {
				font-size: 12px;
				padding: 8px;
			}
			//@include md-block {
			//	font-size: 10px;
			//	padding: 4px;
			//}
			@include sm-block {
				font-size: 16px;
				width: 8.33333%;
			}
			@include xs-block {
				font-size: 10px;
				padding: 6px;
			}
		}
		//table {
		//	display: none;
		//	width: 100%;
		//	border-collapse: separate;
		//	border-spacing: 0 30px;
		//	@include lg-block {
		//		border-spacing: 0 20px;
		//		}
		//	@include md-block {
		//		border-spacing: 0 15px;
		//	}
		//}
		//tr {
		//	margin-bottom: 30px;
		//	@include md-block {
		//		margin-bottom: 15px;
		//	}
		//}
		//td {
		//	width: 25%;
		//	color: #bcbdc0;
		//	@include hover {
		//		color: $basic-color;
		//	}
		//	@include md-block {
		//		font-size: 10px;
		//	}
		//}
	}
	&-user {
		font-size: 0;
		cursor: pointer;
		@include hover {
			.card-user__photo {
				border-color: $special-color;
			}
		}
		&__photo {
			display: inline-block;
			width: 90px;
			height: 90px;
			margin-right: 15px;
			vertical-align: middle;

			font-size: 16px;
			border: 1px solid $thin-color;
			border-radius: 50%;
			overflow: hidden;
			background: center no-repeat;
			background-size: contain;
			@include md-block {
				width: 55px;
				height: 55px;
			}
			img {
				display: none;
			}
		}

		&__info {
			display: inline-block;
			width: calc(100% - 105px);
			vertical-align: middle;

			font-size: 16px;
			@include md-block {
				width: auto;
				max-width: 140px;
			}
		}

		&__title {
			color: $tooltip-bg;
			font-size: 16px;
			font-weight: 500;
			line-height: 1.4;
			> * {
				font-family: Roboto, sans-serif;
				color: $tooltip-bg;
				font-size: 16px;
				font-weight: 500;
				line-height: 1.4;
				@include lg-block {
					font-size: 14px;
				}
				@include md-block {
					font-size: 9px;
				}
			}
			span {
				display: block;
			}
		}
		&__text {
			max-width: 250px;
			color: $tooltip-bg;
			font-size: 16px;
			font-weight: 300;
			line-height: 1.4;
			@include lg-block {
				font-size: 14px;
			}
			@include md-block {
				font-size: 9px;
			}
		}
	}


	&-modal {
		font-size: 16px;
		.modal {
			&-content {
				border-radius: 5px;
				border: 1px solid #dddee0;
				padding: 30px;
				margin: 30px auto;
				@include md-block {
				    padding: 18px;
				}
				@media (min-width: 1230px) {
					max-width: 870px;
				}
				@media (min-width: 992px) {
					max-width: 810px;
				}
				@media (min-width: 768px) {
					max-width: 560px;
				}
			}
			&-dialog {

			}
			&-header {
				position: relative;
				display: block;
				margin-bottom: 30px;
				padding: 0;
				border: none;
				.close {
					position: absolute;
					top: -20px;
					right: -20px;
					padding: 0;
					margin: 0;
					font-size: 14px;
					color: #A1A3A7;
					@include md-block {
						top: -10px;
						right: -10px;
						width: 20px;
						height: 20px;
					}
				}
			}
			&-title {
				margin-bottom: 10px;
				color: $tooltip-bg;
				font-family: Roboto, sans-serif;
				font-size: 22px;
				font-weight: 500;
				line-height: 17px;
				@include fontInherit {
					margin: 0;
				}
			}
			&-subtitle {
				color: $tooltip-bg;
				font-family: Roboto, sans-serif;
				font-size: 16px;
				font-weight: 300;
				line-height: 17px;
				@include fontInherit {
					margin: 0;
				}
			}
			&-body {
				margin: 0;
				padding: 0;
			}
			&-imgbox {
				width: 170px;
				height: 200px;
				background: center no-repeat;
				background-size: contain;
				border-radius: 5px;
				border: 1px solid #dddee0;
				@include md-block {
					width: 100px;
					height: 120px;
				}
				img {
					display: none;
				}
			}
			&-text {
				p {
					margin-bottom: 15px;
					color: $basic-color;
					font-family: Roboto, sans-serif;
					font-size: 14px;
					font-weight: 400;
				}
				h3 {
					margin-bottom: 5px;
					color: $tooltip-bg;
					font-family: Roboto, sans-serif;
					font-size: 14px;
					font-weight: 400;
					line-height: 17px;
					text-transform: uppercase;
				}
			}
			&-table {
				&__line {
					font-size: 0;
					&:nth-child(2n) {
						background-color: #f4f5f5;
					}
				}
				&__col {
					display: inline-block;
					width: 50%;
					padding: 10px;
					vertical-align: top;
					font-size: 16px;
				}
			}
		}
	}


	&-tabs {
		.nav {
			&-tabs {
				.nav-link {
					border: 1px solid #dddee0;
					border-radius: 5px 5px 0 0;
					border-bottom: none;
					border-right: none;
					&:last-child {
						border-right: 1px solid #dddee0;
					}
					&.active {
						padding-top: 2px;
						padding-bottom: 4px;
						background-color: #f4f5f5;
						border-bottom: 1px solid #f4f5f5;
					}
				}
			}

			&-link {
				padding: 3px 30px;
				@include md-block {
					@include pdLR(18px);
					font-size: 10px;
				}
				@include xs-block {
					font-size: 8px;
					@include pdLR(10px);
				}
			}
			&-tabs {
				//max-width: calc(100% - 4px);
				//border-bottom: 1px solid #dddee0;
				border-bottom: none;
			}
		}
		.tab-content {
			min-height: 957px;
			padding: 30px;
			background-color: #f4f5f5;
			border-radius: 0 5px 5px 5px;
			border: 1px solid #dddee0;
			//border-top: none;
			@include md-block {
				padding: 15px;
			}
		}
	}
}

.card-number-elem {
	cursor: pointer;
	@include hover {
		color: $light-color;
	}
}
.card-links{
	&-wrap {
		display: flex;
	}
	&__img {
		max-width: 100px;
		//padding-left: 15px;
		padding: 0 15px;
		text-align: center;
		@include md-block {
			padding-right: 0;
			padding-left: 15px;
		}
		@include sm-block {
			vertical-align: middle;
		}
		@include xs-block {
			padding-left: 0;
		}
	}
	&__imgbox {
		min-width: 30px;
		font-size: 30px;
		color: #d0d1d3;
		text-align: center;
		vertical-align: middle;
		@include hover {
			color: #757575;
		}
		@include md-block {
			min-width: auto;
			max-width: 27px;
			font-size: 27px;
		}
		@include sm-block {
			display: inline-block;
			font-size: 16px;
			max-width: 16px;
		}
		@include xs-block {
			font-size: 12px;
			//max-width: 12px;
		}
		i {
			transition: 0.4s;
		}
	}
	&__items {
		width: 100%;
		padding-left: 28px;
	}
	&__item {
		padding: 5px 10px;
		margin-bottom: 10px;
		border: 1px solid transparent;
		border-radius: 5px;
		transition: 0.4s;
		@include hover {
			background-color: #F4F5F5;
			border-color: #DDDEE0;
		}
		@include md-block {
			padding: 0;
			margin-bottom: 5px;
		}
	}
	&__head {
		margin-bottom: 5px;
		@include clearfix;
		@include md-block {
			margin-bottom: 0;
			font-size: 10px;
		}
	}
	&__left {
		float: left;
		width: 305px;
		@include lg-block {
			width: 210px;
		}
		@include md-block {
			width: 165px;
		}
		@include sm-block {
			width: 120px;
		}
	}
	&__right {
		text-align: right;
		.link-special {
			margin-left: 15px;
		}
		.card-links__lnk_small {
			margin-top: 6px;
			@include lg-block {
				margin-top: 0;
			}
		}
	}
	&__lnkbox {
		position: relative;
		margin-left: -28px;
		padding-left: 28px;
		color: $dark-color;
		font-family: "PT Serif", serif;
		font-size: 20px;
		font-weight: 400;
		//line-height: 20px;
		margin-bottom: 5px;
		line-height: 1.4;
		&:last-child {
			margin-bottom: 0;
		}
		@include md-block {
			font-size: 10px;
			line-height: 1.2;
		}
		.link-icon-save {

			position: absolute;
			display: inline-block;
			height: 100%;
			left: 0;
			top: 0;
			color: #bcbdc0;
			opacity: 0;
			transition: 0.3s;
			vertical-align: top;
			@include hover {
				color: $special-color;
				opacity: 1;
			}
			@include lg-block {
				opacity: 1;
				font-size: 14px;
			}
			@include before('\e920') {
				top: 50%;
				left: 0;
				transform: translateY(-50%);
				@include icon;
				color: inherit;
				@include lg-block {
					top: 1px;
					transform: none;
				}
				@include md-block {
					left: 12px;
					top: 3px;
				}
				//opacity: 0;
				//transition: 0.4s;
			}

			//&:before {
			//	@include hover {
			//		color: $special-color;
			//	}
			//}

		}
		@include hover {
			.card-links__lnk {
				//text-decoration: underline;
			}
			.link-icon-save {
				opacity: 1;
				//&:before {
				//	opacity: 1;
				//	left: 0;
				//}
			}
		}

	}
	&__lnk {
		color: inherit;
		font-size: 20px;
		font-weight: inherit;
		transition: color 0.2s;
		font-family: "PT Serif", serif;
		vertical-align: top;
		line-height: 1.4;
		height: auto;
		min-height: auto;
		@include lg-block {
			font-size: 12px;
		}
		@include md-block {
			font-size: 11px;
		}

		@include sm-block {
			font-size: 10px;
		}

		&.color-thin {
			color: #a1a3a7;
		}
		@include hover {
			color: #000000;
			text-decoration: underline;
		}
		&.link-special {
			@include hover {
				color: $special-color;
				text-decoration: none;
			}
		}
		&.text-ddd {
			max-height: 30px;
		}
		&_small {
			font-size: 14px;
			line-height: 1.4;
			@include lg-block {
				font-size: 12px;
			}
			@include md-block {
				font-size: 10px;
			}
			@include sm-block {
				font-size: 8px;
			}
		}
	}

}
.card-person {
	@include clearfix;
	&__imgbox {
		float: left;
		width: 113px;
		height: 130px;
		background-size: cover;
		background-position: center	;
		background-repeat: no-repeat;
		margin-right: 15px;

		@include md-block {
			width: 70px;
			height: 85px;
			margin-right: 10px;
		}

		img {
			display: none;
		}
	}
	&__content {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		min-height: 130px;
		@include md-block {
		    min-height: auto;
			max-width: 90px;
		}
		button {
			margin-top: auto;
			@include md-block {
				font-size: 8px;
			}
		}
	}
	&__text {
		color: $tooltip-bg;
		font-size: 12px;
		font-weight: 400;
		line-height: 14px;
		@include md-block {
			font-size: 8px;
			line-height: 1.4;
			margin-bottom: 10px;
		}
		p {
			strong {
				display: block;
				font-weight: 700;
			}
		}
	}
}