.card-calendar {
	display: block;
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0px;
	.ui-datepicker {
		width: 100%;
		padding: 0;
	}
	.ui-datepicker-header {
		//display: none !important;
		padding: 0;
		h3 {
			position: relative;
		}
		.content-subtitle {
			@include xs-block {
				margin-bottom: 5px;
			}
			h2 {
				@include xs-block {
					font-size: 9px;
					margin-bottom: 0;
				}

			}
		}
		.ui-datepicker-title {
			display: inline;
			margin: 0;
			padding: 0 15px;
			text-align: center;
			font-size: 0;
			* {
				font-size: 16px;
				@include lg-block {
					font-size: 12px;
				}
				@include sm-block {
					font-size: 9px;
				}
				@include xs-block {
					font-size: 8px;
				}
			}
			.ui-datepicker-month, .ui-datepicker-year {
				display: none;
			}
		}
		.ui-datepicker-next {
			//position: static;
			display: inline;
			width: auto;
			height: auto;
			top: 50%;
			transform: translateY(-50%);
			color: #bcbdc0;
		}
		.ui-datepicker-prev {
			display: inline;
			width: auto;
			height: auto;
			top: 50%;
			transform: translateY(-50%);
			color: #bcbdc0;
		}
	}
	thead {
		display: block;
		tr {
			display: flex;
			width: 100%;
			th {
				margin-bottom: 5px;
				padding: 0;
				display: block;
				width: calc(100% / 7);
				color: $dark-color;
				font-size: 14px;
				font-weight: 300;
				line-height: 1.4;
				text-align: right;
				@include md-block {
					font-size: 10px;
				}
				@include xs-block {
					font-size: 8px;
				}
			}
		}
	}
	tbody {
		display: block;
		border: 1px solid #bcbdc0;
		border-radius: 5px;
		overflow: hidden;
		tr {
			display: flex;
			width: 100%;
			border-bottom: 1px solid #bcbdc0;
			&:last-child {
				border-bottom: 0;
			}
		}
	}
	 td {
		display: flex;
		flex-direction: column;
		width: calc(100% / 7);
		min-height: 124px;
		padding: 11px 9px;
		font-size: 49px;
		font-weight: 300;
		text-align: right;
		border-right: 1px solid #bcbdc0;
		color: $dark-color;
		 @include lg-block {
			 min-height: 100px;
			 padding: 2px 6px 6px;
		 }
		 @include md-block {
			 font-size: 29px;
			 min-height: 75px;
			 padding: 6px;
		 }
		 @include xs-block {
			 font-size: 20px;
			 padding: 0 4px;
			 min-height: 40px;
		 }
		&:last-child {
			border-right: 0;
		}
		a, div {
			display: flex;
			flex-direction: column;
			//height: 100%;
			padding: 0;
			color: inherit;
			p {
				font-weight: 700;
				color: inherit;
			}
			span {
				font-size: 12px;
				font-weight: 300;
				color: inherit;
			}
		}
		a {
			cursor: default;
		}
		&.card-calendar__event {
		 font-weight: 700;
		 color: inherit;
		 cursor: pointer;
			a {
				cursor: pointer;
			}
		}
	}
	td {
		@include hover {
			background-color: rgba(0, 185, 31, 0.1);

		}
		&_special {

		}
		&.major {
			color: $special-color;
		}
	}
	td.ui-datepicker-week-end {
		background-color: #f4f5f5;
	}
	td.ui-datepicker-today {
		background-color: rgba($special-color, 0.1);
		color: $thin-color;
		font-weight: 700;
		p {
			color: $thin-color;
			font-weight: 700;
		}
	}


	&__caption {
		display: block;
		width: 100%;
		margin-top: auto;
		text-align: left !important;
		vertical-align: bottom;
		color: #bcbdc0;
		font-size: 12px;
		font-weight: 300;
		@include md-block {
			font-size: 8px;
		}
		@include xs-block {
			padding: 0 0 2px 0 !important;
			font-size: 6px;
		}
	}
}