.comment {
	padding-left: 45px;
	@include xs-block {
		padding-left: 20px;
	}
	&_special {
		// margin-top: -15px;
		margin-bottom: 15px;
		.article-author {
			margin-top: 0;
			padding: 3px 0;
		}
		.article-author__left {
			display: block;
			line-height: 20px;
			margin: 0;

		}
		.article-author__username {
			display: block;
			line-height: 20px;
			margin: 0;

		}
	}
	&-box {
		position: relative;
		//padding: 15px;
		padding-left: 45px;
		margin-bottom: 15px;
		border-radius: 5px;
		border: 1px solid #bcbdc0;
		@include md-block {
			padding-left: 30px;
		}
		@include xs-block {
			padding-left: 25px;
		}
	}
	&__tagbox {
		margin-bottom: 10px;
	}
	&__avatar {
		position: absolute;
		top: 15px;
		left: -45px;
		width: 90px;
		height: 90px;
		background: #fff center no-repeat;
		background-size: contain;
		border-radius: 50%;
		border: 1px solid #707070;
		@include md-block {
			width: 60px;
			height: 60px;
			left: -30px;
		}
		@include xs-block {
			width: 45px;
			height: 45px;
			left: -22.5px;
		}
	}
	&__nickname {
		color: $basic-color;
		font-size: 14px;
		font-weight: 400;
	}
	&__date {
		margin-bottom: 20px;
		color: #bcbdc0;
		font-size: 14px;
		font-weight: 400;
		@include md-block {
			font-size: 10px;
			margin-bottom: 10px;
		}
		&:before {
			display: inline-block;
			content: '';
			margin-right: 5px;
			width: 16px;
			height: 18px;
			background: url(../img/icon/shape.svg) center no-repeat;
			background-size: contain;
			vertical-align: bottom;
			@include md-block {
				width: 12px;
				height: 13px;
				//vertical-align: middle;
			}
		}
	}
	&__text {
		max-height: 170px;
		overflow-y: hidden;
		font-size: 14px;
		line-height: 20px;
		p {
			font-size: 14px;
			margin-bottom: 25px;
			font-weight: 400;
			@include md-block {
				font-size: 12px;
				margin-bottom: 10px;
			}
		}
	}
	&__links {
		@include clearfix;
		color: $basic-color;
		font-size: 14px;
		text-align: right;
		font-weight: 300;

	}
	&__link, &__reply {
		display: inline-block;
		float: left;
		color: $basic-color;
		font-size: 14px;
		text-align: right;
		font-weight: 300;
		cursor: pointer;
		@include md-block {
			font-size: 12px;
		}
		&.hide {
			display: none;
		}
		i {
			font-size: 10px;
			vertical-align: middle;
			color: inherit;
			margin-left: 4px;
			opacity: 0.6;
		}
		@include hover {
			font-weight: 400;
		}


		& > * {
			color: inherit;
			font-size: 14px;
			font-weight: inherit;
			@include hover {
				font-weight: 400;
			}
			@include md-block {
				font-size: 12px;
			}
		}
	}
	&__link {
		&_left {
			text-align: left;
		}
		&_right {
			float: none;
			text-align: right;
		}
	}
	&-long {
		&__showbtn {
			position: absolute;
			// z-index: 10;
			bottom: 0;
			left: 0;
			width: 100%;
			padding-top: 5px;
			padding-bottom: 15px;
			color: $dark-color;
			font-size: 12px;
			font-weight: 400;
			letter-spacing: 0.5px;
			background-color: $light-color;
			@include hover {
				letter-spacing: 0;
				font-weight: 700;
			}
			@include before {
				z-index: 1;
				bottom: 0;
				left: 0;
				width: 100%;
				height: 91px;
				background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #fff 65%);
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 )
			}
			i {
				margin-left: 5px;
				vertical-align: middle;
				color: #bcbdc0;
				&:before {
					color: inherit;
				}
			}
			&>* {
				position: relative;
				z-index: 10;
			}
		}
	}
}

.comment-form {
	padding-bottom: 100px;
	&_p0 {
		padding: 0;
	}
	&-reply {
		padding-bottom: 15px;
	}
	&__textareabox {
		margin-bottom: 15px;
	}
	&__textarea {
		width: 100%;
		min-height: 150px;
		border-radius: 5px;
		border: 1px solid #bcbdc0;
		padding: 18px;
		resize: vertical;
		@include md-block {
			padding: 15px;
			font-size: 12px;
		}
	}
	&__btnbox {
		text-align: right;
	}
	&__button {
		min-width: 170px;
	}
}