.comments-dark {
	display: none;
	margin-top: 30px;
	padding: 15px 120px;
	margin-bottom: 30px;
	border-radius: 5px;
	background-color: $basic-color;
	@include lg-block {
		padding: 15px 30px;
	}
	@include xs-block {
		margin-top: 15px;
		padding: 15px 15px;
	}
	.content-titlebox {
		color: #eeefef;
	}
	.comment {
		&-box {
			text-align: left;
			border-radius: 5px;
			border: 1px solid #bcbdc0;
			background-color: #eeefef;
		}
		&-form {
			padding-bottom: 15px;
			&__textarea {
				background-color: #eeefef;
			}
		}
		&-long__showbtn {
			background-color: #eeefef;
			&:before {
				background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #eeefef 100%);
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#eeefef',GradientType=0 );
			}
		}
	}
	.article-author {
		padding: 0 15px;
		background-color: rgba(#fbfbfb, 0.3);
		color: #eeefef;
		font-size: 7px;
		&__left {
			@include xs-block {
				font-size: 8px;
				margin: 0;
			}
		}
		&__username {
			margin-top: 2.5px;
			@include xs-block {
				font-size: 6px;
				margin: 0;
			}
		}
		.article-author__left {
			@include xs-block {
				line-height: 16px;
			}

		}
		.article-author__username {
			@include xs-block {
				line-height: 16px;
			}

		}
	}
}