.menu-left {
	position: absolute;
	width: calc(100% - 30px);
	padding-bottom: 15px;
	z-index: 10;
	border-radius: 5px;
	background-color: #fff;
	@include lg-block {
		display: none;
	}
	&-wrap {
		background-color: #f4f5f5;

	}
	&-navigation {
		padding-top: 15px;
		@include xs-block {
			margin-left: -15px;
			margin-right: -15px;
		}
		&-pseudo {
			@include lg-block {
				display: none !important;
			}
		}
	}
	&-title {
		
		color: $light-color;
		font-size: 13px;
		font-weight: 500;
	}

	&__list {
		@include listUnstyle();
	}

	&__box {
		// display: table;
		// min-height: 36px;
		width: 100%;
		ul {
			display: none;
			@include listUnstyle();
			a {
				padding-left: 30px;
			}
		}
	}
	&__item {
		display: table;
		height: 1px;
		min-height: 36px;
		width: 100%;
		padding: 5px 15px;
		color: $dark-color;
		font-size: 13px;
		font-weight: 300;
		transition: 0.4s;
		@include hover {
			background-color: #bcbdc0;
			color: $light-color;
		}
		&-head {
			position: relative;
			width: 100%;
			background-image: linear-gradient(180deg, #797c82 0%, rgba(137, 140, 145, 0.74) 74%, #9a9da1 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#797c82', endColorstr='#9a9da1',GradientType=0 );
			border-radius: 5px;
			transition: none;
			@include hover {
				background-color: transparent;

			}
		}
		&-current {
			display: none;
		}
	}
	&__text {
		display: table-cell;
		vertical-align: middle;
		// display: inline-block;
		max-width: 158px;
		text-transform: uppercase;
	}
	&-control {
		position: absolute;
		z-index: 100;
		right: -30px;
		top: 50%;
		margin-top: -15px;
		display: block;
		width: 30px;
		height: 30px;
		text-align: center;
		line-height: 30px;
		vertical-align: middle;
		transform: rotateX(-180deg) scale(-1, 1);
		-ms-transform: rotateX(-180deg) scale(-1, 1);
		-sand-transform: rotate(-180deg);
		transition: 0.4s;
		&:before {
			content: '\e910';
			@include icon;
			color: $basic-color;
			font-size: 12px;
		}
		&.active{
			transform: rotateX(0deg);
			-ms-transform: rotateX(0deg);
			-sand-transform: rotate(0deg);
			transition: 0.4s;
			&:before {
				color: #BCBDC0;
			}
		}
	}
	&-more {
		display: table-cell;
		vertical-align: middle;
		width: 100%;
		&__button {
			text-align: left;
			width: 100%;
			padding-left: 0;
			padding-right: 0;
			position: relative;
			color: $light-color;
			transition: none;
			text-transform: uppercase;
			@include hover {
				background-color: inherit;
				color: inherit;
			}
			i {
				display: none;
				position: absolute;
				top: 50%;
				right: 0;
				margin-top: -5px;
				&:before {
					color: #dddee0;

				}
			}
			&.active {
				background-color: inherit;
				color: $light-color;
			}
		}
		&__list {
			// top: 42px;
			// left: -15px;
			// right: -15px;
			width: 100%;
			max-width: none;
			margin-left: -15px;
			margin-right: -15px;
			padding: 0;
			border: 1px solid #dfdfdf;
			background-color: $light-color;
		}
		&__box {
			margin-bottom: 0;
			&:first-child {
				.menu-left-more__item {
					border-top-left-radius: 5px;
					border-top-right-radius: 5px;
				}				
			}

			&:last-child {
				.menu-left-more__item {
					border-bottom-left-radius: 5px;
					border-bottom-right-radius: 5px;
				}				
			}
			&.hide {
				display: none;
			}
		}
		&__item {
			text-align: left;
			&-more {
				max-width: 100%;
			}
		}
		&__link {
			text-transform: uppercase;
		}
	}
}