.widget-calendar {
	padding: 15px;
	//margin-top: 25px;
	border-radius: 5px;
	background-color: #f4f5f5;
	min-height: 260px;
	@include lg-block {
		padding: 10px;
		min-height: 190px;
	}
	@include md-block {
		min-height: 150px;
	}
	// &-change {
	// 	height: 20px;
	// 	background-color: red;
	// }
	&>.show-event {
		.widget-subtitle {
			width: 100%;
			.ui-datepicker-title {
				width: 100%;
				text-align: left;
			}
		}
		.next, .prev {
			font-size: 13px;
			color: #797c82;
			@include lg-block {
				font-size: 10px;
			}
			@include md-block {
				font-size: 7px;
			}
		}
	}
	thead {
		display: none !important;
	}
	&.widget-box {
		width: auto;
		border: 1px solid #dddee0;
		background-color: #f4f5f5;
		.ui-state-active {
			background-color: transparent;
		}
		.ui-datepicker {
			display: block;
			padding: 0;
		}
	}
	.ui-datepicker {
		width: 100%;
	}
	table {
		font-size: 14px;
		margin-bottom: 0;
	}
	.widget-subtitle {
		display: inline-block;
		//padding: 0 12px;
		text-align: center;
		@include md-block {
			margin: 0 0 5px;
		}
	}
	.ui-datepicker-header {
		padding: 0;
		font-size: 0;

	}
	.ui-datepicker-title {
		position: relative;
		display: inline-block;
		margin: 0;

		color: $dark-color;
		font-size: 0;
		font-weight: 400;
		text-align: center;

	  span {
			font-size: 13px;
			@include lg-block {
				font-size: 10px;
			}
			@include md-block {
				font-size: 7px;
			}
		}
		.ui-datepicker-month, .ui-datepicker-year {
			display: none;
		}

	}
	.ui-datepicker-prev, .ui-datepicker-next {
		z-index: 10;
		//display: inline;
		display: none !important;
		width: auto;
		height: auto;
		top: 50%;
		transform: translateY(-50%);
		@include before('\e901') {
			display: none;
			top: 50%;
			left: 50%;
			margin-top: -6px;
			margin-left: -6px;
			width: 12px;
			height: 12px;
			@include icon;
			font-size: 10px;			
		}
	}
	.ui-datepicker-prev {
		&:before {
			transform: rotate(90deg);
		}
	}
	.ui-datepicker-next {
		&:before {
			transform: rotate(-90deg);
		}
	}
	.ui-datepicker-calendar {
		td {
			padding: 2.5px;
			@include md-block {
				padding: 1px;
			}
		}
	}

	.ui-datepicker-today {
		.ui-state-default {
			border: 1px solid $special-color;
			color: $special-color;
		}
	}
	.ui-state-default {
		text-align: center;
		border: 1px solid #d0d1d3;
		color: #bcbdc0;
		font-size: 16px;
		@include hover {
			background-color: $btn-hov-bg-color;
			color: $light-color;
		}
		@include lg-block {
			font-size: 11px;
		}
		@include md-block {
			font-size: 8px;
		}
	}

	.ui-state-week, .ui-datepicker-week-col {
		color: #bcbdc0;
		font-size: 10px;
		font-weight: 300;
		text-align: right;
		padding-right: 4px !important;
		@include lg-block {
			font-size: 8px;
		}
		@include md-block {
			font-size: 6px;
		}
	}
	.ui-state-active a {
		border: 1px solid #32363f;
	}
	.ui-state-hover {

	}
	.ui-datepicker-buttonpane {
		margin: 0;
		button {
			padding: 3px 5px 4px 5px;
			min-width: 86px;
			margin-right: 1px;
			background-color: $btn-bg-color;
			color: $btn-color;
			font-size: 13px;
			line-height: 15px;
			text-align: center;  
			text-transform: capitalize;
			border-radius: 5px;
			transition: 0.5s;

			@include hover {
				background-color: $btn-hov-bg-color;
				color: $btn-hov-color;
			}
		}
		
	}
	.form-filters__select {
		margin-left: auto;
		margin-right: auto;
		display: block;
		margin-top: 40px;
	}
	&_filter {
		margin-top: 30px;
		min-height: auto;
		.ui-datepicker-prev, .ui-datepicker-next {
			display: inline-block !important;
			font-size: 14px;
			width: auto;
			height: auto;

			span {
				width: auto;
				height: auto;
				text-indent: unset;

			}
		}
		.ui-datepicker-prev span {
			left: 0;
			margin-left: 0;
		}
		.ui-datepicker-next span {
			right: 0;
		}
		.ui-datepicker-header {
			font-size: 14px;
			margin-bottom: 10px;
		}
		.ui-datepicker-title {
			display: block;
			text-align: center;
			font-size: 14px;
		}
		.ui-datepicker-title .ui-datepicker-month,
		.ui-datepicker-title .ui-datepicker-year {
			display: inline;
		}
	}
}
.events {
	display: none;
	height: 168px;
	margin-top: -5px;
	@include md-block {
		height: 100px;
	}
}
.event {
	display: flex;
	flex-direction: column;
	height: 100%;
	&-nav {
		position: absolute;
		right: 0;
		top: 0;
	}
	&-title {
		margin-bottom: 10px;
		font-family: "PT Serif", serif;
		color: $basic-color;
		font-size: 18px;
		line-height: 18px;
		font-weight: 400;
		@include lg-block {
			font-size: 14px;
		}
		@include md-block {
			font-size: 9px;
			line-height: 1.4;
			margin-bottom: 5px;
		}
	}
	&-control {
		position: absolute;
		right: 0;
		top: 0;
		display: none;
		color: #E0E1E2;
		transform: rotate(90deg);
		i {
			color: inherit;
			&:before {
				color: inherit;
			}
		}
	}
}