@import 'bootstrap/_mixins.scss';
@import 'general/_variables.scss';
@import 'general/_mixin.scss';

.container, .row {
	@include clearfix;
}

.user {
	&__name {
		display: inline-block;
	}
	&__avatar {
		display: inline-block;
	}
}


.form {
	&-search {
		@include clearfix;
		&__input {
			display: block;
			width: 94% !important;
			float: left;
		}
		&__label {
			display: block;
		}
	}
}


.header {
	padding-top: 10px;
	@include clearfix;
	&-box {
		@include clearfix;
		& > div {
			float: left;
		}
		&__logo {
			@include clearfix;
		}
		&__item {
			display: inline-block;
		}
	}
	&-user {
		display: inline-block;
		margin-left: 10px;
		vertical-align: top;
	}
	&-logo {
		margin-bottom: 0;
	}
	&-visit {
		margin-top: 7px;
	}

	&-info {
		display: inline-block;
		vertical-align: top;
		padding-top: 0;
	}
	&-logowrap {
		float: left;
	}
}

.header-nav {
	&-button {
		&-inn {
			display: inline-block;
			line-height: 45px;
			vertical-align: middle;
			float: left;
			@include clearfix;
		}
	}
	&__link {
		span {
			word-break: break-all;
		}
	}
}
.nav-more {
	position: relative;
}
.dropdown-menu {
	top: 100% !important;
}
.setting {
	&-form{
		&-wrap {
			// display: flex;
			// flex-wrap: wrap;
			width: 100%;
			padding-left: 13px;
			@include clearfix;
		}
		&-checkbox {
			margin-bottom: 10px;
			width: 100%;
			max-width: 33.33333333%;
			text-align: left;
			float: left;
		}
	}
}
.menu-left {
	&-control {
		&.active{
			&:before {
				//content: '\e906';
				color: $basic-color;
			}
		}
	}
}
.menu-horizontal {
	&__list {
		@include clearfix;
	}
	&__box {
		float: left;
		display: table;
	}
	&__item {
		display: table-cell;
		vertical-align: middle; 
	}
}


.header.scroll {
	.header {
		&-info {
			@include clearfix;
			&__time {
				float: left;
				margin-right: 10px;
			}
		}
	}	
}
.header-nav-system__content {
	background-color: #e4e4e4;
	filter: none;
}
.card-calendar {
	td {
		vertical-align: top;
		span {
			margin-top: 15px;
		}
	}
}
.card-person__text {
	margin-bottom: 10px;
}
.card-links {
	&-wrap {
		@include clearfix;
	}
	&__img {
		//float: left;
		display: inline-block;
		vertical-align: top;
	}

	&__items {
		display: inline-block;
		vertical-align: top;
		width: calc(100% - 100px);
	}
}
.card-tabs .tab-content {
	padding-top: 60px;
}
.card-tabs .nav-tabs .nav-link {
	background-color: #fff;
}
.content {
	&-filter {
		&__formbox {
			float: left;
			margin-left: 15px;
		}
	}
}
.form-filters {

	&__title {
		display: inline-block;
	}
}
.card {
	border: 0;
}
.widget {
	&-content {
		@include clearfix;
		&__left, &__right {
			display: inline-block;
			vertical-align: top;
		}
		&__left {
			min-width: 110px;
		}
	}
	&-imgbox {

	}
	&-text {
		&_small {
			@include clearfix;
			p {
				display: inline-block;
				float: left;

			}
		}
		&_count {
			text-align: right;
			margin-right: 5px;
		}
	}
	&-group_special {
		.widget-text_small,.widget-text_small p, .widget-text_count {
			text-align: center;
		}
		.widget-text_small p {
			float: none;
		}
	}
	&-countbox {
		display: inline-block;
		width: 32%;
		text-align: center;
	}
}

