@import "_variables.scss";

.link {
	display: inline-block;
	color: $link-color;
	text-decoration: none;
	transition: 0.65s;
	background-color: $link-bg-color;
	@include hover {
		color: $link-hov-color;
	}
	&-danger {
		color: $special-color;
		font-weight: 300;
	}
	&-small {
		display: inline-block;
		font-size: 12px;
		@include md-block {
			font-size: 9px;
			max-height: 10px;
			overflow: hidden;
		}
	}
	&-deafult {
		color: #008acc;
		text-decoration: underline;
		@include hover {
			text-decoration: none;
		}
	}
	&-icon {
		transition: 0.3s;
		@include hover {
			color: $special-color;
		}
		&-save {
			position: relative;
			//@include hover {
			//	&:before {
			//		opacity: 1;
			//		transition: 0.3s;
			//	}
			//	&:active {
			//		&:before {
			//			color: $special-color;
			//
			//		}
			//	}
			//}
			//@include before('\e920') {
			//	top: 50%;
			//	left: -30px;
			//	transform: translateY(-50%);
			//	@include icon;
			//	color: #bcbdc0;
			//	opacity: 0;
			//	//transition: 0.4s;
			//}
			@include md-block {
				&:before {
					opacity: 1;
					left: -18px;
					font-size: 9px;
				}
			}
		}
	}
}


.link-nav {
	display: block;
	color: $thin-color;
	letter-spacing: 0.2px;
	font-size: 12px;
	font-weight: 300;
	transition: none;
	@include hover {
		font-weight: 700;
		letter-spacing: 0;
	}
}

.link-special {
	@include hover {
		color: $special-color;
	}
}


.link-big {
	color: $basic-color;
	font-family: "Roboto", sans-serif;
	font-size: 32px;
	font-weight: 700;
	line-height: 40px;
	@include hover {
		text-decoration: underline;
		color: darken($basic-color, 20);
	}
}

.link-search {
	display: block;
	width: 289px;
	margin-bottom: 10px;
	color: #008330;
	font-size: 16px;
	font-weight: 400;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	text-decoration: none;
	@include hover() {
		text-decoration: underline;
		color: darken(#008330, 10);
	}
	@include md-block {
		font-size: 9px;
		margin-bottom: 5px;
	}
}
.page-link {
	color: #5e6167;
	@include hover {
		color: #5e6167;
	}
	&:focus {
		box-shadow: none;
	}
}

// кнопка с заливкой
.button {
	display: inline-block;
	padding: 3px 5px 4px 5px;
	min-width: 86px;
	margin-right: 1px;
	background-color: $btn-bg-color;
	color: $btn-color;
	font-size: 13px;
	line-height: 1.4;
	text-align: center;  
	text-transform: capitalize;
	border-radius: 5px;
	transition: 0.5s;
	vertical-align: middle;
	@include md-block {
		font-size: 12px;
		&:not([class*='button-more-']).button-more {
			font-size: 12px;
		}
	}
	@include xs-block {
		font-size: 10px;
		min-width: 62px;
		&:not([class*='button-more-']).button-more {
			font-size: 10px;
		}
	}
	@include hover {
		background-color: $btn-hov-bg-color;
		color: $btn-hov-color;
	}
	&[disabled] {
		cursor: no-drop;
		background-color: #f4f5f5;
		color: #5e6167;
		@include hover {
			cursor: no-drop;
			background-color: #f4f5f5;
			color: #5e6167;
		}
	}
	&:last-child {
		margin-right: -1px;
	}
	&.active {
		background: $btn-active-bg-color;
		color: $btn-active-color;
	}

	&-inn{
		position: relative;
		text-align: center;
	}

}
// dropdown
.button-split {
	position: absolute;
	top: 0;
	right: 0;
	padding-top: 2px;
	height: 100%;
	max-height: 26px;
	width: 30px;
	color: $dark-color;
	background-color: #fff;
	font-size: 11px;
	transition: 0.4s;
	border: 1px solid rgba($btn-hov-bg-color, 0);
	border-left: none;
	border-right: none;
	@include hover {
		border-color: rgba($btn-hov-bg-color, 1);

	}
	i {
		color: inherit;
		&:before {
			color: inherit;
		}
	}

}

.button-dropdown {
	width: 100%;
	min-width: 190px;
	padding: 10px 30px 10px 10px;
	border-radius: 5px;
	border: 1px solid #dddddd;
	text-align: left;
	.button-split {
		top: 0;
		right: 0;
		width: 30px;
		height: 100%;
		max-height: none;
		border-radius: 0 5px 5px 0;
		border: 1px solid #dddddd;
		background-color: #fbfbfb;
		@include hover {
			border-color: inherit;

		}

		@include before('\e901') {
			top: 50%;
			left: 50%;
			margin-top: 2px;
			transform: translate(-50%, -50%);
			color: #373a3c;
			font-size: 8px;
			@include icon;
		}
		&_light {
			border-left: none;
			background-color: transparent;
		}
	}
}

.roll-up {
	position: absolute;
	top: -15px;
	right: -15px;
	color: $btn-bg-color;
	padding: 0;
	font-size: 19px;
	transform: rotate(180deg);
	@include hover {
		color: $btn-hov-bg-color;
	}
	i {
		color: inherit;
		&:before {
			color: inherit;
		}
	}
}

// пустая кнопка
.button-o {
	padding: 2px 5px;
	margin: 0 5px;
	color: $dark-color;
	background-color: transparent;
	border-radius: 3px;
	border: 1px solid #d1d1d1;
	line-height: 1.4;
	font-size: 12px;
	font-weight: 300;

	@include hover {
		color: darken(#d1d1d1, 20);
		background-color: transparent;
		border: 1px solid darken(#d1d1d1, 20);
	}
}

.upp {
	position: fixed;
	z-index: 1000;
	width: 100%;
	bottom: 0;
	right: 0;
}

.button-up{
	display: none;
	position: absolute;
	bottom: 15px;
	right: 20px;
	padding-top: 7px;
	transform: rotate(180deg);
	background-color: #000;
	opacity: 0.2;
	width: 33px;
	height: 33px;
	min-width: 1px;
	transition: opacity 0.4s;
	border-radius: 3px;
	@include hover {
		opacity: 0.3;
		background-color: #000;
	}
	i {
		font-size: 15px;

	}
}

.button-more {
	background-color: transparent;
	color: #797C82;
	font-size: 13px;
	@include hover {
		background-color: rgba($dark-color, 0.5);
		background-color: #FFFFFF;
		color: #797C82;
	}
	@include md-block {
		font-size: 12px;
	}

	@mixin btnMoreMin($breakpoint) {
		$infix: breakpoint-infix($breakpoint);
		&#{$infix}-min {
			@include media-breakpoint-up($breakpoint) {
				margin-right: 15px;
				width: auto;
				min-width: auto;
				font-size: 0;
			}
		}
	}

	@mixin btnMoreFull($breakpoint) {
		$infix: breakpoint-infix($breakpoint);
		&#{$infix}-full {
			@include media-breakpoint-up($breakpoint) {
				font-size: 13px;
				min-width: 86px;
				margin-right: 1px;
			}
		}
	}

	@include btnMoreMin(xl);
	@include btnMoreMin(lg);
	@include btnMoreMin(md);
	@include btnMoreMin(sm);
	@include btnMoreMin(xs);

	@include btnMoreFull(xl);
	@include btnMoreFull(lg);
	@include btnMoreFull(md);
	@include btnMoreFull(sm);
	@include btnMoreFull(xs);

	&-inn {
		height: 100%;
		margin-left: -3px;
		margin-top: -2px;
		@include md-block {
			text-align: center;
		}
	}
	i {
		margin-left: 2px;
		font-size: 10px;
		&:before {
			color: #BCBDC0;
		}
	}
}

.button-tag {
	min-width: 60px;
	max-width: 150px;
	padding: 2px 6px 2px;
	background-color: #bcbdc0;
	color: $light-color;
	font-size: 11px;
	font-weight: 400;
	@include hover {
		background: $btn-active-bg-color;
		color: $btn-active-color;
	}
	@include lg-block {
		font-size: 8px;
	}
	@include md-block {
		max-width: 70px;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		font-size: 8px;
	}
	@include xs-block {
		font-size: 10px;
		max-width: 130px;
	}
	&_dark {
		background-color: $basic-color;
	}
	&-o {
		color: inherit;
		border: 1px solid #a5a6aa;
		background-color: transparent;
		&_light {
			border-color: $light-color;
			color: $light-color;
		}
	}
}
.button-ads {
	height: 35px;
	width: 158px;
	font-size: 10px;
	text-transform: uppercase;
}
.button-burg {
	position: relative;
	display: none;
	margin-left: 0;
	width: 18px;
	height: 12px;
	vertical-align: middle;
	background-color: transparent;
	@include sm-block {
		display: inline-block;
	}
	span, span:before, span:after {
		position: absolute;
		left: 50%;
		top: 50%;
		margin-top: -1px;
		margin-left: -9px;
		display: block;
		height: 2px;
		width: 18px;
		background-color: $tooltip-bg;
	}
	span:before {
		content: '';
		margin-top: -5px;
		transition: all 0.2s;
	}
	span:after {
		content: '';
		margin-top: 3px;
		transition: all 0.2s;
	}
	&.active {
		span {
			background-color: transparent;
		}
		span:after {
			transform: rotate(-135deg);
			margin-top: 0;
		}
		span:before {
			transform: rotate(135deg);
			margin-top: 0;
		}
	}

}
.button-big {
	&-o {
		padding: 20px;
		width: 100%;
		min-width: 270px;
		margin-bottom: 15px;
		font-size: 16px;
		text-transform: uppercase;
		border: 1px solid #DDDEE0;
		border-radius: 5px;
		color: $dark-color;
		transition: 0.4s;
		@include hover {
			border-color: #a1a3a7;
			background-color: #F4F5F5;
		}
		@include lg-block {
			min-width: 159px;
			font-size: 12px;
		}
		@include md-block {
			padding: 12px 15px;
			font-size: 10px;
		}
		@include sm-block {
			min-width: 148px;
			font-size: 9px;
		}
		&-danger {
			border-color: $special-color;
			@include hover {
				border-color: $special-color;
				color: $special-color;
			}
		}
		&-special {
			@include hover {
				border-color: $special-color;
				background-color: transparent;
			}
		}
	}
}

.button-width-142 {
	min-width: 142px;
	@include lg-block {
		min-width: 100px;
	}
	@include md-block {
		min-width: 80px;
	}
}
.button-width-170 {
	min-width: 170px;
}
.button-height-30 {
	padding-top: 7px;
	padding-bottom: 6px;
	@include lg-block {
		padding-top: 3px;
		padding-bottom: 3px;
	}
}
.button-border {
	border: 1px solid #dddee0;
	background-color: #f4f5f5;
}