#leftNavigationPseudo.left-navigation-pseudo.collapse.show
//- include ../vidgets/_tabvidget-01

include ../vidgets/_vidget-slider-01

include ../vidgets/_vidget-calendar

//- include ../vidgets/_tabvidget-02

include ../vidgets/_vidget-slider-02

include ../vidgets/_tabvidget-03

include ../vidgets/_vidget-01

include ../vidgets/_vidget-02

include ../vidgets/_count

include ../vidgets/_counts

include ../vidgets/_vidget-danger

include ../vidgets/_vidget-succes