#leftNavigationPseudo.left-navigation-pseudo.collapse.show
//- include ../widgets/_tabwidget-01

include ../widgets/_widget-slider-01

include ../widgets/_widget-calendar

//- include ../widgets/_tabwidget-02

include ../widgets/_widget-slider-02

include ../widgets/_widget-slider-03

//- include ../widgets/_tabwidget-03

include ../widgets/_widget-01

include ../widgets/_widget-02

include ../widgets/_count

include ../widgets/_counts

include ../widgets/_widget-danger

include ../widgets/_widget-succes