header.header
	.container
		.header-box
			.header-box__logo
				.header-logowrap
					a.logo.header-logo(href='/projects/omk/')
						img.logo-img(src='img/logo.png', alt='Logo')
				nav#menuNavMore.menuNav.menuNav-header
					.nav-more.menuNav-more.menuNavHeader-more
						button.button.header-button.menuNav__button.menuNavHeader__button(data-toggle='collapse', data-target='#menuNavHeaderGroup', type='button', aria-haspopup='true', aria-expanded='false')
							| РЕГИОНАЛЬНЫЕ НОВОСТИ 
							i.icon-arrow-down
						ul#menuNavHeaderGroup.nav-more-list.menuNav-group.menuNavHeader-group.collapse
							li.nav-more-list__item.menuNav__item.menuNavHeader__item(data-toggle='collapse', data-target='#menuNavHeaderCollaps-1', aria-expanded='false', aria-controls='menuNavHeaderCollaps-1')
								.menuNav__textbox.menuNavHeader__textbox
									a.menuNav__text.menuNavHeader__text(href='#')
										span Новости
									button.button-split(data-toggle='collapse', data-target='#menuNavHeaderCollaps-1', aria-expanded='false', aria-controls='menuNavHeaderCollaps-1')
										i.icon-arrow-down
								ul#menuNavHeaderCollaps-1.collapse.show(data-parent='#menuNavMore')
									li.nav-more-list__item.menuNav__item.menuNavHeader__item
										a.menuNav__textbox.menuNavHeader__textbox(href='#')
											.menuNav__text.menuNavHeader__text НОВОСТИ ОМК
									li.nav-more-list__item.menuNav__item.menuNavHeader__item
										a.menuNav__textbox.menuNavHeader__textbox.current(href='#')
											.menuNav__text.menuNavHeader__text РЕГИОНАЛЬНЫЕ НОВОСТИ
									li.nav-more-list__item.menuNav__item.menuNavHeader__item
										a.menuNav__textbox.menuNavHeader__textbox(href='#')
											.menuNav__text.menuNavHeader__text пс омк
									li.nav-more-list__item.menuNav__item.menuNavHeader__item
										a.menuNav__textbox.menuNavHeader__textbox(href='#')
											.menuNav__text.menuNavHeader__text НОВОСТИ ПОДРАЗДЕЛЕНИЙ
									li.nav-more-list__item.menuNav__item.menuNavHeader__item
										a.menuNav__textbox.menuNavHeader__textbox(href='#')
											.menuNav__text.menuNavHeader__text НОВОСТИ ФОНДА
									li.nav-more-list__item.menuNav__item.menuNavHeader__item
										a.menuNav__textbox.menuNavHeader__textbox(href='#')
											.menuNav__text.menuNavHeader__text БЛОГ
							li.nav-more-list__item.menuNav__item.menuNavHeader__item
								.menuNav__textbox.menuNavHeader__textbox.dropdown-toggle-split
									a.menuNav__text.menuNavHeader__text(href='#')
										span КОМПАНИЯ
									button.button-split(data-toggle='collapse', data-target='#menuNavHeaderCollaps-2', aria-expanded='false', aria-controls='menuNavHeaderCollaps-2')
										i.icon-arrow-down
								ul#menuNavHeaderCollaps-2.collapse(data-parent='#menuNavMore')
									li.nav-more-list__item.menuNav__item.menuNavHeader__item
										a.menuNav__textbox.menuNavHeader__textbox(href='#')
											.menuNav__text.menuNavHeader__text Структура
									li.nav-more-list__item.menuNav__item.menuNavHeader__item
										a.menuNav__textbox.menuNavHeader__textbox(href='#')
											.menuNav__text.menuNavHeader__text Конституция
									li.nav-more-list__item.menuNav__item.menuNavHeader__item
										a.menuNav__textbox.menuNavHeader__textbox(href='#')
											.menuNav__text.menuNavHeader__text Годовой цикл
									li.nav-more-list__item.menuNav__item.menuNavHeader__item
										a.menuNav__textbox.menuNavHeader__textbox(href='#')
											.menuNav__text.menuNavHeader__text Реквизиты
									li.nav-more-list__item.menuNav__item.menuNavHeader__item
										a.menuNav__textbox.menuNavHeader__textbox(href='#')
											.menuNav__text.menuNavHeader__text Вакансии
							li.nav-more-list__item.menuNav__item.menuNavHeader__item(data-toggle='collapse', data-target='#menuNavHeaderCollaps-3', aria-expanded='false', aria-controls='menuNavHeaderCollaps-3')
								.menuNav__textbox.menuNavHeader__textbox
									a.menuNav__text.menuNavHeader__text(href='#')
										span СОТРУДНИКАМ
									button.button-split(data-toggle='collapse', data-target='#menuNavHeaderCollaps-3', aria-expanded='false', aria-controls='menuNavHeaderCollaps-3')
										i.icon-arrow-down
								ul#menuNavHeaderCollaps-3.collapse(data-parent='#menuNavMore')
									li.nav-more-list__item.menuNav__item.menuNavHeader__item
										a.menuNav__textbox.menuNavHeader__textbox(href='#')
											.menuNav__text.menuNavHeader__text Зарплата
									li.nav-more-list__item.menuNav__item.menuNavHeader__item
										a.menuNav__textbox.menuNavHeader__textbox(href='#')
											.menuNav__text.menuNavHeader__text Объявления
									li.nav-more-list__item.menuNav__item.menuNavHeader__item
										a.menuNav__textbox.menuNavHeader__textbox(href='#')
											.menuNav__text.menuNavHeader__text После работы
									li.nav-more-list__item.menuNav__item.menuNavHeader__item
										a.menuNav__textbox.menuNavHeader__textbox(href='#')
											.menuNav__text.menuNavHeader__text Доска почета
									li.nav-more-list__item.menuNav__item.menuNavHeader__item
										a.menuNav__textbox.menuNavHeader__textbox(href='#')
											.menuNav__text.menuNavHeader__text Профком
							li.nav-more-list__item.menuNav__item.menuNavHeader__item
								.menuNav__textbox.menuNavHeader__textbox
									a.menuNav__text.menuNavHeader__text(href='#')
										span БАТАШЕВСКАЯ ПРЕМИЯ
							li.nav-more-list__item.menuNav__item.menuNavHeader__item
								.menuNav__textbox.menuNavHeader__textbox
									a.menuNav__text.menuNavHeader__text(href='#')
										span ПРОИЗВОДСТВЕННАЯ СИСТЕМА
							li.nav-more-list__item.menuNav__item.menuNavHeader__item
								.menuNav__textbox.menuNavHeader__textbox
									a.menuNav__text.menuNavHeader__text(href='#')
										span БИБЛИОТЕКА
							li.nav-more-list__item.menuNav__item.menuNavHeader__item
								.menuNav__textbox.menuNavHeader__textbox
									a.menuNav__text.menuNavHeader__text(href='#')
										span ГАЛЕРЕЯ
							li.nav-more-list__item.menuNav__item.menuNavHeader__item
								.menuNav__textbox.menuNavHeader__textbox
									a.menuNav__text.menuNavHeader__text(href='#')
										span СПОРТ
							li.nav-more-list__item.menuNav__item.menuNavHeader__item
								.menuNav__textbox.menuNavHeader__textbox
									a.menuNav__text.menuNavHeader__text(href='#')
										span КОНТАКТЫ
			.header-box__qwestion
				.qwestion.header-qwestion
					a.link(href='#')
						| Вопрос 
						br
						|                 Руководству
			.header-box__search
				.header-visit
					p Просмотров 1 235 666 / Посетители 257 889
				.header-search
					form.form-search(action='#')
						.form-search__box
							.form-search__label
								input#formSearchInput.form-search__input(type='search')
								button.form-search__button.icon-search(type='submit', disabled='')
			.header-box__info
				.header-info.info
					.header-info__time.info-wrap.info__time 09:49
					.header-info-wrap
						.header-info__weather.info__weather Ясно, +26 С
						.header-info__location.info__location Челябинск
				.header-user.user
					.header-user__box.user__box
						.header-user__avatar.user__avatar
							img(src='img/icon/men.svg', alt='no-avatar')
						a.header-user__name.user__name(href='#')
							span Константин
							span Константинопольский
						button.rollUp
							i.icon-arrow-down
					.header-button-inn.button-inn
						button.header-button.button.button-help помощь
						button#headerNavControl.header-button.button.active(data-toggle='collapse', data-target='#headerNav', aria-expanded='false', aria-controls='headerNav') Системы
						button#btnDeploy.header-button.button.button-deploy Развернуть
						// <button id="btnToTop" class="header-button button button-toTop">Наверх</button>
						// /.header-box
		nav.headerNavSystem
			#headerNav.headerNavSystem-wrap.collapse.show
				.row.align-items-xl-center
					.col-xl-1.align-self-xl-start
						a.headerNavSystem__item(href='#')
							.headerNavSystem-icon-box
								i.icon-book
							.headerNavSystem__link
								span DOCS SAP
					.col-xl-1.align-self-xl-start
						a.headerNavSystem__item(href='#')
							.headerNavSystem-icon-box
								i.icon-aircraft
							.headerNavSystem__link
								span Реестр МИГ
					.col-xl-1.align-self-xl-start
						a.headerNavSystem__item(href='#')
							.headerNavSystem-icon-box
								i.icon-barcode
							.headerNavSystem__link
								span SAP
					.col-xl-1.align-self-xl-start
						a.headerNavSystem__item(href='#')
							.headerNavSystem-icon-box
								i.icon-stat
							.headerNavSystem__link
								span SAP PHR
					.col-xl-1.align-self-xl-start
						a.headerNavSystem__item(href='#')
							.headerNavSystem-icon-box
								i.icon-production
							.headerNavSystem__link
								span SAP PHR
					.col-xl-1.align-self-xl-start
						a.headerNavSystem__item(href='#')
							.headerNavSystem-icon-box
								i.icon-chess
							.headerNavSystem__link
								span СААРЦ
					.col-xl-1.align-self-xl-start
						a.headerNavSystem__item(href='#')
							.headerNavSystem-icon-box
								i.icon-list
							.headerNavSystem__link
								span NORMAL System 102
					.col-xl-1.align-self-xl-start
						a.headerNavSystem__item(href='#')
							.headerNavSystem-icon-box
								i.icon-box
							.headerNavSystem__link
								span Abnormal System 3367
					.col-xl-1.align-self-xl-start
						a.headerNavSystem__item(href='#')
							.headerNavSystem-icon-box
								i.icon-production
							.headerNavSystem__link
								span Стандарты РосКосмос
					.col-xl-1.align-self-xl-start
						a.headerNavSystem__item(href='#')
							.headerNavSystem-icon-box
								i.icon-money
							.headerNavSystem__link
								span РОСТЕХ
					.col-xl-2.d-table
						.headerNavSystem-button-inn.header-button-inn.button-inn
							.nav-more.btn-group
								button#headerNavMore.button.header-button.headerNavSystem-button(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
									| Ещё 
									i.icon-arrow-down
								ul.nav-more-list.dropdown-menu.dropdown-menu-right
									li.nav-more-list__item
										a.link.link-nav.nav-more-list__link(href='#') Стандарты РосКосмос
									li.nav-more-list__item
										a.link.link-nav.nav-more-list__link(href='#') Газпром Системы
									li.nav-more-list__item
										a.link.link-nav.nav-more-list__link(href='#') SAP Super Tasks
									li.nav-more-list__item
										a.link.link-nav.nav-more-list__link(href='#') Производственные
									li.nav-more-list__item
										a.link.link-nav.nav-more-list__link(href='#') Системы Всех Систем
									li.nav-more-list__item
										a.link.link-nav.nav-more-list__link(href='#') Логистика
									li.nav-more-list__item
										a.link.link-nav.nav-more-list__link(href='#') SAP SSH
									li.nav-more-list__item
										a.link.link-nav.nav-more-list__link(href='#') Ширина под самое длинное название с учетом Bold
							button#headerNavSettingControl.button.header-button.headerNavSystem-button(type='button', data-toggle='collapse', data-target='#headerNavSetting', aria-expanded='false', aria-controls='headerNavSetting') Настройка
				.row
					.col-xl-7.offset-xl-5
						#headerNavSetting.nav-setting.collapse
							h4.nav-setting__title Для настройки вашего меню, выберите нужные иконки:
							.nav-setting__items
								#sortable.nav-setting-wrap
									.ui-state-default.nav-setting__item-inn(data-control='formCheckbox-0')
										.headerNavSystem__item.nav-setting__item
											.headerNavSystem-icon-box
												i.icon-book
											.headerNavSystem__link
												span DOCS SAP
									.ui-state-default.nav-setting__item-inn(data-control='formCheckbox-1')
										.headerNavSystem__item.nav-setting__item
											.headerNavSystem-icon-box
												i.icon-aircraft
											.headerNavSystem__link
												span NORMAL System 102
									.ui-state-default.nav-setting__item-inn(data-control='formCheckbox-2')
										.headerNavSystem__item.nav-setting__item
											.headerNavSystem-icon-box
												i.icon-barcode
											.headerNavSystem__link
												span SAP Super Tasks
									.ui-state-default.nav-setting__item-inn(data-control='formCheckbox-3')
										.headerNavSystem__item.nav-setting__item
											.headerNavSystem-icon-box
												i.icon-stat
											.headerNavSystem__link
												span Реестр МИГ
									.ui-state-default.nav-setting__item-inn(data-control='formCheckbox-4')
										.headerNavSystem__item.nav-setting__item
											.headerNavSystem-icon-box
												i.icon-production
											.headerNavSystem__link
												span Стандарты РосКосмос
									.ui-state-default.nav-setting__item-inn(data-control='formCheckbox-5')
										.headerNavSystem__item.nav-setting__item
											.headerNavSystem-icon-box
												i.icon-chess
											.headerNavSystem__link
												span Производственные
									.ui-state-default.nav-setting__item-inn(data-control='formCheckbox-6')
										.headerNavSystem__item.nav-setting__item
											.headerNavSystem-icon-box
												i.icon-list
											.headerNavSystem__link
												span SAP
									.ui-state-default.nav-setting__item-inn(data-control='formCheckbox-7')
										.headerNavSystem__item.nav-setting__item
											.headerNavSystem-icon-box
												i.icon-box
											.headerNavSystem__link
												span Abnormal System 3367
									.ui-state-default.nav-setting__item-inn(data-control='formCheckbox-8')
										.headerNavSystem__item.nav-setting__item
											.headerNavSystem-icon-box
												i.icon-production
											.headerNavSystem__link
												span Системы Всех Систем
									.ui-state-default.nav-setting__item-inn(data-control='formCheckbox-9')
										.headerNavSystem__item.nav-setting__item
											.headerNavSystem-icon-box
												i.icon-money
											.headerNavSystem__link
												span SAP PHR
									.ui-state-default.nav-setting__item-inn(data-control='formCheckbox-10')
										.headerNavSystem__item.nav-setting__item
											.headerNavSystem-icon-box
												i.icon-book
											.headerNavSystem__link
												span РОСТЕХ
									.ui-state-default.nav-setting__item-inn(data-control='formCheckbox-11')
										.headerNavSystem__item.nav-setting__item
											.headerNavSystem-icon-box
												i.icon-aircraft
											.headerNavSystem__link
												span Логистика
									.ui-state-default.nav-setting__item-inn(data-control='formCheckbox-12')
										.headerNavSystem__item.nav-setting__item
											.headerNavSystem-icon-box
												i.icon-barcode
											.headerNavSystem__link
												span SAP PHR
									.ui-state-default.nav-setting__item-inn(data-control='formCheckbox-13')
										.headerNavSystem__item.nav-setting__item
											.headerNavSystem-icon-box
												i.icon-stat
											.headerNavSystem__link
												span Стандарты РосКосмос
									.ui-state-default.nav-setting__item-inn(data-control='formCheckbox-14')
										.headerNavSystem__item.nav-setting__item
											.headerNavSystem-icon-box
												i.icon-production
											.headerNavSystem__link
												span SAP SSH
									.ui-state-default.nav-setting__item-inn(data-control='formCheckbox-15')
										.headerNavSystem__item.nav-setting__item
											.headerNavSystem-icon-box
												i.icon-chess
											.headerNavSystem__link
												span СААРЦ
									.ui-state-default.nav-setting__item-inn(data-control='formCheckbox-16')
										.headerNavSystem__item.nav-setting__item
											.headerNavSystem-icon-box
												i.icon-list
											.headerNavSystem__link
												span Газпром Системы
									.ui-state-default.nav-setting__item-inn(data-control='formCheckbox-17')
										.headerNavSystem__item.nav-setting__item
											.headerNavSystem-icon-box
												i.icon-box
											.headerNavSystem__link
												span Больше систем
									//
										<div class="ui-state-default nav-setting__item-inn" data-control="formCheckbox-18">
										<div class="headerNavSystem__item nav-setting__item">
										<div class="headerNavSystem-icon-box"><i class="icon-production"></i></div>
										<div class="headerNavSystem__link"><span>Стандарты РосКосмос</span></div>
										</div>
										</div>
									//
										<div class="ui-state-default nav-setting__item-inn" data-control="formCheckbox-19">
										<div class="headerNavSystem__item nav-setting__item">
										<div class="headerNavSystem-icon-box"><i class="icon-money"></i></div>
										<div class="headerNavSystem__link"><span>РОСТЕХ</span></div>
										</div>
										</div>
							form#settingForm.form.setting-form(action='#')
								.form-chekbox-wrap.setting-form-wrap
									.form-checkbox.setting-form-checkbox.active
										label.form-checkbox__label.setting-form-checkbox__label(for='formCheckbox-0', data-placement='right', title='Пункт будет находится в «Системы» → «Ещё»', data-toggle='tooltip')
											input#formCheckbox-0.form-checkbox__input.setting-form-checkbox__input(type='checkbox', name='checkbox_nav_item0', checked='')
											span.form-checkbox__text.setting-form-checkbox__text DOCS SAP
									.form-checkbox.setting-form-checkbox
										label.form-checkbox__label.setting-form-checkbox__label(for='formCheckbox-1', data-placement='right', title='Пункт будет находится в «Системы» → «Ещё»', data-toggle='tooltip')
											input#formCheckbox-1.form-checkbox__input.setting-form-checkbox__input(type='checkbox', name='checkbox_nav_item1', checked='')
											span.form-checkbox__text.setting-form-checkbox__text NORMAL System 102
									.form-checkbox.setting-form-checkbox
										label.form-checkbox__label.setting-form-checkbox__label(for='formCheckbox-2', data-placement='right', title='Пункт будет находится в «Системы» → «Ещё»', data-toggle='tooltip')
											input#formCheckbox-2.form-checkbox__input.setting-form-checkbox__input(type='checkbox', name='checkbox_nav_item2')
											span.form-checkbox__text.setting-form-checkbox__text SAP Super Tasks
									.form-checkbox.setting-form-checkbox
										label.form-checkbox__label.setting-form-checkbox__label(for='formCheckbox-3', data-placement='right', title='Пункт будет находится в «Системы» → «Ещё»', data-toggle='tooltip')
											input#formCheckbox-3.form-checkbox__input.setting-form-checkbox__input(type='checkbox', name='checkbox_nav_item3', checked='')
											span.form-checkbox__text.setting-form-checkbox__text Реестр МИГ
									.form-checkbox.setting-form-checkbox
										label.form-checkbox__label.setting-form-checkbox__label(for='formCheckbox-4', data-placement='right', title='Пункт будет находится в «Системы» → «Ещё»', data-toggle='tooltip')
											input#formCheckbox-4.form-checkbox__input.setting-form-checkbox__input(type='checkbox', name='checkbox_nav_item4', checked='')
											span.form-checkbox__text.setting-form-checkbox__text Стандарты РосКосмос
									.form-checkbox.setting-form-checkbox
										label.form-checkbox__label.setting-form-checkbox__label(for='formCheckbox-5', data-placement='right', title='Пункт будет находится в «Системы» → «Ещё»', data-toggle='tooltip')
											input#formCheckbox-5.form-checkbox__input.setting-form-checkbox__input(type='checkbox', name='checkbox_nav_item5')
											span.form-checkbox__text.setting-form-checkbox__text Производственные
									.form-checkbox.setting-form-checkbox
										label.form-checkbox__label.setting-form-checkbox__label(for='formCheckbox-6', data-placement='right', title='Пункт будет находится в «Системы» → «Ещё»', data-toggle='tooltip')
											input#formCheckbox-6.form-checkbox__input.setting-form-checkbox__input(type='checkbox', name='checkbox_nav_item6', checked='')
											span.form-checkbox__text.setting-form-checkbox__text SAP
									.form-checkbox.setting-form-checkbox
										label.form-checkbox__label.setting-form-checkbox__label(for='formCheckbox-7', data-placement='right', title='Пункт будет находится в «Системы» → «Ещё»', data-toggle='tooltip')
											input#formCheckbox-7.form-checkbox__input.setting-form-checkbox__input(type='checkbox', name='checkbox_nav_item7', checked='')
											span.form-checkbox__text.setting-form-checkbox__text Abnormal System 3367
									.form-checkbox.setting-form-checkbox
										label.form-checkbox__label.setting-form-checkbox__label(for='formCheckbox-8', data-placement='right', title='Пункт будет находится в «Системы» → «Ещё»', data-toggle='tooltip')
											input#formCheckbox-8.form-checkbox__input.setting-form-checkbox__input(type='checkbox', name='checkbox_nav_item8')
											span.form-checkbox__text.setting-form-checkbox__text Системы Всех Систем
									.form-checkbox.setting-form-checkbox
										label.form-checkbox__label.setting-form-checkbox__label(for='formCheckbox-9', data-placement='right', title='Пункт будет находится в «Системы» → «Ещё»', data-toggle='tooltip')
											input#formCheckbox-9.form-checkbox__input.setting-form-checkbox__input(type='checkbox', name='checkbox_nav_item9', checked='')
											span.form-checkbox__text.setting-form-checkbox__text SAP PHR
									.form-checkbox.setting-form-checkbox
										label.form-checkbox__label.setting-form-checkbox__label(for='formCheckbox-10', data-placement='right', title='Пункт будет находится в «Системы» → «Ещё»', data-toggle='tooltip')
											input#formCheckbox-10.form-checkbox__input.setting-form-checkbox__input(type='checkbox', name='checkbox_nav_item10', checked='')
											span.form-checkbox__text.setting-form-checkbox__text РОСТЕХ
									.form-checkbox.setting-form-checkbox
										label.form-checkbox__label.setting-form-checkbox__label(for='formCheckbox-11', data-placement='right', title='Пункт будет находится в «Системы» → «Ещё»', data-toggle='tooltip')
											input#formCheckbox-11.form-checkbox__input.setting-form-checkbox__input(type='checkbox', name='checkbox_nav_item11')
											span.form-checkbox__text.setting-form-checkbox__text Логистика
									.form-checkbox.setting-form-checkbox
										label.form-checkbox__label.setting-form-checkbox__label(for='formCheckbox-12', data-placement='right', title='Пункт будет находится в «Системы» → «Ещё»', data-toggle='tooltip')
											input#formCheckbox-12.form-checkbox__input.setting-form-checkbox__input(type='checkbox', name='checkbox_nav_item12', checked='')
											span.form-checkbox__text.setting-form-checkbox__text SAP PHR
									.form-checkbox.setting-form-checkbox
										label.form-checkbox__label.setting-form-checkbox__label(for='formCheckbox-13', data-placement='right', title='Пункт будет находится в «Системы» → «Ещё»', data-toggle='tooltip')
											input#formCheckbox-13.form-checkbox__input.setting-form-checkbox__input(type='checkbox', name='checkbox_nav_item13')
											span.form-checkbox__text.setting-form-checkbox__text Стандарты РосКосмос
									.form-checkbox.setting-form-checkbox
										label.form-checkbox__label.setting-form-checkbox__label(for='formCheckbox-14', data-placement='right', title='Пункт будет находится в «Системы» → «Ещё»', data-toggle='tooltip')
											input#formCheckbox-14.form-checkbox__input.setting-form-checkbox__input(type='checkbox', name='checkbox_nav_item14')
											span.form-checkbox__text.setting-form-checkbox__text SAP SSH
									.form-checkbox.setting-form-checkbox
										label.form-checkbox__label.setting-form-checkbox__label(for='formCheckbox-15', data-placement='right', title='Пункт будет находится в «Системы» → «Ещё»', data-toggle='tooltip')
											input#formCheckbox-15.form-checkbox__input.setting-form-checkbox__input(type='checkbox', name='checkbox_nav_item15', checked='')
											span.form-checkbox__text.setting-form-checkbox__text СААРЦ
									.form-checkbox.setting-form-checkbox
										label.form-checkbox__label.setting-form-checkbox__label(for='formCheckbox-16', data-placement='right', title='Пункт будет находится в «Системы» → «Ещё»', data-toggle='tooltip')
											input#formCheckbox-16.form-checkbox__input.setting-form-checkbox__input(type='checkbox', name='checkbox_nav_item16')
											span.form-checkbox__text.setting-form-checkbox__text Газпром Системы
									.form-checkbox.setting-form-checkbox
										label.form-checkbox__label.setting-form-checkbox__label(for='formCheckbox-17', data-placement='right', title='Пункт будет находится в «Системы» → «Ещё»', data-toggle='tooltip')
											input#formCheckbox-17.form-checkbox__input.setting-form-checkbox__input(type='checkbox', name='checkbox_nav_item17', disabled='')
											span.form-checkbox__text.setting-form-checkbox__text Больше систем
								.form-checkbox-button-wrap
									button.button.form-setting-button(type='reset', data-toggle='collapse', data-target='#headerNavSetting') Отмена
									button.button.form-setting-button(type='submit', data-toggle='collapse', data-target='#headerNavSetting') Применить
	.menu-left-navigation
		.container
			.row
				.col-xl-3
					nav.menu-left
						.menu-left-wrap
							.menu-left__list
								.menu-left__item.menu-left__item-head
									.nav-more.menu-left-more.btn-group
										button#navMoreListControl.menu-left-more__button(type='button', aria-haspopup='true', aria-expanded='false')
											| Новости 
											i.icon-arrow-down
										ul.nav-more-list.menu-left-more__list.dropdown-menu
											li.nav-more-list__item.menu-left-more__box.menu-left__box
												a.menu-left__item.menu-left-more__item(href='#')
													.menu-left__text.menu-left-more__link
														span КОМПАНИЯ
											li.nav-more-list__item.menu-left-more__box.menu-left__box
												a.menu-left__item.menu-left-more__item(href='#')
													.menu-left__text.menu-left-more__link
														span СОТРУДНИКАМ
											li.nav-more-list__item.menu-left-more__box.menu-left__box
												a.menu-left__item.menu-left-more__item(href='#')
													.menu-left__text.menu-left-more__link
														span БАТАШЕВСКАЯ ПРЕМИЯ
											li.nav-more-list__item.menu-left-more__box.menu-left__box
												a.menu-left__item.menu-left-more__item(href='#')
													.menu-left__text.menu-left-more__link
														span ПРОИЗВОДСТВЕННАЯ СИСТЕМА
											li.nav-more-list__item.menu-left-more__box.menu-left__box
												a.menu-left__item.menu-left-more__item(href='#')
													.menu-left__text.menu-left-more__link
														span БИБЛИОТЕКА
											li.nav-more-list__item.menu-left-more__box.menu-left__box
												a.menu-left__item.menu-left-more__item(href='#')
													.menu-left__text.menu-left-more__link
														span ГАЛЕРЕЯ
											li.nav-more-list__item.menu-left-more__box.menu-left__box
												a.menu-left__item.menu-left-more__item(href='#')
													.menu-left__text.menu-left-more__link
														span СПОРТ
											li.nav-more-list__item.menu-left-more__box.menu-left__box
												a.menu-left__item.menu-left-more__item(href='#')
													.menu-left__text.menu-left-more__link
														span КОНТАКТЫ
									button#menuLeftListControl.menu-left-control.active(type='button', data-toggle='collapse', data-target='#menuLeftList', aria-expanded='false', aria-controls='menuLeftList')
								#menuLeftItemCurrent.menu-left__item.menu-left__item-current
							ul#menuLeftList.menu-left__list.collapse.menuLeftList-group.show
								li.menu-left__box
									a.menu-left__item(href='#')
										.menu-left__text
											span КОМПАНИЯ
								li.menu-left__box
									a.menu-left__item(href='#')
										.menu-left__text
											span СОТРУДНИКАМ
								li.menu-left__box
									a.menu-left__item(href='#')
										.menu-left__text
											span БАТАШЕВСКАЯ ПРЕМИЯ
								li.menu-left__box
									a.menu-left__item(href='#')
										.menu-left__text
											span ПРОИЗВОДСТВЕННАЯ СИСТЕМА
								li.menu-left__box
									a.menu-left__item(href='#')
										.menu-left__text
											span БЛАГОТВОРИТЕЛЬНОСТЬ
								li.menu-left__box
									a.menu-left__item(href='#')
										.menu-left__text
											span БИБЛИОТЕКА
								li.menu-left__box
									a.menu-left__item(href='#')
										.menu-left__text
											span ГАЛЕРЕЯ
								li.menu-left__box
									a.menu-left__item(href='#')
										.menu-left__text
											span СПОРТ
								li.menu-left__box
									a.menu-left__item(href='#')
										.menu-left__text
											span КОНТАКТЫ
				.col-xl-9
					nav.menu-horizontal
						ul.menu-horizontal__list
							li.menu-horizontal__box
								a.menu-horizontal__item(href='#')
									span.menu-horizontal__text НОВОСТИ ОМК
							li.menu-horizontal__box
								a.menu-horizontal__item.current(href='#')
									span.menu-horizontal__text РЕГИОНАЛЬНЫЕ НОВОСТИ
							li.menu-horizontal__box
								a.menu-horizontal__item(href='#')
									span.menu-horizontal__text ПС ОМК
							li.menu-horizontal__box
								a.menu-horizontal__item(href='#')
									span.menu-horizontal__text НОВОСТИ ПОДРАЗДЕЛЕНИЙ
							li.menu-horizontal__box
								a.menu-horizontal__item(href='#')
									span.menu-horizontal__text НОВОСТИ ФОНДА
							li.menu-horizontal__box.menu-horizontal__box-more
								.menu-horizontal__item.menu-horizontal__item-more
									.nav-more.btn-group
										button.button.header-button.headerNavSystem-button(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
											| Ещё 
											i.icon-arrow-down
										ul.nav-more-list.dropdown-menu.dropdown-menu-right
											li.nav-more-list__item
												a.link.link-nav.nav-more-list__link(href='#') Блоги
											li.nav-more-list__item
												a.link.link-nav.nav-more-list__link(href='#') Газпром новости
											li.nav-more-list__item
												a.link.link-nav.nav-more-list__link(href='#') SAP новости
											li.nav-more-list__item
												a.link.link-nav.nav-more-list__link(href='#') Производственные новости
											li.nav-more-list__item
												a.link.link-nav.nav-more-list__link(href='#') Системы Всех новостей
											li.nav-more-list__item
												a.link.link-nav.nav-more-list__link(href='#') SAP SSH
											li.nav-more-list__item
												a.link.link-nav.nav-more-list__link(href='#') Ширина под самое длинное название с учетом Bold
					.breadcrumb-wrap
						.breadcrumb
							.breadcrumb-group
								a.breadcrumb__link(href='#') Главная
								a.breadcrumb__link(href='#') Новости
							.breadcrumb-back
								a.breadcrumb__link(href='#') &lt;&lt;Назад