// mixins ------------------------------------------------------------------------------------------------------------
mixin iconItemsTabel($items)
	each $item in $items
		td
			i.main-icon__img(class= $item, data-icon= $item, data-icon-item)

mixin iconLinksBlock($icon, $text, $id)
	.card.card-links.main-icon__card.margin-bottom-0.padding-bottom-xl-30
		.card-links-wrap
			.card-links__img
				.card-links__imgbox.main-icon__imgbox
					i.main-icon__img(class= $icon, data-icon= $icon)
			.card-links__items.main-icon__items
				.card-links__item.card-links__lnkbox.card-links__head.main-icon__item
					.card-links__left
						button.card-links__lnk.main-icon__title(type="button", data-edit="true")= $text
						.main-icon__inputs.hide
							label.form-label.margin-bottom-5.font-size-14(for="mainIconInputTitle-"+$id) Название
							input.form__input.main-icon__input.margin-bottom-15.current(id="mainIconInputTitle-" + $id, name="title", maxlength="24", placeholder="Название системы")
							label.form-label.margin-bottom-5.font-size-14(for="mainIconInputLink-"+$id) Ссылка
							input.form__input.main-icon__input.margin-bottom-5(id="mainIconInputLink-"+$id,name="title", placeholder="Введите ссылку")
					.card-links__right
						button.card-links__lnk.card-links__lnk_small.link-special.color-thin.main-icon__button(type="button", data-edit) Редактировать
						button.card-links__lnk.card-links__lnk_small.link-special.color-thin.main-icon__button(type="button", data-remove) Удалить
						button.card-links__lnk.card-links__lnk_small.link-special.color-thin.main-icon__button.hide(type="button", data-save) Сохранить
						button.card-links__lnk.card-links__lnk_small.link-special.color-thin.main-icon__button.hide(type="button", data-cancel) Отменить

// content -----------------------------------------------------------------------------------------------------------
form.form.main-icon
	.row
		.col-12
			.card.margin-bottom-15
				.content-titlebox
					h2 Свои иконки меню "Системы"
	.row
		.col-sm-3
			.card-icons.main-icon__images
				table
					tbody
						tr
							- var items = ['icon-burg','icon-more','icon-close','icon-search']
							+iconItemsTabel(items)
						tr
							- var items = ['icon-shop_cart','icon-filters','icon-like','icon-fire-2']
							+iconItemsTabel(items)
						tr
							- var items = ['icon-see','icon-heart','icon-mark','icon-symbol']
							+iconItemsTabel(items)

		.col-sm-9
			+iconLinksBlock('icon-heart', 'Моя любимая пиццерия', '1')
			+iconLinksBlock('icon-fire-2', 'Сайт важного партнера', '2')
			+iconLinksBlock('icon-aircraft', 'Моя любимая пиццерия', '3')
			+iconLinksBlock('icon-shop_cart', 'Моя любимая пиццерия', '4')

			.card.text-right.margin-bottom-0.bg-color-light.main-icon__buttons
				button.button.button-border.button-width-142.margin-right-30.button-height-30.main-icon__button_primary(type="button", data-add) Добавить
				button.button.button-border.button-width-142.button-height-30.main-icon__button_primary(type="submit") Применить