.card
	//- - var tableClass = '.table-horizontal-line';
	table.table(class=tableClass)
		thead
			tr
				th #
				th Наименование
				th Подразделение
				th Описание
				th Дата
		tbody
			tr
				td # 10
				td Система "Айсберг 34-М18-Т"
				td Подразделение ВМЗ по настройке технических решений
				td Программно-аппаратный комплекс для производства сложных изделий из металла
				td 23.12.2019
			tr
				td # 2451 отступ слева 15px
				td База данных "МИГ"
				td Подразделение ВМЗ по настройке технических решений
				td Актуальная база для решений программного комплекса ТШГ-251, редакция 6250
				td 23.12.2019 Учитывается отступ в 15px справа
			tr
				td # 10
				td Система "Айсберг 34-М18-Т"
				td Подразделение ВМЗ по настройке технических решений
				td Программно-аппаратный комплекс для производства сложных изделий из металла
				td 23.12.2019
			tr
				td # 2451 отступ слева 15px
				td База данных "МИГ"
				td Подразделение ВМЗ по настройке технических решений
				td Актуальная база для решений программного комплекса ТШГ-251, редакция 6250
				td 23.12.2019 Учитывается отступ в 15px справа