.row
	.col-12
		.card
			.content-titlebox_dark
				h4 ТЕКСТ
.bg-color-light.padding-30.margin-bottom-30
	.row
		.col-9
			.card
				.card__title
					h2.font-size-32.margin-bottom-15 Заголовок с тегом h2, PT Serif, 32, Regular
					h3.font-size-28.margin-bottom-15 Заголовок с тегом h3, PT Serif, 28, Regular
					h3.font-size-24.margin-bottom-15 Заголовок с тегом h4, PT Serif, 24, Regular
			.card
				.card__list
					ul
						li Пункт списка
						li Пункт списка
						ul
							li Пункт списка
							li Пункт списка
				.card__list
					ol
						li Пункт списка
						li Пункт списка
						ol
							li Пункт списка
							li Пункт списка
							ol
								li Пункт списка
								li Пункт списка
								ol
									li Пункт списка

			.article.margin-bottom-15
				.article-quote
					blockquote.article-blockquote
						| «Металлургия – базовая отрасль промышленности, одна из основных. Не развивая производство продукции из стали, не развивая производство листа, труб, колес для железнодорожных вагонов мы будем не конкурентоспособны. Такие предприятия, где используются современные технологии и оборудование, где оптимизированы все бизнес-процессы, где активно применяются цифровые технологии, позволяют развивать всю нашу промышленность. ВМЗ выпускает конкурентоспособную продукцию, аналогов которой в мире не так много. Можно только пожелать успехов предприятию, порадоваться за регион. Что еще важно: предприятие выполняет социальные обязательства, развивая территории, на которых оно работает», - отметил после посещения ВМЗ заместитель министра промышленности и торговли России Виктор Евтухов.
				.article-text
					p
						| Если в названии или описании йогурта написано, что он термизированный или стерилизованный, то можно с уверенностью сказать, что данный продукт в ходе его производства подвергался термической обработке (это так называемый «неживой» йогурт). В процессе такой обработки погибли не только вредные, но и полезные микроорганизмы, так необходимые нашему организму. В результате чего срок годности такого йогурта может достигать 30 дней и более.
					p
						| Однако хоть в ходе термообработки и погибают все полезные биологические культуры, «неживой» йогурт может принести определенную пользу вашему организму, ведь он богат белками, углеводами и жирами, витаминами и минералами.