@font-face {
    font-family: 'PT Serif';
    src: url('../fonts/pt_serif/PTSerif-Bold.eot');
    src: url('../fonts/pt_serif/PTSerif-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/pt_serif/PTSerif-Bold.woff2') format('woff2'),
        url('../fonts/pt_serif/PTSerif-Bold.woff') format('woff'),
        url('../fonts/pt_serif/PTSerif-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'PT Serif';
    src: url('../fonts/pt_serif/PTSerif-BoldItalic.eot');
    src: url('../fonts/pt_serif/PTSerif-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/pt_serif/PTSerif-BoldItalic.woff2') format('woff2'),
        url('../fonts/pt_serif/PTSerif-BoldItalic.woff') format('woff'),
        url('../fonts/pt_serif/PTSerif-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'PT Serif';
    src: url('../fonts/pt_serif/PTSerif-Regular.eot');
    src: url('../fonts/pt_serif/PTSerif-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/pt_serif/PTSerif-Regular.woff2') format('woff2'),
        url('../fonts/pt_serif/PTSerif-Regular.woff') format('woff'),
        url('../fonts/pt_serif/PTSerif-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PT Serif';
    src: url('../fonts/pt_serif/PTSerif-Italic.eot');
    src: url('../fonts/pt_serif/PTSerif-Italic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/pt_serif/PTSerif-Italic.woff2') format('woff2'),
        url('../fonts/pt_serif/PTSerif-Italic.woff') format('woff'),
        url('../fonts/pt_serif/PTSerif-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

