.row
	.col-12
		.card.padding-top-15
			.content-titlebox_dark
				h4 ПАЛИТРА
	- var colors = [];
	- colors.push({code: '#FFFFFF', class: 'bg-color-light'});
	- colors.push({code: '#FBFBFB', class: 'bg-color-light-1'});
	- colors.push({code: '#EEEFEF', class: 'bg-color-dark-1'});
	- colors.push({code: '#E0E1E2', class: 'bg-color-dark-2'});
	- colors.push({code: '#DDDEE0', class: 'bg-color-dark-3'});
	- colors.push({code: '#D0D1D3', class: 'bg-color-dark-4'});
	- colors.push({code: '#BCBDC0', class: 'bg-color-dark-5'});
	- colors.push({code: '#A5A6AA', class: 'bg-color-dark-6'});
	- colors.push({code: '#A1A3A7', class: 'bg-color-dark-7'});
	- colors.push({code: '#797C82', class: 'bg-color-dark-8'});
	- colors.push({code: '#5E6167', class: 'bg-color-dark-9'});
	- colors.push({code: '#000000', class: 'bg-color-dark-10'});
	- colors.push({code: '#008330', class: 'bg-color-danger'});
	- colors.push({code: '#008330', class: 'bg-color-success'});
	- colors.push({code: '#008ACC', class: 'bg-color-blue'});
	- colors.push({code: '#EE9800', class: 'bg-color-warning'});

	each color in colors
		.col-2
			.card
				.box.height-65.bg-color-light(class= color.class)
				.card__text.text-center.h-auto
					p= color.code