.row
	.col-12
		.card
			.content-titlebox_dark
				h4 ШРИФТЫ
	.col-6.clearfix
		.card.margin-right-20.float-left.w-auto
			.content__title
				h2.font-size-40 Aa
			.card__text.h-auto
				p PT Serif
		.card.margin-right-20.float-left.w-auto
			.card__text.h-auto
				p.margin-bottom-0 Regular
				p.margin-bottom-0
					i Regular Italic
				p.margin-bottom-0
					b Bold
				p.margin-bottom-0
					b
						i Bold Italic
				p.margin-bottom-0
					u Underline

		.card.w-auto
			.card__text.h-auto
				p Основной шрифт для заголовков, текста новостей, и большинства текстовых блоков

	.col-6.clearfix
		.card.margin-right-20.float-left.w-auto
			.content-text.margin-bottom-0
				h2.font-size-40 Aa
			.content-text
				p Roboto
		.card.margin-right-20.float-left.w-auto
			.content-text
				p.margin-bottom-0 Regular
				p.margin-bottom-0
					i Regular Italic
				p.margin-bottom-0
					b Bold
				p.margin-bottom-0
					b
						i Bold Italic
				p.margin-bottom-0
					u Underline

		.card.w-auto
			.content-text
				p Более системный шрифт, чаще используется для информационных элементов типа кнопок, меню и т.п.