article(id=ID).article
  .card
    .content-title
      .article-title.content-titlebox
        h3 День поедателей йогуртов
    .article-imgwrap
      .article-imgbox.article-imgbox_full(style='background-image: url(img/article-img-05.jpg);')
    .article-quote
      blockquote.article-blockquote
        | Правило тут достаточно простое: чем меньше срок годности йогурта, тем он натуральнее. Так называемый «живой» йогурт может храниться при температуре 2-6 градусов Цельсия максимум 2-3 недели. Если же на упаковке указан большой срок годности (свыше 3-4 недель), то вряд в данном йогурте вряд ли содержаться полезные пробиотики. Ведь увеличить срок хранения йогурта можно только за счет его термообработки, в результате которой все полезные микроорганизмы погибают.
    .article-text
      p
        | Если в названии или описании йогурта написано, что он термизированный или стерилизованный, то можно с уверенностью сказать, что данный продукт в ходе его производства подвергался термической обработке (это так называемый «неживой» йогурт). В процессе такой обработки погибли не только вредные, но и полезные микроорганизмы, так необходимые нашему организму. В результате чего срок годности такого йогурта может достигать 30 дней и более.
      p
        | Однако хоть в ходе термообработки и погибают все полезные биологические культуры, «неживой» йогурт может принести определенную пользу вашему организму, ведь он богат белками, углеводами и жирами, витаминами и минералами.
    .article-autor
      p Автор статьи: Елена Мацинова